
<ol class="breadcrumb-base">
  <li ng-repeat="breadcrumb in breadcrumbs" ng-class="{'active': $last}">
    <a ng-if="$first" ng-click="href(breadcrumb)">{{ breadcrumb.label }}</a>
    <a ng-if="!$last && !$first" ng-click="href(breadcrumb)">{{ breadcrumb.label }}</a>
    <span ng-if="$last" ng-click="href(breadcrumb)">{{ breadcrumb.label }}</span>
  </li>
</ol>

<div class="app-cabinet-header">
  <h1 ng-bind="pageTitle"></h1>
</div>