<!DOCTYPE html>
<html ng-app="common-demo">
    <head>
        <title ng-bind="pageTitle"></title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="assets/hcs-common.css"/>
        <link rel="stylesheet" type="text/css" href="assets/hcs-modules-demo.css"/>

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>

        <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
        <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    </head>
    <style>
        .panel {
            background-color: #FFFFFF !important;
        }
    </style>
    <body  ng-controller="AppController">


    <%
    var namesMap = {
    'ef-org/ef-org-demo.tpl.html' : 'Модальное окно добавления, изменения, просмотра организации (ЭФ_ДОБОРГ, ЭФ_ИЗМОРГ, ЭФ_ПРОРГ)',
    'ef-fl/ef-fl-demo.tpl.html' : 'Модальное окно добавления, изменения, просмотра физического лица (ЭФ_ИЗМФЛ, ЭФ_ДОБФЛ, ЭФ_ПРФЛ)',
    'ef-vbfl/ef-vbfl-demo.tpl.html' : 'Модальное окно выбора физичекого лица (ЭФ_ВБФЛ)',
    'ef-vborg/ef-vborg-demo.tpl.html' : 'Модальное окно выбора организации (ЭФ_ВБОРГ)',
    'attachment-element/attachment-element-demo.tpl.html' : 'Attachment Element',
    'dialogs/dialogs-demo.tpl.html' : 'Диалоги сообщений',
    'ef-bp/ef-bp-demo.tpl.html'     : 'Блок поиска (ЭФ_БП)',
    'ef-bpp/ef-bpp-demo.tpl.html'   : 'Блок прикрепленных файлов (ЭФ_БПП)',
    'ef-ivs/ef-ivs-demo.tpl.html'   : 'История событий (ЭФ_ИВС)',
    'ef-pa/ef-pa-demo.tpl.html'     : 'Блок поиска адреса по ФИАС (ЭФ_ПА)',
    'ef-prf/ef-prf-demo.tpl.html'   : 'Блок прикрепления файла (ЭФ_ПрФ)',
    'ef-vd/ef-vd-demo.tpl.html'     : 'Модальное окно для выбора дома (ЭФ_ВД)',
    'ef-spr/ef-spr-demo.tpl.html'   : 'Экранная форма выбора значения из справочника (ЭФ_СПР)',
    'ef-vop/ef-vop-demo.tpl.html'   : 'Группа полей для выбора отчетного периода (ЭФ_ВОП)',
    'ef-vpom/ef-vpom-demo.tpl.html' : 'Модальное окно для выбора помещения (ЭФ_ВПОМ)',
    'ef-vva/ef-vva-demo.tpl.html'   : 'Модальное окно выбора адреса по ФИАС (ЭФ_ВвА)',
    'ef-poktmo/ef-poktmo-demo.tpl.html'   : 'Блок контекстного поиска записи в ОКТМО (ЭФ_ПОКТМО)',
    'ef-voktmo/ef-voktmo-demo.tpl.html'   : 'Экранная форма выбора значений из справочника ОКТМО (ЭФ_ВОКТМО)',
    'hcs-datepicker/hcs-datepicker-demo.tpl.html'   : 'Компонент выбора даты',
    'ngjqgrid/ngjqgrid-demo.tpl.html'               : 'Грид',
    'required-field/required-field-demo.tpl.html'   : 'Required Field',
    'tables/hcs-table/hcs-table-demo.tpl.html'      : 'Таблица с ЭФ КМН (серверный пейджинг)',
    'resources/resources-demo.tpl.html'      : 'Backend resources (REST)',
    'tables/ng-simple-grid-demo/ng-simple-grid-demo.tpl.html': 'Компонент ng-simple-grid',
    'ef-kmn/ef-kmn-demo.tpl.html' : 'Компонент межстраничной навигации (ЭФ_КМН)',
    'filters/filters-demo.tpl.html' : 'Фильтры',
    'message-panel/message-panel-demo.tpl.html': 'Область вывода сообщения (ЭФ_ОВС)',
    'user-info/user-info-demo.tpl.html' : 'Общая информация в личном кабинете',
    'ef-vmig/ef-vmig-demo.tpl.html' : 'Группа полей для выбора месяца и года (ЭФ_ВМИГ)',
    'ef-vmpg/ef-vmpg-demo.tpl.html' : 'Группа полей для выбора периода месяц-год (ЭФ_ВПМГ)',
    'ef-vkom/ef-vkom-demo.tpl.html': 'Модальное окно для выбора комнаты (ЭФ_ВКОМ)',
    'multiselect/multiselect-demo.tpl.html' : 'Мультиселект (ЭФ_МВВС)',
    'hcs-daterange/hcs-daterange-demo.tpl.html'   : 'Компонент выбора диапазона дат',
    'ef-kporg/ef-kporg-demo.tpl.html' : 'Блок контекстного поиска организации (ЭФ_КПОРГ)',
    'validate/validate-demo.tpl.html' : 'Образец валидатора input',
    'hcs-popover/hcs-popover-demo.tpl.html' : 'Кастомный popover',
    'hcs-spinner/hcs-spinner-demo.tpl.html' : 'Spinner'
    };
    %>


        <div class="page-wrapper">

            <div class="app-header-wrapper" id="overview">
                <div class="container">
                    <div class="app-header" ng-include="'blocks/header.tpl.html'"></div>
                </div>
            </div>

            <div class="app-header-breadcrumbs-wrapper">
                <div class="container">
                    <h1 id="top">Общие элементы интерфейсов, варианты использования</h1>
                </div>
            </div>

            <div class="app-content-wrapper">
                <div class="container">

                    <div class="section-base">
                        <ul>
                            <li><a href
                                   onclick="$('#loading-dialog').show()">Показать прелодер</a></li>
                            <% demos.forEach( function ( file ) { %>
                            <li><a href="#<%= file %>" target="_self"><%= namesMap[file] ? namesMap[file] : file %></a></li>
                            <% }); %>
                        </ul>
                    </div>

                    <% demos.forEach( function ( file ) { %>
                    <demo-code-block
                        id="<%= file%>"
                        demo-file="<%= file %>"
                        title="<%= namesMap[file] ? namesMap[file] : file %>"
                        show-source="showDemo"
                        ></demo-code-block>
                    <% }); %>

                </div>

            </div>


            <div class="app-footer-wrapper">
                <div class="container" ng-include="'blocks/footer.tpl.html'">
                </div>
            </div>
        </div>

    <ng-include src="'blocks/preloader.tpl.html'"></ng-include>

    </body>
</html>
