// Adjustemts

// Margin ->
.b-adj_mg-t_none {
  margin-top: 0;
}

.b-adj_mg-t_xxs {
  margin-top: 1px;
}

.b-adj_mg-t_xs {
  margin-top: 5px;
}

.b-adj_mg-t {
  margin-top: 20px;
}

.b-adj_mg-r_none {
  margin-right: 0;
}

.b-adj_mg-r_xxs {
  margin-right: 1px;
}

.b-adj_mg-r_xs {
  margin-right: 5px;
}

.b-adj_mg-r {
  margin-right: 20px;
}

.b-adj_mg-l_xxs {
  margin-left: 1px;
}

.b-adj_mg-t_md {
  margin-top: 30px;
}

.b-adj_mg-b_none {
  margin-bottom: 0;
}

.b-adj_mg-b_xxs {
  margin-bottom: 1px;
}

.b-adj_mg-b {
  margin-bottom: 20px;
}

.b-adj_mg-b_md {
  margin-bottom: 30px;
}

.b-adj_mg-l {
  margin-left: 20px;
}
// Margin <-

// Padding ->
.b-adj_pd-t {
  padding-top: 20px;
}
.b-adj_pd-t_xxs {
  padding-top: 1px;
}

.b-adj_pd-b_xxs {
  padding-bottom: 1px;
}

.b-adj_pd-b_xxs_double {
  padding-bottom: 2px;
}

.b-adj_pd-b_xs {
  padding-bottom: 5px;
}

.b-adj_pd-l_xxs {
  padding-left: 1px;
}
.b-adj_pd-l_xxs_double {
  padding-left: 2px;
}
.b-adj_pd-r_xxs {
  padding-right: 1px;
}

.b-adj_pd-r_xxs_double {
  padding-right: 2px;
}

.b-adj_pd-none {
  padding:0;
}
// Padding <-

// Vertical align
.b-adj_va_t {
  vertical-align: top;
}