@font-face {
  font-family: 'fontello';
  src: url('@{icon-font-path}fontello.eot?46808329');
  src: url('@{icon-font-path}fontello.eot?46808329#iefix') format('embedded-opentype'),
       url('@{icon-font-path}fontello.woff?46808329') format('woff'),
       url('@{icon-font-path}fontello.ttf?46808329') format('truetype'),
       url('@{icon-font-path}fontello.svg?46808329#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok-circled2:before { content: '\e800'; } /* '' */
.icon-ccw:before { content: '\e801'; } /* '' */
.icon-attention-alt:before { content: '\e802'; } /* '' */