/* Default application table styles and mods */


.app-table {
  display: table;
  width: 100%;


  //Mods
  &.app-table_clear {
    tbody {
      tr {
        td {
          &:first-child {
            border-right: 7px solid transparent;
          }
        }
      }
    }
  }
}
