.btn-warning {
  color: @color-core-white;
  background-color: @color-btn-warning;
  border-color: @color-btn-warning;

  &:hover, &:focus {
    color: @color-core-white;
    background-color: @color-btn-warning-hover;
    border-color: @color-btn-warning-hover;
  }
}

.btn__icon{
    padding-right: 6px;
    top: 2px;
}

.btn__icon_right{
  padding-left: 6px;
  top: 2px;
}

.btn_md{
  font-size:16px;
}