// APP BUTTONS
.btn {
  padding: 4px 12px;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 3px;
}

// BTN SIZES
.btn-md {
  padding: 6px 12px;
}

.btn_fn_lg {
  font-size: 16px;
  line-height: 1.33;
}


// BTN CUSTOM STYLES
.btn-link {
  color: @color-link;

  &:hover, &:focus {
    color: @color-link-hover;
  }
}

.btn-prime {
  color: @color-core-white;
  background-color: @color-btn-prime;
  border-color: @color-btn-prime;

  &:hover, &:focus {
    color: @color-core-white;
    background-color: @color-btn-prime-hover;
    border-color: @color-btn-prime-hover;
  }
}

.btn-action {
  color: @color-core-white;
  background-color: #4e9b30;
  border-color: #4e9b30;

  &:hover, &:focus {
    color: @color-core-white;
    background-color: #488f2c;
    border-color: #488f2c;
  }
}

.btn-action-lg {
  color: #224d72;

  background-color: #fbfbfc;
  background-image: -webkit-linear-gradient(top, #e0e8ed, #fbfbfc);
  background-image: linear-gradient(to bottom, #e0e8ed, #fbfbfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e8ed', endColorstr='#fbfbfc', GradientType=0 );

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);

  &:hover, &:focus {
    color: #224d72;
  }
}

.btn-cancel {
  color: @color-core-white;
  background-color: #5a6874;
  border-color: #5a6874;

  &:hover, &:focus {
    color: #ffffff;
    background-color: #505c66;
    border-color: #505c66;
  }
}

.btn-tag {
  font-weight: 700;
  color: #222222;
  background-color: #dcdfe2;

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, .25);

  .app-icon {
    color: #8f8f8f;
  }

  .app-icon-delete {
    //...
  }

  &:hover, &:focus {
    color: #222222;
    background-color: #dcdfe2;

    .app-icon-delete {
      color: #b90000;
    }
  }
}

.btn-multi {
  white-space: normal;
  text-align: left;
}

.btn-multi__label {
  display: block;
  position: relative;
}

.btn-multi_prev {
  //...

  .btn-multi__label {
    padding-left: 24px;
  }
}

.btn-multi_next {
  //...

  .btn-multi__label {
    padding-right: 24px;
  }
}

.btn-multi__icon {
  position: absolute;

  margin: auto;

  top: 0;
  bottom: 0;

  font-size: 16px;
  line-height: 1;

  height: 16px;
}

.btn-multi_prev {
  //...

  .btn-multi__icon {
    left: 0;
  }
}

.btn-multi_next {
  //...

  .btn-multi__icon {
    right: 0;
  }
}