// APP CONTENT ADJUSTMENTS

// Color ->
.cnt_cl_success {
  color: #268300;
}

.cnt_cl_murky {
  color: #767676;
}

.cnt_cl_warning {
  color: #e60e0e;
}

.cnt-date_cl_multicolor{
  .mark-time{
    color:#868686;
  }
}
// Color <-