// GRID INDENT ADJUSTMENTS
.row_indent_xxs {
  margin-left: -2px;
  margin-right: -2px;
}

.col_indent_xxs {
  padding-left: 2px;
  padding-right: 2px;
}

.form-horizontal_indent_xxs {
  //...

  .form-group {
    margin-left: -2px;
    margin-right: -2px;
  }
}


.row_indent_xs {
  margin-left: -5px;
  margin-right: -5px;
}

.col_indent_xs {
  padding-left: 5px;
  padding-right: 5px;
}

.form-horizontal_indent_xs {
  //...

  .form-group {
    margin-left: -5px;
    margin-right: -5px;
  }
}