// APP ICONS

// Common
.app-icon {
  //...
}

.gis-icon {
  position: relative;
  top: 1px;
  display: inline-block;

  &._top-2{
    top:2px;
  }

}



// Colors
.app-icon_cl_action {
  color: #4e9b30;
}

.app-icon_cl_prime {
  color: #026bbc;
}

.app-icon_cl_warning {
  color: #dfa50a;
}

.app-icon_cl_flash {
  color: #ffbd0b;
}

.app-icon_cl_sun {
  color: #e8af00;
}

.app-icon_cl_fire {
  color: #ec5e26;
}

.app-icon_cl_danger {
  color: #cc421d;
}

.app-icon_cl_hoar {
  color: #acb3b8;
}

.app-icon_cl_steel {
  color: #8c9195;
}

.app-icon_cl_slate {
  color: #7f8387;
}
.app-icon_cl_asphalt {
  color: #88888e;
}


.app-icon_cl_leaden {
  color: #8d8d8d;
}

.app-icon_cl_snow {
  color: #ffffff;
}

// Colors gis-icon
.gis-icon_cl_water {
  color: #2489c2;
}

.gis-icon_cl_warning {
  color: #ffa800;
}

.gis-icon_cl_danger {
  color: #f43802;
}

.gis-icon_cl_action {
  color: #4e9b30;
}
// Attribute icon (metering devices)
.icon-attr {
  display: inline-block;

  width: 28px;
  height: 28px;

  line-height: 28px;
  text-align: center;

  background-color: #eaf4f8;

  background-image: -webkit-linear-gradient(top, #ffffff, #eaf4f8);
  background-image: linear-gradient(to bottom, #ffffff, #eaf4f8);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaf4f8', GradientType=0 );

  border-radius: 3px;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
          box-shadow: 0 1px 2px rgba(0,0,0,.4);
}




.icon-attr_multi {
  padding-left: 10px;
  padding-right: 10px;

  width: auto;
}

.icon-attr__icon {
  font-size: 18px;
  line-height: 28px;
}

.icon-attr__icon_sm {
  font-size: 14px;
}

// Hexagon icon (objects search)
.icon-hexagon {
  display: inline-block;

  width: 30px;
  height: 30px;

  line-height: 30px;
  text-align: center;

  background: url("@{imgPath}/ui/hexagon.png") left top no-repeat;
  content: "";
}

.icon-hexagon__icon {
  font-size: 16px;
  line-height: 30px;
}


// Text + icon (should be in separate file)
.cnt-ti {
  display: inline-block;
  position: relative;

  padding-left: 20px;
}

.cnt-ti__icon {
  display: block;
  position: absolute;

  top: 0;
  left: 0;

  line-height: inherit;
}

// Caret ->
.caret_lg {
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.caret-up_lg {
  border-bottom: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
// Caret <-



// Required content ->
._required {
  position: relative;

  &.required:after, &._required:after {
    content:"*";

    position: absolute;

    top: -4px;
    right: -8px;

    font-size: 16px;

    color: #b90000;
  }
}
// Required content <-


/*KZAYTSEV*/




/*KZAYTSEV END*/