// Files icons ->

.icon-file-mixin(@file-type) {

  background-image: url("@{imgPath}/ui/files-type/icon-@{file-type}.png");

}

.icon-file {
  background-position: left top;
  background-repeat: no-repeat;
  .icon-file-mixin('no-type');


  &.icon-file_xls {
    .icon-file-mixin('xls');
  }
  &.icon-file_xlsx {
    .icon-file-mixin('xlsx');
  }

  &.icon-file_csv {
    .icon-file-mixin('csv');
  }

  &.icon-file_rtf {
    .icon-file-mixin('rtf');
  }
  &.icon-file_doc {
    .icon-file-mixin('doc');
  }
  &.icon-file_docx {
    .icon-file-mixin('docx');
  }

  &.icon-file_txt {
    .icon-file-mixin('txt');
  }

  &.icon-file_jpg {
    .icon-file-mixin('jpg');
  }
  &.icon-file_jpeg {
    .icon-file-mixin('jpeg');
  }
  &.icon-file_bmp {
    .icon-file-mixin('bmp');
  }
  &.icon-file_gif {
    .icon-file-mixin('gif');
  }

  &.icon-file_tif {
    .icon-file-mixin('tif');
  }
  &.icon-file_tiff {
    .icon-file-mixin('tiff');
  }

  &.icon-file_odf {
    .icon-file-mixin('odf');
  }
  &.icon-file_odp {
    .icon-file-mixin('odp');
  }
  &.icon-file_ods {
    .icon-file-mixin('ods');
  }
  &.icon-file_odt {
    .icon-file-mixin('odt');
  }

  &.icon-file_pdf {
    .icon-file-mixin('pdf');
  }

  &.icon-file_zip {
    .icon-file-mixin('zip');
  }
  &.icon-file_rar {
    .icon-file-mixin('rar');
  }

  &.icon-file_sxc {
    .icon-file-mixin('sxc');
  }
  &.icon-file_sxw {
    .icon-file-mixin('sxw');
  }
}

/* Фикс для ОЧ */
.form-upload__icon {
  &.icon-file {
    &:before {
      content: "";
    }
  }
}
/* Фикс для ОЧ */

.icon-file_excel {
  background: url("@{imgPath}/ui/files-type/icon-excel.png") left top no-repeat;
}

.icon-file_pdf {
  background: url("@{imgPath}/ui/files-type/icon-pdf.png") left top no-repeat;
}

.icon-file_word {
  background: url("@{imgPath}/ui/files-type/icon-word.png") left top no-repeat;
}
// Files icons <-








.app-icon {
  cursor: pointer;
  &.app-icon_delete {
    font-size: 16px;
    margin: 9px 0 0 0;
  }
}


._icon-size_normal {
  font-size: 18px;
}
._icon-size_small {
  font-size: 14px;
}
._icon-size_big {
  font-size: 24px;
}



.icon-support-phone {
  border-radius: 50%;
  background: #abb2b8;
  color: #fff;
  font-size: 19px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: -3px 3px 0 -42px;
}

/*RAO HOUSES ICONS*/

.mkd {
  width: 100px;
  height: 56px;
  display: block;

  &.new {background: url("@{imgPath}/ui/mkd-1.png") center center no-repeat;}
  &.fine {background: url("@{imgPath}/ui/mkd-2.png") center center no-repeat;}
  &.warn {background: url("@{imgPath}/ui/mkd-3.png") center center no-repeat;}
}
.rd {
  width: 100px;
  height: 57px;
  display: block;

  &.new {background: url("@{imgPath}/ui/rd-1.png") center center no-repeat;}
  &.fine {background: url("@{imgPath}/ui/rd-2.png") center center no-repeat;}
  &.warn {background: url("@{imgPath}/ui/rd-3.png") center center no-repeat;}
}

/*RAO HOUSES ICONS END*/

/*EXTERNAL INFORMATION SYSTEM ICONS*/
.system-status {
	width: 24px;
	height: 24px;
	display: block;
	
	&.active {background: url("@{imgPath}/active.png") center center no-repeat;}
	&.blocked {background: url("@{imgPath}/blocked.png") center center no-repeat;}
}
/*EXTERNAL INFORMATION SYSTEMS ICONS END*/