// APP LINKS
a {
  color: @color-link;

  cursor: pointer;

  &:hover, &:focus {
    color: @color-link;
  }
}

// TODO: find more proper solution
// Dirty fix to normalize buttons which are links
a.btn {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }
}

// Content links
.cnt-link-hover {
  //...
}

.cnt-link {
  color: @color-link;
  text-decoration: underline;

  &:hover, &:focus {
    color: @color-link;
    text-decoration: none;
  }
}

.cnt-link_thin {
  color: @color-link;
  border-bottom: 1px solid @color-link;

  &:hover, &:focus {
    color: @color-link;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }
}

.title-link {
  text-decoration:  none;

  .title-link-hover {
    border-bottom: 1px solid @color-link;
  }

  &:hover, &:focus {
    text-decoration: none;

    .title-link-hover {
      border-color: transparent;
    }
  }
}


.cnt-link_icon {
  text-decoration:  none;


  .cnt-link-hover {
    border-bottom: 1px solid @color-link;
  }

  &:hover, &:focus {
    text-decoration: none;

    .cnt-link-hover {
      border-color: transparent;
    }
  }
}

.cnt-link_icon_static {
  text-decoration: none;


  .cnt-link-hover {
    border-bottom: 1px solid @color-link;
  }

  &:hover, &:focus {
    text-decoration: none;

    .cnt-link-hover {
      border-bottom: 1px solid transparent;
    }
  }
}

