.preloader {
  position: absolute;
  width: 300px;
  height: 183px;
  background: white;
  -webkit-border-radius: @border-radius;
  -moz-border-radius: @border-radius;
  border-radius: @border-radius;
  z-index: 100000;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;

  text-align: center;
  img {
  }
  p {
    font: bold 14px 'Roboto Condensed', sans-serif;;
    color: @color-core-body;
    margin: 15px;
  }

  .btn {
    &.btn-danger {

      display: block;
      margin:0 auto;
    }
  }
}