.show-on-hover {
  position: relative;
  .soh__trigger {
    display: inline-block;
    & .glyphicon{
      font-size:16px;
      top: 2px;
    }
    &:hover {
      & + .soh__content {
        display: block;
      }
    }
  }
  .soh__content {
    position: absolute;
    display: none;
    z-index: 1000;
    background: white;
    padding: 10px;
    white-space: nowrap;

    &:hover {
      display: block;
    }
  }

  &.show-on-hover_show-inline{
    .soh__trigger {
      display: inline-block;
      &:hover {
        & + .soh__content {
          display: inline-block;
        }
      }


    }
    .soh__content {
      position: absolute;
      display: none;
      z-index: 1000;
      white-space: nowrap;
      background: transparent;
      padding: 0;
      padding-left: 10px;

      & .warning-base__msg{
        font-size: 14px;
      }

      &:hover {
        display: inline-block;
      }
    }
  }
}