// APP SYSTEM MESSAGES
.warning-base {
  position: relative;
  margin: 0;
  padding: 0 0 0 30px;
}
.warning-base_inline {
  display: inline-block;
}
.warning-base_padding-left-20{
  padding-left: 20px;
}
.warning-base__icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: @warning-color;

  &.warning-base__icon_inline {
    display: inline;
    position: relative;
    top: auto;
    left: auto;
  }
}

.warning-base__icon_size-14{
  font-size:14px;
}

.warning-base__msg {
  min-height: 20px;
  font-size: 12px;
  color: @warning-color;
}
.warning-base_margin-left-10{
  margin-left: 10px;
}

// Warning organization
.warning-org {
  padding: 20px 0;

  text-align: center;
}

.warning-org__title {
  margin-bottom: 8px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.warning-org__msg {
  font-size: 12px;
  color: #c13416;
}


.system-msg-info {} // Common message, grey color of content
.system-msg-success {} // Success message, green color of content


// Success messages
.success-base {
  position: relative;
  margin: 10px 0;
  padding: 0 0 0 30px;
}

.success-base_inline {
  display: inline-block;
}
.success-base__icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: @success-color;
}

.success-base__msg {
  min-height: 20px;
  font-size: 12px;
  color: @success-color;
}

.error-base{
  color: @error-color;
  font-size: 12px;
  display: block;
  padding-top: 5px;
}

.error-base__msg {
  color: @error-color;
}
.system-msg-info {
  //...

  .system-msg__cnt {
    color: #8f8f8f;
  }
}

.system-msg-success {
  //...

  .system-msg__cnt {
    color: #268300;
  }
}



// SYSTEM MESSAGES ->
.system-msg {
  position: relative;
  margin-bottom: 20px;
}

.system-msg-info {} // Common message, grey color of content
.system-msg-success {} // Success message, green color of content

.system-msg_type_print-fail {
  //...
}

.system-msg__icon {
  display: block;
  position: absolute;

  top: 0;
  left: 0;

  font-size: 24px;
}

.system-msg_type_print-fail {
  //...

  .system-msg__icon {
    font-size: 32px;
  }
}

.system-msg__cnt {
  margin-left: 40px;

  min-height: 24px;

  font-size: 12px;
}

.system-msg-info {
  //...

  .system-msg__cnt {
    color: #8f8f8f;
  }
}

.system-msg-success {
  //...

  .system-msg__cnt {
    color: #268300;
  }
}

.system-msg_type_print-fail {
  //...

  .system-msg__cnt {
    margin-left: 50px;

    min-height: 32px;

    font-size: 12px;
    color: #727473;
  }
}
// SYSTEM MESSAGES <-
