<div class="container-fluid" ng-controller="efVbflDemoCtrl">
    <label for="fiasHouseCode" class="col-xs-2 control-label  form-base__control-label">Выбрать физ. лицо</label>

    <button class="btn btn-default" ng-click="selectPerson()">Единичный выбор</button>
    <button class="btn btn-default" ng-click="selectPersons()">Множественный выбор</button>
</div>