<form class="form-horizontal" role="form" name="efSvfl">
    <div class="form-group  form-base__form-group">
        <label for="lastName" class="col-xs-4 control-label  form-base__control-label">Фамилия</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='lastName'
                   name='lastName'
                   class='form-control  form-base__form-control'
                   ng-model='person.lastName'
                   placeholder='Введите фамилию'
                   required-field="!disabledMode"
                   ng-disabled="fioDisabled"
                   maxlength="60">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{person.lastName}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="firstName" class="col-xs-4 control-label  form-base__control-label">Имя</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='firstName'
                   name='firstName'
                   class='form-control  form-base__form-control'
                   ng-model='person.firstName'
                   placeholder='Введите имя'
                   required-field="!disabledMode"
                   ng-disabled="fioDisabled"
                   maxlength="60">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{person.firstName}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="middleName" class="col-xs-4 control-label  form-base__control-label">Отчество</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='middleName'
                   name='middleName'
                   class='form-control  form-base__form-control'
                   ng-model='person.middleName'
                   placeholder='Введите отчество'
                   ng-disabled="fioDisabled"
                   maxlength="60">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{person.middleName}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="sex" class="col-xs-4 control-label  form-base__control-label">Пол</label>
        <div class="col-xs-8">
            <label class="control-label form-base__control-label">
                <input type="radio"
                       name="sex"
                       id="sex"
                       ng-model="person.male"
                       data-ng-value="true"
                       ng-reguired="!disabledMode"
                       ng-disabled="disabledMode"/>М
            </label>
            <label class="control-label form-base__control-label">
            <input type="radio"
                   name="sex"
                   id="sex"
                   ng-model="person.male"
                   data-ng-value="false"
                   required-field="!disabledMode" required-error-control-id="person-sex-error-label"
                   ng-disabled="disabledMode"/>Ж
            </label>
            <span id="person-sex-error-label"></span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label class="col-xs-4 control-label  form-base__control-label" ng-class="{'required' : !disabledMode}">Дата рождения</label>
        <div class="col-xs-4">
            <hcs-datepicker ng-if="!disabledMode"
                            ng-model="person.birthDate"
                            options="birthDateOptions"
                            disabled="birthDateDisabled"></hcs-datepicker>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{person.birthDate}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="birthPlace" class="col-xs-4 control-label  form-base__control-label">Место рождения</label>
        <div class="col-xs-8">
            <textarea ng-if="!disabledMode"
                   id='birthPlace'
                   name='birthPlace'
                   class='form-control  form-base__form-control'
                   ng-model='person.birthPlace'
                   placeholder='Введите место рождения до города (населенного пункта)'
                   maxlength="500"></textarea>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{person.birthPlace}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="snils" class="col-xs-4 control-label  form-base__control-label">СНИЛС</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='snils'
                   name='snils'
                   class='form-control  form-base__form-control'
                   ng-model='person.snils'
                   ui-mask="999-999-999 99"
                   ng-disabled="snilsDisabled">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{person.snils | snils}}</span>
        </div>
    </div>
</form>