<yohtml yo-block="app-card">
    <header__title>321654</header__title>
    <header__button></header__button>

    <content>
        <yohtml yo-block="app-card__col" yo-block-match="app-card__col-2-dark">
            <content>dsfdsfdsfdsfdsfdsfdsfds</content>
        </yohtml>
    </content>
    <footer></footer>
</yohtml>