<div class="container-fluid" ng-controller="EfPoktmoCtrl">

    <ef-poktmo-form ng-model="oktmo" search-service="searchService"></ef-poktmo-form>

    <button ng-click="log()">Вывести в консоль</button>

</div>