<div class="daterange-base">
    <div class="daterange-base__control">
        <hcs-datepicker name="{{dateName}}" ng-model="date"
                        options="options">
        </hcs-datepicker>
        <span class="text-danger" ng-show="timeCtrl.$error.timeError && startDate && startTime && !dateCtrl.$error.lessThanCurrentError">{{options.timeErrorMsg}}</span>
    </div>
    <div class="daterange-base__sepor">
        <label class="control-label form-base__control-label"></label>
    </div>
    <div class="daterange-base__control">
        <hcs-time-input name="{{timeName}}" ng-model="time" options="options"></hcs-time-input>
    </div>
</div>