<!--Экранные формы сообщений, предупреждений-->
<div class="container-fluid" ng-controller="dialogsDemoCtrl">
    <button class="btn btn-default" ng-click="alertOpen()">Открыть информационное сообщение</button>
    <hr/>
    <button class="btn btn-default" ng-click="errorOpen()">Открыть сообщение об ошибке</button>
    <hr/>
    <button class="btn btn-default" ng-confirm="switchValue()"
            ng-confirm-message="Вы действительно хотите инвертировать значение переменной?">
        Инвертировать значение переменной
    </button>
    <div>{{switchedValue}}</div>
    <hr/>
    <div>{{saveStatus}}</div>
    <button class="btn btn-default" ng-click="yesNoCancelOpen()">
        Открыть Экранную форму «Подтверждение 2» (ЭФ_П2)
    </button>
    <button class="btn btn-default" ng-click="resetYesNoCancelDemo()">
        Сбросить демо-данные
    </button>
    <hr/>
    <button class="btn btn-default" ng-click="openAutoHideDemo()">
        Открыть автоматически закрывающееся сообщение
    </button>
</div>