<form class="form-horizontal" role="form" name="efSvul">
    <div class="form-group  form-base__form-group">
        <label for="fullName" class="col-xs-4 control-label  form-base__control-label">Полное наименование</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='fullName'
                   name='fullName'
                   class='form-control  form-base__form-control'
                   ng-model='organization.fullName'
                   placeholder='Введите полное наименование'
                   required-field="!disabledMode"
                   maxlength="1000">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{organization.fullName}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="shortName" class="col-xs-4 control-label  form-base__control-label">Сокращенное наименование</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='shortName'
                   name='shortName'
                   class='form-control  form-base__form-control'
                   ng-model='organization.shortName'
                   placeholder='Введите сокращенное наименование'
                   maxlength="500">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{organization.shortName}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="ogrn" class="col-xs-4 control-label  form-base__control-label" ng-class="{'required' : !disabledMode}">ОГРН</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='ogrn'
                   name='ogrn'
                   class='form-control  form-base__form-control'
                   ng-model='organization.ogrn'
                   placeholder='Введите ОГРН'
                   ng-required="!disabledMode"
                   integer
                   maxlength="13"
                   ng-disabled="editMode"
                   length-validate="['13']">
            <span class="error-base" ng-show="showError && efSvul.ogrn.$error.required">Поле обязательно для заполнения</span>
            <span class="error-base" ng-show="showError && efSvul.ogrn.$error.lengthValidate && !efSvul.ogrn.$error.required">Длина ОГРН должна составлять 13 цифр.</span>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{organization.ogrn}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label class="col-xs-4 control-label  form-base__control-label">Дата государственной регистрации</label>
        <div class="col-xs-4">
            <hcs-datepicker ng-if="!disabledMode"
                            ng-model="organization.stateRegistrationDate"
                            options="stateRegistrationDateOptions"></hcs-datepicker>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{organization.stateRegistrationDate}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="inn" class="col-xs-4 control-label  form-base__control-label" ng-class="{'required' : !disabledMode}">ИНН</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='inn'
                   name='inn'
                   class='form-control  form-base__form-control'
                   ng-model='organization.inn'
                   placeholder='Введите ИНН'
                   ng-required="!disabledMode"
                   integer
                   maxlength="10"
                   ng-disabled="editMode"
                   length-validate="['10']">
            <span class="error-base" ng-show="showError && efSvul.inn.$error.required">Поле обязательно для заполнения</span>
            <span class="error-base" ng-show="showError && efSvul.inn.$error.lengthValidate && !efSvul.inn.$error.required">Длина ИНН должна составлять 10 цифр.</span>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{organization.inn}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="kpp" class="col-xs-4 control-label  form-base__control-label" ng-class="{'required' : !disabledMode}">КПП</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='kpp'
                   name='kpp'
                   class='form-control  form-base__form-control'
                   ng-model='organization.kpp'
                   placeholder='Введите КПП'
                   ng-required="!disabledMode"
                   integer
                   maxlength="9"
                   ng-disabled="editMode"
                   length-validate="['9']">
            <span class="error-base" ng-show="showError && efSvul.kpp.$error.required">Поле обязательно для заполнения</span>
            <span class="error-base" ng-show="showError && efSvul.kpp.$error.lengthValidate && !efSvul.kpp.$error.required">Длина КПП должна составлять 9 цифр.</span>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{organization.kpp}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="okopf" class="col-xs-4 control-label  form-base__control-label">Организационно-правовая форма</label>
        <div class="col-xs-6">
            <input ng-if="!disabledMode"
                   id='okopf'
                   name='okopf'
                   class='form-control  form-base__form-control'
                   ng-model='organization.okopf'
                   placeholder='Выберите ОПФ'
                   readonly
                   okopf
                   required-field="!disabledMode">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{organization.okopf.code}} - {{organization.okopf.name}}</span>
        </div>
        <div class="col-xs-2" ng-if="!disabledMode">
            <button class="btn btn-prime pull-right" ng-click="selectOkopf()">Выбрать</button>
        </div>
    </div>
    <div class="form-group form-base__form-group">
        <label for="mainAddress" class="col-xs-4 control-label  form-base__control-label">
            Адрес места нахождения
        </label>

        <div class="col-xs-6">
            <input ng-if="!disabledMode"
                   type="text"
                   class="form-control form-base__form-control"
                   id='mainAddress'
                   name='mainAddress'
                   placeholder="Выберите адрес"
                   ng-model='organization.mainAddress'
                   readonly
                   factual-address
                   required-field="!disabledMode"/>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{organization.mainAddress.formattedAddress}}</span>
        </div>
        <div class="col-xs-2" ng-if="!disabledMode">
            <button class="btn btn-md btn-prime pull-right" ng-click="selectAddress()">Выбрать</button>
        </div>
    </div>
</form>