<div class="container-fluid">
    <div class="row form-group period-fix">
        <div class="col-md-3">

            <select class="form-control" ng-model="startMonth" id="startMonth" ui-select2="monthSelect2Options"
                    ng-required="startMonthRequired" required-field="startMonthRequired" ng-disabled="startMonthDisabled">
                <option></option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>

        </div>
        <div class="col-md-3">

            <select id="startYear" class="form-control" ng-model="startYear" ui-select2="yearSelect2Options"
                    ng-required="startYearRequired" required-field="startYearRequired" ng-disabled="startYearDisabled">
                <option></option>
                <option ng-repeat="year in years" value="{{year.val}}">{{year.val}}</option>
            </select>

        </div>

        <div class="col-md-3">

            <select class="form-control" ng-model="endMonth" id="endMonth" ui-select2="monthSelect2Options"
                    ng-required="endMonthRequired" required-field="endMonthRequired" ng-disabled="endMonthDisabled">
                <option></option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>

        </div>
        <div class="col-md-3">

            <select id="endYear" class="form-control" ng-model="endYear" ui-select2="yearSelect2Options"
                    ng-required="endYearRequired" required-field="endYearRequired" ng-disabled="endYearDisabled">
                <option></option>
                <option ng-repeat="year in years" value="{{year.val}}">{{year.val}}</option>
            </select>

        </div>
    </div>
</div>