<div>
    <alert type="danger">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        <span ng-if="isLoggedIn()">У Вас недостаточно прав для просмотра данной страницы. Обратитесь к администратору Вашей организации. </span>
        <span ng-if="!isLoggedIn()">Для просмотра данной страницы необходимо выполнить вход в личный кабинет ГИС ЖКХ.</span>
    </alert>

    <div class="row text-right">
        <a href class="btn btn-action" ng-if="!isLoggedIn()" ng-click="goToMainPage()">Вернуться на главную страницу</a>
        <a href class="btn btn-action" ng-if="!isLoggedIn()" ng-click="logIn()">Войти в Личный кабинет</a>
        <a href class="btn btn-action" ng-if="isLoggedIn()" ng-click="goBack()">Вернуться</a>
    </div>
</div>