<!--Списочная форма + Компонент межстраничной навигации (ЭФ_КМН)-->
<div class="container-fluid" ng-controller="ExCtrl">
    /* Устарело, используйте ng-simple-grid */
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th ng-repeat="header in headers">
                <sort-by onsort="onSort" sortdir="criteria.sortDir" sortedby="criteria.sortedBy"
                         sortvalue="{{header.value}}">{{header.title}}
                </sort-by>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in searchResults">
            <td>
                {{result.address}}
                &NonBreakingSpace;
                <div class="btn-group pull-right" dropdown>
                    <div class="text-right dropdown-toggle">
                        <i class="fa fa-angle-double-down"></i>
                    </div>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href ui-sref="edit-house({houseId: result.id})">Изменить</a></li>
                        <li><a ng-click="">Добавить помещение</a></li>
                    </ul>
                </div>
            </td>
            <td>{{result.id}}</td>
            <td>{{result.series}}</td>
            <td>{{result.year}}</td>
            <td>{{result.roomCount}}</td>
            <td>{{result.mngOrg}}</td>
            <td>{{result.floorCount}}</td>
            <td>{{result.deterioration}}</td>
        </tr>
        </tbody>
    </table>

    <ef-kmn-form
            total="pagination.total"
            items-per-page="pagination.itemsPerPage"
            modal="pagination.isModal"
            current-page="pagination.currentPage"
            changed="pageChanged"
            >
    </ef-kmn-form>

</div>



