<div class="modal-header">
    <ng-close-button ng-click="close()"></ng-close-button>
    <h3 class="modal-title">Сведения о физическом лице</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="efPrfl">
        <ef-svfl-form disabled-mode="true" person="person"></ef-svfl-form>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-cancel" ng-click="close()">Закрыть</button>
</div>