<!--Фильтры-->
<div class="container-fluid" ng-controller="FilterCtrl">
    <div class="row">
        <div class="col-md-12">
            <b>Фильтр форматирует адрес дома (HouseAddressWithNsi)</b>

            <div>{{houseAddressObject | houseAddress}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Фильтр форматирует адрес дома, выбранный из диалога</b>

            <div>{{houseAddressObjectFromDialog | houseAddress:true}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Фильтр денежных сумм</b>

            <div>{{12345678900.67 | money}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Фильтр телефона</b>

            <div class="row">
                <div class="col-md-6">
                    <b><i>'+79123456789'</i></b>

                    <div>{{'+79123456789' | phone}}</div>
                </div>
                <div class="col-md-6">
                    <b><i>'81234567890'</i></b>

                    <div>{{'81234567890' | phone}}</div>
                </div>
            </div>
        </div>
    </div>
</div>