<div class="app-header-notification-wrapper" ng-if="notifications"
     ng-repeat="notification in notifications"
     ng-class="{
            warning: notification.notificationType=='warning',
            danger: notification.notificationType=='danger',
            success: notification.notificationType=='success',
        }">
    <div class="container">
        <alert type="{{notification.notificationType}}">
            <div class="row">
                <div class="col-xs-1 _paddin-0 _right text-right">
                    <i class="modal-base__alert-icon glyphicon glyphicon-exclamation-sign"></i>
                </div>
                <div ng-class="{
                        'col-xs-10': notification.notificationWithClose == true,
                        'col-xs-11': notification.notificationWithClose == false
                    }">
                    <strong>{{notification.notificationTitle}}</strong>

                    <p>{{notification.notificationMessage}}</p>
                </div>
                <div class="col-xs-1" ng-if="notification.notificationWithClose">
                    <button type="button" class="close" ng-click="closeAlert($index)">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
            </div>
        </alert>
    </div>
</div>

