<!--validate-demo-->
<div class="form-base" ng-controller="ValidateCtrl">
    <form role="form" class="form-horizontal" name="formValidate">
        <div class="form-base__form-body">
        <div class="form-group form-base__form-group form-base__form-group_with-action">
            <label for="exampleInputEmail1" class="control-label  form-base__control-label">Денежный формат</label>
            <input id="exampleInputEmail1" type="text" class="form-control form-base__form-control" ng-model="validate.money" money
                   negative="true" ng-trim="false"/>

            <span class="form-base__form-control-action app-icon_cl_danger glyphicon glyphicon-remove-circle"></span>

            <span class="text-danger">Ошибка для теста</span>

            <!--Значение: {{validate.money}}-->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group form-base__form-group">
                    <label for="exampleInputPassword1" class="control-label  form-base__control-label">Формат телефона (пустой)</label>
                    <input id="exampleInputPassword1"
                           class="form-control form-base__form-control"
                           type="text"
                           ng-model="validate.phones.phoneEmpty"
                           phone/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-base__form-group">
                    <label for="exampleInputPassword2" class="control-label  form-base__control-label">Формат телефона (заполненный)</label>
                    <input id="exampleInputPassword2"
                           class="form-control form-base__form-control"
                           type="text"
                           ng-model="validate.phones.phone"
                           phone/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group form-base__form-group">
                    <label for="exampleInputEmail3" class="control-label  form-base__control-label">Формат email</label>
                    <input id="exampleInputEmail3"
                           class="form-control form-base__form-control"
                           type="text"
                           name="email"
                           ng-model="validate.emails.emailEmpty" email/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group form-base__form-group">
                    <label for="exampleDateRange" class="control-label  form-base__control-label">Пример hcs-daterange</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group form-base__form-group">
                    <label for="lengthValidatesorgn" class="control-label  form-base__control-label">ОГРН (13)</label>
                    <input id="lengthValidatesorgn"
                           name="lengthValidatesorgn"
                           class="form-control form-base__form-control"
                           type="text"
                           ng-model="validate.lengthValidates.orgn"
                           length-validate="['13']"/>
                    <span class="text-danger" ng-show="formValidate.lengthValidatesorgn.$error.lengthValidate">Неверный формат поля</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group form-base__form-group">
                    <label for="lengthValidatesorgnip" class="control-label  form-base__control-label">ОГРНИП (15)</label>
                    <input id="lengthValidatesorgnip"
                           name="lengthValidatesorgnip"
                           class="form-control form-base__form-control"
                           type="text"
                           ng-model="validate.lengthValidates.orgnip"
                           length-validate="['15']"/>
                    <span class="text-danger" ng-show="formValidate.lengthValidatesorgnip.$error.lengthValidate">Неверный формат поля</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group form-base__form-group">
                    <label for="lengthValidatesinn" class="control-label  form-base__control-label">ИНН (10 или 12)</label>
                    <input id="lengthValidatesinn"
                           name="lengthValidatesinn"
                           class="form-control form-base__form-control"
                           type="text"
                           ng-model="validate.lengthValidates.inn"
                           length-validate="['10', '12']"/>
                    <span class="text-danger" ng-show="formValidate.lengthValidatesinn.$error.lengthValidate">Неверный формат поля</span>
                </div>
            </div>
        </div>
        </div>
    </form>
</div>



