<div class="form-base form-base_pad_dark form-base_dim form-base_upload"
     ng-controller="AttachmentElementCtrl">
    <ng-form name="form"
             class="form-horizontal">
        <div class="form-base__body">

            <div class="form-group form-base__form-group">
                <label class="control-label col-xs-12 form-base__control-label">Вариант 1 (ng-model == null):</label>
            </div>
            <div class="form-group form-base__form-group">
                <attachment-element context="homemanagement"
                                    ng-model="attachment"
                                    context-path="filestore"></attachment-element>
            </div>
            <div class="form-group form-base__form-group">
                <label class="control-label col-xs-12 form-base__control-label">Вариант 2 (ng-model задан изначально):</label>
            </div>
            <div class="form-group form-base__form-group">
                <attachment-element context="homemanagement"
                                    ng-model="filledAttachment"
                                    max="2"></attachment-element>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    Использован собственный шаблон
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-base__form-group">
                        <ef-bpp-form files="files"
                                     template-url="'attachment-element/custom-ef-bpp-demo.tpl.html'"></ef-bpp-form>
                    </div>
                </div>
            </div>


        </div>


        <div class="form-base__body form-base__body_multi">
            <div class="form-base__container_multi">
                <div class="row form-base__row_multi">

                    <div class="col-xs-6 form-base__col form-base__col_multi form-base_pad_light">
                        <div class="form-group form-base__form-group">
                            <attachment-element context="homemanagement"
                                                ng-model="attachment"
                                                context-path="filestore"></attachment-element>
                        </div>
                    </div>
                    <div class="col-xs-6 form-base__col form-base__col_multi form-base_pad_dark">
                        <div class="form-group form-base__form-group">
                            <attachment-element context="homemanagement"
                                                ng-model="filledAttachment"></attachment-element>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </ng-form>
</div>