<div class="form-upload">
    <div class="row" ng-repeat="file in files">
        <div class="col-xs-6">
            Файл: {{file.fileName}}
        </div>
        <div class="col-xs-6">
            Описание: {{file.description}}
        </div>
    </div>
</div>