<!--Resources Demo-->
<div class="container-fluid" ng-controller="ResourcesCtrl">
    <form class="form-horizontal" role="form" name="resourcesForm" novalidate>
        <div class="col-md-7">
            <button class="btn" ng-click="callHomeMgmtRest()">Call Home Managent Rest</button>
            <button class="btn" ng-click="callNsiRest()">Call NSI Rest</button>
            <button class="btn" ng-click="callPpaRest()">Call PPA Rest</button>
        </div>
    </form>
</div>