<!--Блок прикрепленных файлов (ЭФ_БПП)-->
<div class="form-base form-base_dim form-base_upload"
     ng-controller="EfBppCtrl">
    <form class="form-horizontal">
        <div class="form-base__body form-base_pad_light">
            <div class="form-group form-base__form-group form-base__form-group_upload-form">
                <ef-bpp-form files="files"
                             context="hm"></ef-bpp-form>
            </div>

        </div>

        <div class="form-base__body form-base__body_multi">
            <div class="form-base__container_multi">
                <div class="row form-base__row_multi">
                    <div class="col-xs-6 form-base__col form-base__col_multi form-base_pad_light"></div>
                    <div class="col-xs-6 form-base__col form-base__col_multi form-base_pad_dark">
                        <div class="form-group form-base__form-group">
                            <ef-bpp-form files="files"
                                         context="hm"></ef-bpp-form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>

</div>