<div ng-repeat="p in share.sharePremises">
    <a ng-click="showPremise(p)">
        {{ share.house.address.formattedAddress }}<span ng-if="p.apartment">, <b><span
            ng-if="p.apartment.apartmentCategory.code === '1'">кв.</span> {{ p.apartment.flatNumber }}</b></span><span
            ng-if="p.room">, <b>комн. №{{ p.room.roomNumber }}</b></span>
    </a>
</div>
