<yohtml yo-block="app-form_multi"
        yo-block-match="app-form_multi_size-sm_bg-dark">
    <header>POKOTOTOTO</header>
    <content__column-one>
        <yohtml yo-block="app-form__group" yo-block-match="app-form__group_grid-4-8">
            <form-label for="region">
                Субъект РФ
            </form-label>
            <form-control>
                <select class="form-control  form-base__form-control"
                        id='region'
                        name='region'
                        ng-model='searchParameters.regionGuid'
                        ui-select2="regionSelect2Options"
                        ng-change="regionChange()"
                        required-field="{{required}}"
                        ng-disabled="fieldParams.region.disabled === true">
                    <option></option>
                    <option ng-repeat="region in regions | filter:fieldFilter('region')" value="{{region.guid}}">{{name(region)}}</option>
                </select>
            </form-control>
        </yohtml>


        <yohtml yo-block="app-form__group" yo-block-match="app-form__group_grid-4-8">
            <form-label>
                Район
            </form-label>
            <form-control>
                <input type="text"
                       class="form-control  form-base__form-control"
                       id='area'
                       name='area'
                       data-placeholder="Выберите район"
                       ng-model='searchParameters.areaGuid'
                       ui-select2="areaSelect2Options"
                       ng-disabled="!searchParameters.regionGuid || fieldParams.area.disabled === true"
                    />
            </form-control>
        </yohtml>


        <yohtml yo-block="app-form__group" yo-block-match="app-form__group_grid-4-8">
            <form-label>
                Город
            </form-label>
            <form-control>
                <input type="text"
                       class="form-control  form-base__form-control"
                       id='city'
                       name='city'
                       data-placeholder="Выберите город"
                       ng-model='searchParameters.cityGuid'
                       ui-select2="citySelect2Options"
                       ng-disabled="!searchParameters.regionGuid || fieldParams.city.disabled === true"
                    />
            </form-control>
        </yohtml>

        <yohtml yo-block="app-form__group"  yo-block-match="app-form__group_grid-4-8" ng-hide="fieldParams.city.hidden === true">
            <form-label>
                Город
            </form-label>
            <form-control>
                <input type="text"
                       class="form-control  form-base__form-control"
                       id='city'
                       name='city'
                       data-placeholder="Выберите город"
                       ng-model='searchParameters.cityGuid'
                       ui-select2="citySelect2Options"
                       ng-disabled="!searchParameters.regionGuid || fieldParams.city.disabled === true"
                    />
            </form-control>
        </yohtml>

    </content__column-one>

    <content__column-two>

        <yohtml yo-block="app-form__group"  yo-block-match="app-form__group_grid-4-8" ng-hide="fieldParams.city.hidden === true">
            <form-label>
                Улица
            </form-label>
            <form-control>
                <input type="text"
                       class="form-control  form-base__form-control"
                       id='street'
                       name='street'
                       data-placeholder="Выберите улицу"
                       ng-model='searchParameters.streetGuid'
                       ui-select2="streetSelect2Options"
                       ng-disabled="!searchParameters.cityGuid && !searchParameters.settlementGuid && !federalRegion || fieldParams.street.disabled === true"/>
            </form-control>
        </yohtml>

        <div class="row _rao-select-padding-fix-1" ng-hide="((fieldParams.house.hidden === true)&&(fieldParams.building.hidden === true)&&(fieldParams.struct.hidden === true))">
            <div class="col-xs-6">

                <div class="form-group  form-base__form-group" ng-hide="fieldParams.house.hidden === true">
                    <label for="house" class="col-xs-8 control-label  form-base__control-label">
                        Дом
                    </label>
                    <div class="col-xs-4 _padding-0 _right">
                        <select class="form-control" id='house' name='house'
                                ng-model='house'
                                ng-disabled="!searchParameters.regionGuid || (houses.length<1) || fieldParams.house.disabled === true"
                                ng-change="houseChange()"
                                ng-options="house as aoName(house, 'houseNumber') for house in houses">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-xs-3">
                <div class="form-group  form-base__form-group" ng-hide="fieldParams.building.hidden === true">
                    <label for="building" class="col-xs-4 control-label  form-base__control-label">
                        Кор.
                    </label>
                    <div class="col-xs-8 _padding-0 _right">
                        <select class="form-control  form-base__form-control" id='building' name='building'
                                ng-model='building'
                                ng-disabled="!searchParameters.regionGuid || (buildings.length<1) || fieldParams.building.disabled === true"
                                ng-change="buildingChange()"
                                ng-options="building as aoName(building, 'buildingNumber') for building in buildings">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-xs-3">
                <div class="form-group  form-base__form-group" ng-hide="fieldParams.struct.hidden === true">
                    <label for="struct" class="col-xs-4 control-label  form-base__control-label">
                        Стр.
                    </label>
                    <div class="col-xs-8">
                        <select class="form-control  form-base__form-control" id='struct' name='struct'
                                ng-model='struct'
                                ng-disabled="!searchParameters.regionGuid || (structs.length<1) || fieldParams.struct.disabled === true"
                                ng-change="structChange()"
                                ng-options="struct as aoName(struct, 'structNumber') for struct in structs">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </content__column-two>
</yohtml>