<!--
Для того что-бы форма загрузки файлов выглядела корректно, необходимо добавлять
модификатор form-base__form-group_upload-form
к form-base__form-group в который она вставляется.
-->
<div class="form-upload">
    <div class="form-upload__row"
         ng-repeat="file in files">

        <div class="col-xs-8">
            <div class="form-upload__file-image">
                    <span class="form-upload__icon icon-file icon-file_{{getExtensionByFilename(file.fileName)}}"
                          popover="{{getLabelByContentType(file.contentType)}}"
                          popover-trigger="mouseenter"
                          popover-append-to-body='true'>
                    </span>
            </div>

            <div class="form-upload__file-name"
                 popover="{{file.fileName +' ('+ getHumanReadableFilesize(file.fileSize)+')'}}"
                 popover-trigger="mouseenter"
                 popover-append-to-body='true'>
                <a href="/{{ctxPath}}/{{servletUrl}}?context={{context}}&uid={{file.contentGuid}}">
                    {{file.description}}
                </a>
            </div>
        </div>

        <div class="col-xs-4  text-right" ng-if="!(hideAttrs && disabled)">
            <div class="form-upload__file-attrs" ng-if="!hideAttrs">
                <span class="form-upload__attr-date">
                    {{file.createDate}}
                </span>
            </div>

            <div class="form-upload__button">
                <span class="app-icon _icon-size_big glyphicon glyphicon-remove-circle app-icon_cl_asphalt" ng-click="remove(file.contentGuid)" ng-if="!disabled"></span>
            </div>
        </div>
    </div>
</div>