<style>
    .error-404-window{
        margin-top: 80px;
    }

    .error-icon{
        margin-left: 30%;
    }

    .home-button-icon{

    }

    .check-url-button-icon{

    }

    .search-button-icon{

    }

    .action-block{
        margin-left: 20px;
    }

    .action-block label{
        font-weight: 520;
        font-size: 10pt
    }


</style>

    <div class="section-base">
        <div class="row">

            <div class="col-xs-6">
                <div class="not-found__wrapper">
                    <div class="not-found__bg"></div>
                </div>
            </div>

            <div class="col-xs-6">
                <div>
                    <label class="control-label" style="font-weight: 400; font-size: 18pt; margin-bottom: 0px;">Запрашиваемая страница</label>
                </div>
                <div>
                    <label class="control-label" style="font-weight: 600; font-size: 25pt; margin-bottom: 55px">не найдена</label>
                </div>
                <div>
                    <label class="control-label" style="font-size: 12pt; margin-bottom: 20px;">Вы можете попробовать:</label>
                </div>
                <div class="action-block">
                    <div class="form-group">
                        <button class="home-button-icon"></button>
                        <label>
                            вернуться на <a href="#">главную страницу</a> портала;
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="check-url-button-icon"></button>
                        <label>
                            проверить правильность введённого адреса в адресной строке браузера;
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="search-button-icon"></button>
                        <label>
                            воспользоваться поиском по всему порталу;
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>

