<!--Группа полей для выбора периода месяц-год (ЭФ_ВПМГ)-->
<div class="container-fluid" ng-controller="EfVmpgCtrl">
    <div class="col-md-8">
        <form name="vpmgForm">
            <ef-vmpg-form
                    start-month="startMonth"
                    start-year="startYear"
                    end-month="endMonth"
                    end-year="endYear"

                    start-month-required="true"
                    start-year-required="true"
                    end-month-required="true"
                    end-year-required="true"

                    end-month-disabled="true"
                    end-year-disabled="true">
            </ef-vmpg-form>
        </form>
        Form valid = {{vpmgForm.$valid}}
    </div>
    <div class="container-fluid">
        Начало периода {{startMonth}} {{startYear}} - Конец периода {{endMonth}} {{endYear}}
    </div>
</div>