<a ng-click="sort(sortvalue)" class="sorting-header">

    <span ng-transclude="" class="pull-left" style="width: 80%"></span>

    <span ng-if="sortedby == sortvalue" class="pull-right">
        <i ng-class="{true: 'fa fa-chevron-up', false: 'fa fa-chevron-down'}[sortdir == 'asc']"></i>
    </span>

    <span ng-if="sortedby != sortvalue">
        <i class="fa fa-chevron-up" style="visibility: hidden"></i>
    </span>
</a>