<!--Мультиселект-->
<div class="container-fluid" ng-controller="MultiselectCtrl">
    <div class="row">
        <multiselect multiple="true"
                     ng-model="selectedCars"
                     options="c.name for c in cars"
                     change="selected()"
                     header="generateHeader()"></multiselect>

        Выбраны: {{selectedCars}}
    </div>
</div>