// APP BREADCRUMBS

.breadcrumb-base {
  padding: 8px 0;
  margin-bottom: 20px;
  list-style: none;


  > li {
    display: inline-block;

    > a {
      font-size: 12px;
      text-decoration: underline;
    }

    + li:before {
      content: "\2192";
      padding: 0 5px;
      color: #959595;
    }
  }

  > .active {
    color: #222222;
      span {
        font-size: 12px;
      }
  }
}
