// APP BASE TOGGLE COLLAPSE
.collapse-toggle {
  margin-bottom: 30px;
}

.collapse-toggle__cnt {
  //...
}

.collapse-toggle__cnt-panel {
  margin: 10px 0;
}

// COLLAPSE CONTROL PANEL ->
.collapse-toggle__pane {
  margin: 0;
}

.collapse-toggle__pane_close {
  margin: 0 0 15px 0;
}

.collapse-toggle__pane_close_below {
  margin: 15px 0 0 0;
}

.collapse-toggle__pane_far {
  margin: 0 0 30px 0;
}

.collapse-toggle__pane_far_below {
  margin: 30px 0 0 0;
}
// COLLAPSE CONTROL PANEL ->

// COLLAPSE CONTROL ->
.collapse-toggle__ctr {
  display: inline-block;
  vertical-align: middle;

  &._collapsed {
    //...
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}
// COLLAPSE CONTROL <-

// COLLAPSE STATE ->
.collapse-toggle__state {
  display: inline-block;

  &._collapsed {
    display: none;
  }

  &._active {
    display: inline-block;
  }
}

.collapse-toggle__ctr {
  // State modification

  &._collapsed {
    //...

    .collapse-toggle__state._collapsed {
      display: inline-block;
    }

    .collapse-toggle__state._active {
      display: none;
    }
  }
}
// COLLAPSE STATE <-

// COLLAPSE TITLE ->
.collapse-toggle__state-title {
  margin: 0;
  padding: 0;

  display: inline-block;
  border-bottom: 1px solid transparent;
}

.collapse-toggle__ctr {
  // Collapse control hover -> state title modification

  &:hover, &:focus {
    //...

    .collapse-toggle__state-title {
      border-bottom: 1px solid @color-link-hover;
    }
  }
}
// COLLAPSE TITLE <-

.collapse-toggle__state-icon {
  position: relative;
}

.collapse-toggle__state-icon-pad {
  display: inline-block;
  position: relative;

  top: -2px;

  width: 18px;
  height: 18px;

  vertical-align: middle;

  border: 2px solid @color-link;
  border-radius: 50%;
}


// *****************************************
// DIFFERENT TYPES OF TOGGLE COLLAPSE
// *****************************************
// COLLAPSE WITH PANEL AS HEADER ->
.collapse-toggle__pane_lead {
  padding: 10px 20px;

  background-color: #3c4954;
  border-radius: 3px 3px 0 0;
}

.collapse-toggle__ctr_lead {
  color: #ffffff;

  &:hover, &:focus {
    color: #ffffff;
  }
}

.collapse-toggle__state-title_lead {
  margin-right: 14px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

.collapse-toggle__ctr_lead {
  //...

  &:hover, &:focus {
    //...

    .collapse-toggle__state-title_lead {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }
}

.collapse-toggle__state-icon-pad_lead {
  width: 24px;
  height: 24px;

  border-color: #ffffff;
}

.collapse-toggle__state-icon_lead {
  font-size: 16px;
}

.collapse-toggle__state-icon-pad_lead {
  // We need this adjustment only because of pad circle

  .collapse-toggle__state-icon_lead {
    top: 3px;
    left: 0.5px;
  }
}

.collapse-toggle__state._active {
  // Icon position adjustment

  .collapse-toggle__state-icon-pad_lead {
    //...

    .collapse-toggle__state-icon_lead {
      top: 0px;
      left: 2px;
    }
  }
}
// COLLAPSE WITH PANEL AS HEADER <-


// COLLAPSE WITH PANEL AS FOOTER ->
.collapse-toggle__pane_utility {
  padding: 10px 20px;

  background-color: #0a65ab;
  border-radius: 0 0 3px 3px;
}

.collapse-toggle__pane_utility_light {
  background-color: #e5eaee;
}

.collapse-toggle__ctr_utility {
  color: #ffffff;

  &:hover, &:focus {
    color: #ffffff;
  }
}

.collapse-toggle__state-title_utility {
  margin-left: 6px;

  font-size: 12px;

  border-bottom: 1px dashed #ffffff;
}

.collapse-toggle__ctr_utility {
  //...

  &:hover, &:focus {
    //...

    .collapse-toggle__state-title_utility {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }
}

.collapse-toggle__state-icon-pad_utility {
  top: 0;

  width: 18px;
  height: 18px;

  border-color: #ffffff;
}

.collapse-toggle__state-icon_utility {
  font-size: 11px;
}

.collapse-toggle__state-icon-pad_utility {
  // We need this adjustment only because of pad circle

  .collapse-toggle__state-icon_utility {
    top: -3px;
    left: 2px;
  }
}

.collapse-toggle__state._active {
  // Icon position adjustment

  .collapse-toggle__state-icon-pad_utility {
    //...

    .collapse-toggle__state-icon_utility {
      top: -2px;
      left: 1px;
    }
  }
}
// COLLAPSE WITH PANEL AS FOOTER <-


// COLLAPSE WITH PANEL FOR CARD ->
.collapse-toggle__pane_card {
  padding: 10px 20px;
  margin-top: 1px;

  text-align: center;

  background-color: #e5eaee;
  border-radius: 0 0 3px 3px;

  .collapse-toggle__state-icon_card{
    font-size: 11px;
  }
}

.collapse-toggle__ctr_card {
  //...
}

.collapse-toggle__state-title_card {
  margin-left: 6px;

  font-size: 12px;

  border-bottom: 1px dashed @color-link;
}

.collapse-toggle__ctr_card {
  //...

  &:hover, &:focus {
    //...

    .collapse-toggle__state-title_card {
      border-bottom: 1px solid @color-link;
    }
  }
}

.collapse-toggle__state-icon-pad_card {
  top: 0;

  width: 18px;
  height: 18px;

  border-color: @color-link;
}

.collapse-toggle__state-icon_card {
  font-size: 11px;
}

.collapse-toggle__state-icon-pad_card {
  // We need this adjustment only because of pad circle

  .collapse-toggle__state-icon_card {
    top: -2px;
    left: 0;
  }
}

.collapse-toggle__state._active {
  // Icon position adjustment

  .collapse-toggle__state-icon-pad_card {
    //...

    .collapse-toggle__state-icon_card {
      top: -3px;
      left: 1px;
    }
  }
}
// COLLAPSE WITH PANEL FOR CARD <-

// OTHER UI ELEMENTS ->
.collapse-toggle__option {
  display: inline-block;
  margin: 5px 0 5px 20px;
}

.collapse-toggle__option-val {
  font-size: 12px;
}

.collapse-toggle__option-ic {
  position: relative;
  top: 0;
}
// OTHER UI ELEMENTS <-