.daterange-base {
  .clearfix;


  .daterange-base__fake-input {
    display: table;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;


    .daterange-base__placeholder {

      display: table-cell;
      width: 10%;
      padding: 0 5px 0 0;

      color: @neutral-color;

    }
    input {
      background: transparent;
      border: none;
      border-radius: 0;
      display: table-cell;
      width: 90%;

      &:focus {
        outline: none;

        & ~ .daterange-base__fake-input{
          border: solid 1px black;
        }

      }

    }

  }

  .daterange-base__control {

    width: 125px;
    /*display: inline-block;*/
    float: left;

  }
  .daterange-base__sepor {
    width: 20px;
    text-align: center;
    /*display: inline-block;*/
    float: left;
  }
}


.hcs-daterange {
  background-color: white;
  z-index: 100;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.hcs-daterange ul.dropdown-menu {
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.hcs-daterange .btn-success {
  display: none;
}

.daterange-base__container {
  position: absolute;
  width: 640px;
  padding: 10px;
  display: block;
}

.daterange-base__left,
.daterange-base__right {
  position: relative;
  width: 307px;
  height: 265px;
}

.daterange-base__left > .dropdown-menu, .daterange-base__right > .dropdown-menu {
  top: 0 !important;
}

.daterange-base__left {
  float: left;
}

.daterange-base__right {
  float: right;
}

.daterange-base__bar {
  float: left;
  width: 100%;
  padding-top: 10px;
}



