// APP DROPDOWN BASE

.dropdown-base {
  display: inline-block;
}

.dropdown-base__toggle {
  //...

  &:hover, &:focus {
    text-decoration: none;
  }
}

// DROPDOWN TITLE ->
.dropdown-base__title {
  border-bottom: 1px dashed @color-link;
}

.dropdown-base__toggle {
  // Modification of title on hover

  &:hover {
    //...

    .dropdown-base__title {
      border-bottom: 1px solid @color-link;
    }
  }
}

.dropdown-base.open {
  //...

  .dropdown-base__title {
    border-bottom: 1px solid @color-link;
  }
}
// DROPDOWN TITLE <-

// DROPDOWN ICON ->
.dropdown-base__icon {
  display: inline-block;
  color: #babec1;
}

.dropdown-base__toggle {
  // Modification of icon on hover

  &:hover, &:focus {
    //...

    .dropdown-base__icon {
      color: #a2a5a8;
    }
  }
}

.dropdown-base__icon_open {
  display: none;
}

.dropdown-base {
  //...

  &.open {
    //...

    .dropdown-base__icon_normal {
      display: none;
    }

    .dropdown-base__icon_open {
      display: inline-block;
    }
  }
}



// DROPDOWN ICON <-

// DROPDOWN MENU ->
.dropdown-base__menu {
  background-color: #d3e1f5;

  border-color: transparent;
  border-radius: 0;

  box-shadow: none;
}

.dropdown-base__menu-i {
  //...
}

.dropdown-base__menu-i-action {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;

  color: #01649d;

  &:hover, &:focus {
    color: #ffffff;
    background-color: #026bbc;
  }
}
// DROPDOWN MENU <-

// BOOTSTRAP FALLBACK ->
.dropdown-base__menu {
  //...

  > li {
    //...

    > a {
      padding: 5px 25px;

      font-family: 'Roboto Condensed', sans-serif;
      font-size: 15px;

      color: #01649d;

      &:hover, &:focus {
        color: #ffffff;
        background-color: #026bbc;
      }
    }
  }
}
// BOOTSTRAP FALLBACK <-