.dropdown-base__menu {
  padding: 0;
}
.dropdown-menu {
  &.dropdown-base__menu {
    &.dropdown-base__menu_right{
      left:auto;
      right: 0;
    }

    li {
      padding: 0;
      border-bottom: none;
      box-shadow: none;
      text-align: left;

    }
  }
}


.dropdown-base__menu-i {
  padding: 0;
  border-bottom: none;
  box-shadow: none;
}

.dropdown-base__menu-title{
  white-space: nowrap;
  padding: 15px;
  border-bottom: 1px solid #c1d0e7;
  box-shadow: 0 2px 2px -1px #ffffff;
}
.dropdown-base__checkbox{
  padding: 0 15px;

  label{
    font-weight: normal;
    white-space: nowrap;
  }
}

.dropdown-base_has-checkbox{
  &:first-child{
    .dropdown-base__checkbox{
      padding-top: 15px;
    }
  }
  &:last-child{
    .dropdown-base__checkbox{
      padding-bottom: 15px;
    }
  }
}


