// Output by select (results, items, etc)
.output-by {
  padding-left: 0;
  margin: 20px 0;
}

.output-by__form-group {
  margin: 0;
}

.output-by__control-label {
  font-weight: 400;
  color: #8f8f8f;
}