// LESS
.pagination-base {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #01649d;
      text-decoration: underline;
      background-color: #ffffff;
      font-weight: 700;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        //border-top-left-radius: 4px;
        //border-bottom-left-radius: 4px;
        //font-weight: 400;
      }
    }
    &:last-child {
      > a,
      > span {
        //border-top-right-radius: 4px;
        //border-bottom-right-radius: 4px;
        //font-weight: 400;
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: #015d91;
      background-color: #e5eaee;
      border-color: #e5eaee;

      border-radius: 4px;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: #333333;
      font-weight: 700;
      text-decoration: none;
      cursor: default;
      background-color: #e5eaee;
      border-color: #e5eaee;

      border-radius: 4px;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: #8f8f8f;
      background-color: #ffffff;
      text-decoration: none;
      border-color: transparent;
    }
  }
}
