.progress-base {

  .progress-base__label {
    text-align: center;
    font-size: 12px;
    color: #747577;
    margin: 0 0 5px 0;

    .progress-base__label_bold {
      font-weight: 700;
    }

  }

  .progress {
    height: 7px;
    margin: 0;
    background: #fff;

    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);

    .progress-bar {

      #gradient > .vertical(#6ec64e, #368a1a);

    }


  }
}