/*
<div class="steps-base">
  <ul class="steps-base__container">
    <li class="steps-base__item">Step 1</li>
    <li class="steps-base__item">Step 1</li>
    <li class="steps-base__item">Step 1</li>
    <li class="steps-base__item">Step 1</li>
  </ul>
</div>
*/

////Steps control colors
//backgrounds
@color-steps-bg-default: #e5eaee;
@color-steps-bg-complite: #3c4854;
@color-steps-bg-active: #3879a9;
//text
@color-steps-text-default: #3879a9;
@color-steps-text-complite: #ffffff;
@color-steps-text-active: #ffffff;

@steps-height: 50px;
@steps-gutter: 2px;

.steps-base {
  display: block;
  width: 100%;
  margin: 0 0 3px 0;
}
.steps-base__container {
  display: table;
  width: 100%;
  margin:0;
  padding:0;
}
.steps-base__item {
  .makeItem(@steps-height,@color-steps-bg-default, @color-steps-text-default);
  &.active{
    .makeItem(@steps-height,@color-steps-bg-active, @color-steps-text-active);
  }
  &.complited{
    .makeItem(@steps-height,@color-steps-bg-complite, @color-steps-text-complite);
  }
}

.step-base__title{
  margin-left: -@steps-height/2;
}

.makeItem(@height,@bg-color,@text-color) {
  display: table-cell;
  width: auto;
  height:@steps-height;
  position:relative;
  text-align: center;
  vertical-align: middle;
  border-left: @height/2 + @steps-gutter solid #ffffff;
  border-right: @height/2 + @steps-gutter solid #ffffff;
  background: @bg-color;
  padding-left: -@height/2;
  color:@text-color;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;

  &::before{
    content: '';
    position: absolute;
    left: -@height;
    top:0;
    border: @height/2 solid @bg-color;
    border-left: @height/2 solid transparent;
  }

  &::after{
    content: '';
    position: absolute;
    right: -@height;
    top:0;
    border: @height/2 solid transparent;
    border-left: @height/2 solid @bg-color;
  }

  &:first-child{
    border-left: @height/2 + @steps-gutter solid @bg-color;
    border-radius: @border-radius;
    &::before{
      content: '';
      position: absolute;
      border: none;
      border-left: none;
    }

    &::after{
      content: '';
      position: absolute;
      right: -@height;
      top:0;
      border: @height/2 solid transparent;
      border-left: @height/2 solid @bg-color;
    }
  }

  &:last-child{
    border-right: @height/2 + @steps-gutter solid @bg-color;
    border-radius: @border-radius;
    &::before{
      content: '';
      position: absolute;
      left: -@height;
      top:0;
      border: @height/2 solid @bg-color;
      border-left: @height/2 solid transparent;
    }

    &::after{
      content: '';
      position: absolute;
      border: none;
      border-left: none;

    }
  }
}



