// CSS TABLE

.table-dv {
  margin-bottom: 20px;

  display: table;
  width: 100%;
  max-width: 100%;
}

.table-dv__thead {
  display: table-header-group;
}

.table-dv__tbody {
  display: table-row-group;
}

.table-dv__caption {
  display: table-caption;
}

.table-dv__row {
  display: table-row;
  &.table-dv__row_changed {
    .table-dv__cell {
      background-color: #dce7d7;
    }
  }
}


.table-dv__cell {
  display: table-cell;
  padding: 8px 14px;

  font-size: 12px;
  vertical-align: middle;
}