<div class="modal-header">
    <ng-close-button ng-click="close()"></ng-close-button>
    <h3 class="modal-title">Сведения об организации</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="efIzmorg">
        <div class="container-fluid">
            <div class="row contentRow {{formClassName}}">
                <ef-svul-form ng-if="isLegalEntity(organization.registryOrganizationType)"
                              organization="organization"
                              disabled-mode="true"></ef-svul-form>
                <ef-svip-form ng-if="isSoleTrader(organization.registryOrganizationType)"
                              sole-trader="organization"
                              disabled-mode="true"></ef-svip-form>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-cancel" ng-click="close()">Закрыть</button>
</div>