.pages-info {
  float: left;
}
.pages-info li a.text {
  background: none;
  border: 0px;
}
.pages-info li a.text:hover,
.pages-info li a.text:focus{
  background-color: #FFFFFF;
  color: #525252;
  cursor: default;
}
.pages-info.padded {
  padding-left: 15px;
}

.pages-info select {
  margin: 20px 0;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 34px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.sorting-header {
  color: #bababa;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.hcs-input-datepicker {
  width: 100px;

  &.non-standard {
    width: 130px;
  }
}


.hcs-input-datepicker {

  &:extend(.input-group);

}

.hcs-datepicker-string {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 0 5px;
  border-right: none;
  //  width: 130px !important;
  &.form-control {
    font-size: 0.75em;
  }
}

.hcs-datepicker-btn {
  //  display: inline !important;
  margin-left: -6px;
  top: -1px;

  &.input-group-btn {
    position:initial;
  }

}

.hcs-datepicker-btn > button {
  border-radius: 0 4px 4px 0;
  height: 37px;
  border-left:none;
  background: #fff;
  padding: 3px 5px 0 5px;

  &:hover {
    border-color: #CCC;
    border-left:none;
    background: #fff;
  }

  i{
    color:#babec1;
    font-size: 1.2em;
  }
}

.hcs-datepicker-hidden {
  position:absolute;
  left: -50px;
  visibility: hidden;
}


div.text-holder button.text {
  border: 0px !important;
  .btn;
  .btn-default;
}

.div.text-holder button.text:hover,
.div.text-holder button.text:focus{
  background-color: #FFFFFF;
  color: #000000;
}

.ef-bp-toggle {
  cursor: pointer;
}

/*
div.select2-container.form-control > a {
  height: 30px;
  line-height : 30px;
  color: #555555 !important;
  padding: 0 0 0 15px;
  background-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
*/

.ef-kmn-top-padding {
  padding-top: 70px;
}

.period-hyphen {
  width:5px !important;
  padding:0 0 0 0 !important;
  margin-right:-10px !important;
  margin-left:-3px !important;
}

.multiselect {
  display:block;
  width: 310px;
}
.multiselect .btn {
  width: 100%;
  background-color: #FFF;
}
.multiselect .btn.error{
  border: 1px solid #da4f49 !important;
}
.multiselect .dropdown-menu {
  max-height: 515px;
  overflow-y: auto;
}
.multiselect .dropdown-menu {
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
}
.multiselect .dropdown-menu > li {
  cursor:pointer;
}

.caret {
  /*border-style: solid !important;*/
  /*margin-top: 9px;*/
}

/*.dropdown.open .caret {
  border-width: 0px 4px 4px 4px;
}*/

.dropdown span {
  text-align: left;
}


.dropdown-menu li:last-child {
  box-shadow: none;
}

.dropdown .dropdown-menu {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.multiselect .dropdown-menu > li > input {
  margin-right: 3px;
}

.overflowHide {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 270px;
}

.download-link {
  cursor: pointer;
}

.record-status-pad {
  padding-bottom: 10px;
}

.nsi-textarea {
  height: auto !important;
}

.not-actual-record {
  font-style: italic;
}

.record-dropdown {
  font-style: normal;
}

.scrollable {
  max-height: 215px;
  overflow-y: auto;
}

.remove-file {
  background: none;
  border: none;
}

.oktmo-children-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.oktmo-children {
  font-size: small;
}

.btn-circle-common(@widthAndHeight, @padding) {
  width: @widthAndHeight;
  height: @widthAndHeight;
  text-align: center;
  padding: @padding 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle {
  .btn-circle-common(30px, 6px)
}

.btn-circle-min {
  .btn-circle-common(20px, 2px)
}

.poktmo-pad {
  padding-left: 15px;
}

.poktmo-code-cell {
  width: 100px;
  vertical-align: top;
  text-align: right;
  padding-right: 3px;
}

textarea {
  resize: vertical;
}

.form-base__body .row [class*=".col-"] .form-base__form-group:last-child {
  margin-bottom: 0;
}

._overflow-y-auto {
  overflow-y: auto;
}
.app-header-notification-wrapper{
    &.warning{
        border-bottom: 1px solid #eddba9;
        background-color: #fff2a7;
    }
    .alert{
        border: none;
        color: #49494b;
        background-color: #fff2a7;
        margin-bottom: 0;
        .modal-base__alert-icon{
            color: #f5a100;
            font-size: 38px;
        }
    }
    strong{
        font-size: 16px;
    }
}