<yohtml yo-block="app-form_multi">

    <header>
        Заголовок формы, если его нет, то оставить пустым.
    </header>

    <content__column-one>

        Левая колонка формы.

        <yohtml yo-block="app-form__group">

            Строка формы.

            <form-label>
                Лейбл формы
            </form-label>

            <form-control>

                Контрол формы

            </form-control>

        </yohtml>

    </content__column-one>

    <content__column-two>

        <yohtml yo-block="app-form__group">

            Строка формы.

            <form-label>
                Лейбл формы
            </form-label>

            <form-control>

                Контрол формы

            </form-control>

        </yohtml>

    </content__column-two>

    <footer>
        Футер формы, если его нет, то оставить пустым.
    </footer>
</yohtml>