<yohtml yo-block="app-form__group"
        yo-block-match="app-form__group_grid-4-8">

    <form-label>
        Лейбл формы. Ждет текст.
    </form-label>

    <form-control>
        Контрол формы. Ждет HTML
    </form-control>

</yohtml>