<yohtml yo-block="app-form">
    <header>Header text</header>
    <content>
        <yohtml yo-block="app-form__group">
            <form-label>sdfsf</form-label>
            <form-control>
                <input type="text"/>
            </form-control>
        </yohtml>

        <yohtml yo-block="app-form__group">
            <form-label>123</form-label>
            <form-control>
                <input type="text"/>
            </form-control>
        </yohtml>

        <yohtml yo-block="app-form__group">
            <form-label>Last label form</form-label>
            <form-control>
                <input type="text"/>
            </form-control>
        </yohtml>
    </content>
    <footer>Footer content</footer>
</yohtml>