<yohtml yo-block="app-card">

    <header__title>
        Текст заголовка
    </header__title>

    <header__button>
        <yohtml yo-block="button"
                yo-block-match="button_type-action">
            <icon></icon>
            <text>Текст кнопки</text>
            <dropdown></dropdown>
        </yohtml>
    </header__button>

    <content>

        Контент карточки.

        <yohtml yo-block="app-card__col"
                yo-block-match="app-card__col-1-light">

            <content>
                Контент колонки
            </content>

        </yohtml>

        <yohtml yo-block="app-card__col"
                yo-block-match="app-card__col-4-dark">

            <content>
                Контент колонки
            </content>

        </yohtml>

        <yohtml yo-block="app-card__col"
                yo-block-match="app-card__col-4-light">

            <content>
                Контент колонки
            </content>

        </yohtml>

        <yohtml yo-block="app-card__col-3-dark">

            <content>
                Контент колонки
            </content>

        </yohtml>

    </content>

    <footer>
        Контент футера
    </footer>

</yohtml>