<yohtml yo-block="collapse-toggle">
    <control>
        Контрол выпадающей панели, если его нет, то оставить пустым.
    </control>
    <content>
        Контент выпадающей панели, если его нет, то оставить пустым.
    </content>
</yohtml>