<yohtml yo-block="search-result">
    <header>
        Заголовок результатов поиска, если его нет, то оставить пустым.
    </header>
    <content>
        Список результатов поиска, если его нет, то оставить пустым.
    </content>
</yohtml>