<yohtml yo-block="section-base">

    <header>
        Заголовок секции, если его нет, то оставить пустым.
    </header>

    <content>
        Тело секции
    </content>

    <footer>
        Футер секции, если его нет, то оставить пустым.
    </footer>

</yohtml>