<yohtml yo-block="table-entity">
    <colwidth>
        Размеры колонок, если его нет, то оставить пустым.
    </colwidth>
    <header>
        Заголовок таблицы, если его нет, то оставить пустым.
    </header>
    <content>
        Содержимое таблицы, если его нет, то оставить пустым.
    </content>
</yohtml>