<yohtml yo-block="title-group">

    <icon>
        Иконка группы, если ее нет, то оставить пустым.
    </icon>

    <title>
        Заголовок группы
    </title>
    <dropdown>
        Выпадающее меню, если его нет, то оставить пустым.
    </dropdown>
</yohtml>
