<div class="modal-base">
    <div class="modal-header modal-base__header">
        <ng-close-button ng-click="efVprchCtrl.close()"></ng-close-button>
        <h3 class="modal-title">{{efVprchCtrl.dialogTitle}}</h3>
    </div>
    <div class="modal-body modal-base__body" ng-transclude>

    </div>

    <div class="modal-footer modal-base__footer">
        <div class="pull-left">
            <button class="btn btn-cancel"
                    ng-disabled="efVprchCtrl.isDisabledSelectBtn()"
                    ng-click="efVprchCtrl.clear()">
                Очистить выбор
            </button>
        </div>

        <div class="pull-right">
            <button class="btn btn-cancel"
                    ng-click="efVprchCtrl.cancel()">
                Отменить
            </button>
            <button class="btn btn-action"
                    ng-disabled="efVprchCtrl.isDisabledSelectBtn()"
                    ng-click="efVprchCtrl.choose()">
                Выбрать
            </button>
        </div>
    </div>
</div>