<div class="modal-base">
    <div class="modal-header modal-base__header">
        <ng-close-button ng-click="modalOptions.close('close')"></ng-close-button>
        <h4 class="modal-base__header-title">История событий</h4>
    </div>
    <div class="modal-body modal-base__body">
        <yohtml yo-block="section-base">
            <header></header>
            <content>
                <ef-bp-form search-service="searchService"
                            search-parameters="searchParameters"
                            default-search-parameters="defaultSearchParameters"
                        >
                    <div class="form-base">
                        <div class="form-base__body">

                            <div class="form-group form-base__form-group">
                                <label class="col-xs-3 control-label  form-base__control-label">Период</label>

                                <div class="col-xs-2">
                                    <hcs-datepicker ng-model="searchParameters.dateFrom"
                                                    options="dateFromOptions"></hcs-datepicker>
                                </div>
                                <div class="col-xs-1 text-center">—</div>
                                <div class="col-xs-2">
                                    <hcs-datepicker ng-model="searchParameters.dateTill"
                                                    options="dateTillOptions"></hcs-datepicker>
                                </div>
                            </div>


                            <div class="form-group form-base__form-group">
                                <label class="col-xs-3 control-label  form-base__control-label">Тип события</label>

                                <div class="col-xs-5">
                                    <select id="eventType"
                                            class="form-control form-base__form-control"
                                            ng-model="searchParameters.eventTypes"
                                            ng-options="type.label for type in typeList">
                                        <option value="" selected disabled>Выберите тип события</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-base__form-group">

                                <label class="col-xs-3 control-label  form-base__control-label">Описание</label>

                                <div class="col-xs-5">
                                    <input class="form-control form-base__form-control"
                                           ng-model="searchParameters.description"
                                           placeholder="Введите ключевую информацию"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </ef-bp-form>
            </content>
            <footer></footer>
        </yohtml>

        <div class="register-search-result">

            <div class="register-search-result__header">
                <h4 class="register-search-result__header-title">Результаты поиска</h4>
            </div>

            <div class="register-search-result__body register-search-result_separated">

                <div class="table-metering">
                    <ng-simple-grid ng-config="searchResultTable.config"
                                    state="searchResultTable.state">
                        <column title="Дата и время события" cell="eventDateToShow" sortable="true" width="50px" class="text-center"></column>
                        <column title="Тип события" cell="eventName"></column>
                        <column title="Описание"><div class="event_description" parsed="false">{{ rowData.description }}</div></column>
                        <column title="Пользователь" cell="userName"></column>
                    </ng-simple-grid>
                    <!--<h5 ng-show="searched">Даты указаны по часовому поясу UTC+3</h5>-->
                </div>


            </div>
        </div>
    </div>

    <div class="modal-footer"></div>
</div>