<!--Required Field Demo-->
<div class="container-fluid" ng-controller="RequiredFieldCtrl">
    <form class="form-horizontal" role="form" name="requiredFieldsForm" novalidate>
        <div class="col-md-7">
            <div class="form-group">
                <label for="field1" class="col-md-2 control-label">Поле 1</label>

                <div class="col-md-5">
                    <input id="field1"
                           name="field1"
                           class="form-control"
                           required-field="true"
                           required
                           ng-model="requiredFields.field1"/>
                </div>
                <div class="col-md-5"></div>
            </div>

            <div class="form-group">
                <label for="field2" class="col-md-2 control-label">Поле 2</label>

                <div class="col-md-5">
                    <input id="field2"
                           name="field2"
                           class="form-control"
                           required-field="true"
                           required-error-control-id="requiredErrorControlField2"
                           required
                           ng-model="requiredFields.field2"/>
                </div>
                <div class="col-md-5" id="requiredErrorControlField2"></div>
            </div>

            <div class="form-group">
                <label for="field3" class="col-md-2 control-label">Поле 3</label>

                <div class="col-md-5">
                    <input id="field3"
                           name="field3"
                           class="form-control"
                           ng-disabled="!condition"
                           required-field="condition"
                           required
                           ng-model="requiredFields.field3"/>
                </div>
                <div class="col-md-5"></div>
            </div>

            <div class="form-group">
                <label for="field4" class="col-md-2 control-label">Поле 4</label>

                <div class="col-md-5">
                    <select id="field4"
                           name="field4"
                           class="form-control"
                           required
                           required-field="true"
                           ng-model="requiredFields.field4"
                           ng-options="item.guid as item.houseTypeName for item in houseTypes">
                        <option value="">Выберите значение</option>
                    </select>
                </div>
                <div class="col-md-5"></div>
            </div>

            <button class="btn btn-primary" ng-click="saveRequiredFields(requiredFieldsForm)">Сохранить</button>
            <button class="btn btn-primary" ng-click="changeCondition()">Изменить</button>
        </div>
    </form>
</div>