<!--Блок поиска (ЭФ_БП)-->
<div class="row" ng-controller="EfBpCtrl">
    <ef-bp-form search-service="searchService" search-parameters="searchParameters">

        <div class="collapse-toggle">
            <div class="collapse-toggle__pane"
                 ng-init="isCollapsed = false">
                <a href
                   class="collapse-toggle__ctr _collapsed"
                   ng-click="isCollapsed = !isCollapsed"
                   ng-class="{'_collapsed' : isCollapsed}">

                    <!-- Collapsed state -->
                    <span class="collapse-toggle__state _collapsed">
                        <span class="collapse-toggle__state-icon  glyphicon glyphicon-collapse-down"></span>
                    </span>
                    <!-- Active (open) state -->
                    <span class="collapse-toggle__state _active">
                        <span class="collapse-toggle__state-icon  glyphicon glyphicon-collapse-up"></span>
                    </span>
                    <span class="collapse-toggle__state-title">Название блока поиска</span>
                </a>
            </div>
            <!-- /end .collapse-toggle__pane -->
            <div class="collapse-toggle__cnt collapse" collapse="isCollapsed">

                <!--Проверка работоспособности Поиска адреса внутри формы поиска-->
                <ef-pa-form filter="searchParameters"></ef-pa-form>

                <div class="form-base">
                    <form class="form-horizontal">
                        <div class="form-base__form-group form-group">
                            <label class="col-md-4 form-base__control-label control-label form-base__control-label_multi" for="flatNumber">Проверка работоспособности Выбора даты внутри формы поиска</label>
                            <div class="col-md-8">
                                <!--Проверка работоспособности Выбора даты внутри формы поиска-->
                                <hcs-datepicker ng-model="myDate" options="dateOptions"></hcs-datepicker>
                            </div>
                        </div>
                        <div class="form-base__form-group form-group">
                            <label class="col-md-4 form-base__control-label control-label" for="flatNumber">Номер помещения</label>

                            <div class="col-md-8">
                                <!--Плохое имя, которое затрет (точнее будет конкурировать) с данными из ef-pa-form-->
                                <input ng-model="searchParameters.flatNumber" type="text" placeholder="Введите номер помещения"
                                       class="form-base__form-control form-control input-md" maxlength="20" ng-disabled="disabledFlatNumber">
                            </div>
                        </div>
                        <div class="form-base__form-group form-group">
                            <label class="col-md-4 form-base__control-label control-label" for="apartmentCategoryGuid">Категория помещения</label>
                            <div class="col-md-8">
                                <select ng-model="searchParameters.apartmentCategoryType"
                                        placeholder="Выберите категорию помещения"
                                        ui-select2=""
                                        class="form-base__form-control form-control">
                                    <option value=""></option>
                                    <option value="1">Отдельное</option>
                                    <option value="2">Смежное</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /end .collapse-toggle__cnt -->
        </div>
    </ef-bp-form>
</div>