
/*  Эти классы для грида с перетаскиваемыми столбцами */
// элемент, с которого начинается перетаскивание
.oplata-grid {
  .column-drag-handler {
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: ew-resize;
    z-index: 10;
    &.ui-draggable-disabled {
      cursor: default;
    }
  }
  // элемент, который тащится
  .column-drag-helper {
    background: #d3d3d3;
    opacity: 0.7;
    width: 4px;
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .th-title {
    width: calc(~"100% - 32px");
    float: left;
  }
  .th-sort-mark {
    float: right;
  }
  .scroll-max-480 {
    max-height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.oplata-icon-subheader{
  display: inline-block;
  background-color: #0a65ab;
  border-radius: 3px;
  width: 38px;
  height: 33px;
  text-align: center;
  .glyphicon{
    color: #fff;
    line-height: 33px;
    font-size: 16px;
  }
}

.oplata-grid-subheader{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: #051c2f;
}

/*********************************************************/

/* Классы для меню настройки столбцов */
// column config drop down menu
.dropdown-menu.dropdown-columns-config {
  padding: 0 0 10px 0;
  li {
    position: relative;
    padding: 0 5px;
    border: none;
    border-bottom: none;
    box-shadow: none;
    cursor: pointer;
    &.selected {
      background-color: cyan;
      > .selection-caret{
        visibility: visible;
      }
    }
    > .selection-caret {
      border: dotted 1px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      visibility: hidden;
    }
    label {
      font-weight: normal;
      cursor: pointer;
    }
  }

}

/********************************************************/

.input-group {
  .input-group-btn {
    button{
      height: 34px;
    }
  }
}

/**** Классы для картинок на форме оплаты ******/
.oplata-icon-card-visa{
  background:url(img/icon-card-visa.png) left top no-repeat;
  width: 60px;
  height: 37px;
  display: inline-block;
}

.oplata-icon-card-mc{
  background:url(img/icon-card-mc.png) left top no-repeat;
  width: 60px;
  height: 37px;
  display: inline-block;
}

.panel{
  .panel-body.panel-receipt-legend{
    padding: 10px;
    font-size: 12px;
    .panel-receipt-legend__icon{
      font-size: 16px;
      top: 3px;
    }
    .panel-receipt-legend__title{
      font-size: 12px;
      color: #808080;
    }
  }
}

.alert-annulled{
  background-color: #FFEDDF;
  color: #C53513;
  .alert-annulled__icon{
    font-size: 24px;
    top: 6px;
    margin-right: 10px;
  }
  .alert-annulled__label{
    font-size: 16px;
  }
}