
.record-status-pad {
  padding-bottom: 10px;
}

.nsi-textarea {
  height: auto !important;
}

.not-actual-record {
  font-style: italic;
}
.record-search-result {
  font-weight: bolder;
}

.record-dropdown {
  font-style: normal;
}