/*Стили для ОЧ*/
.idx-table-label-width {
  width: 65%;
}
.idx-header-table-label-width {
  width: 50%;
}
.idx-table-val-width {
  display: inline;
}
.idx-table-files-val {
  display:inline-block;
  overflow-y: scroll;
  height: 105px;
}
.idx-table-files-empty-val {
  height: 110px;
}
.idx-limit-link {
  margin-top: 10px;
  border-bottom: 2px solid #e5eaee;
  height: 45px;
}
.idx-overview-col-width {
  width: 45%;
}
.idx-overview-border-bottom {
  box-shadow: none;
  border-bottom: 0px;
}
.idx-files-label {
  width:15%;
  vertical-align: top;
}
.idx_attr_table_border {
  border-top: 2px solid #f1f3f6;
}