// Cabinet services panel
.cabinet-services {
  margin: 0 0 50px 0;
}

.cabinet-services__item {
  padding: 12px 14px;
  margin: 0 0 5px 0;

  background-color: #e5eaee;
}

.cabinet-services__item-title {
  font: 400 18px/1.42857143 'Roboto Condensed', sans-serif;
}
