.citizen-cabinet {
  position: relative;
}
.citizen-cabinet__block {
  border-radius: 3px;
  background: #e1f1ff;
  &.citizen-cabinet__block_full-height {
    min-height: 503px;
  }
}

.citizen-cabinet__header {
  text-align: center;
  h3 {
    margin-bottom: 30px;
  }
}


.citizen-cabinet__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.citizen-cabinet__list-item {
  border-bottom: solid 1px #c0d6eb;
  box-shadow: 0 1px 1px #fff;
  padding: 10px 15px;
  font-size: 14px;

  a {
    text-decoration: underline;
  }

  &:last-child {
    border-bottom: none;
    box-shadow: none;
  }

  &.citizen-cabinet__list-item_notifications {
    padding: 0;

    height: 300px;
    overflow-y: auto;
  }

}

.citizen-cabinet__list-icon {
  margin: 5px 0 0 0;
}



.citizen-cabinet__list {
  &.citizen-cabinet__list_as-a-block {
    .citizen-cabinet__list-item{
      display: block;

      border-radius: 3px;
      background: #e1f1ff;

      text-align: center;

      /*width: 200px;*/
      height: 244px;

      padding: 30px 15px 0 15px;

      margin-bottom: 15px;



    }
    .citizen-cabinet__item-wrapper {
      display: table;
      height: 100%;
      width: 100%;


    }
    .citizen-cabinet__list-icon {

      width: 100px;
      height: 50%;
      margin: 0 auto;
      text-align: center;

      display: table-row;
    }

    .citizen-cabinet__list-label {
      font-size: 16px;
      font-family: "Roboto Condensed";
      color: #0063af;
      text-decoration: underline;
      cursor: pointer;

      margin: 10px 0 0 0;
      height: 50%;
      display: table-cell;

      vertical-align: middle;
    }

  }
}




.notifications__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.notifications__list-item {
  border-bottom: solid 1px #efeaca;
  box-shadow: 0 1px 2px #ffffff;

  background: #fef9dc;

  padding: 10px 15px;

  &.notifications__list-item_ad {
    background: #f0f1f3;
    border-color: #d4d9dd;
  }

  &.notifications__list-item_payment {
    background: #ffded9;
    border-color: #f1c8c4;
  }

  &:last-child {
    border-bottom: none;
    box-shadow: none;

  }


}


.citizen-link {
  text-decoration: none;
  border-bottom: dashed 1px #0063af;
}

.citizen-link:hover {
  text-decoration: none;
  border-bottom: dashed 1px transparent;
}

.citizen-link.citizen-link_edit {
  margin: 10px 0;
}

.citizen-cabinet__list-item .citizen-link {
  text-decoration: none;
}

.citizen-cabinet__icon-add-account {
  position: absolute;
  left: 25%;
  top: 10%;
}

.legendWrapHide {
  .nv-legendWrap {
    display: none;
  }
}

/*TO FORM BASE*/


/*TO FORM BASE END*/
