// APP SEARCH FORM
.ctr-panel {
  margin: 0 0 20px 0;
  padding: 15px 20px;

  border-radius: 3px;
}

.ctr-panel_separated {
  padding: 0 20px;
}

.ctr-panel_dim_inner {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
}

.ctr-panel_pad_dark {
  background-color: #0a65ab;
}

.ctr-panel__col_separated {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ctr-panel__col_separator {
  border-left: 1px solid rgba(255,255,255, .17);
}

.ctr-panel__form {
  //...
}

.ctr-panel__control-label {
  color: #ffffff;
}