@color-bg-docs-base-row : #f2f3f7;
@color-tx-docs-base-row: #000000;

.docs-base{
  width: 100%;
  display: block;
}
.docs-base__row{
  background-color: @color-bg-docs-base-row;
  margin:2px 0 0 0;
  padding:13px 10px;
  font: 400 16px/1.1 'Roboto Condensed', sans-serif;
  color:@color-tx-docs-base-row;
  .app-icon{
    padding-right: 5px;
  }

  a{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 18px/1.1;
    &:hover{
      text-decoration: none;
    }
  }
}