// APP ELECTRONIC SIGNATURE CARD
.e-signature-card {
  //...
}

.e-signature-card__header {
  padding: 8px 0;
  margin: 0 0 14px 0;

  border-bottom: 1px solid #dedfe0;
  box-shadow: 0 1px 0 #ffffff;
}

.e-signature-card__header-title {
  display: inline-block;

  min-height: 20px;
  font-weight: 700;
}

.e-signature-card__header-icon {
  margin-right: 6px;
}

.e-signature-card__body {
  //...
}

// Signature data ->
.e-signature-card__data {
  margin: 0 0 20px 0;
}

.e-signature-card__data-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.e-signature-card__data-i {
  //...
}

.e-signature-card__data-i-cnt {
  margin-bottom: 8px;
  font-size: 12px;
}

.e-signature-card__data-i-label {
  display: inline-block;
  width: 30%;
}

.e-signature-card__data-i-val {
  display: inline-block;
  width: 68%;

  font-weight: 700;
}

.e-signature-card__data-i-format {
  color: #8f8f8f;
}
// Signature data <-

// Signature caption ->
.e-signature-card__caption {
  margin: 0 0 25px 0;
}
// Signature caption <-

// VERIFICATION STATUS ->
.e-signature-card__verif {
  position: relative;
  margin: 0 0 20px 0;

  padding-left: 36px;
}

.e-signature-card__verif_status_ok {
  //...
}

.e-signature-card__verif_status_error {
  //...
}


.e-signature-card__verif-symbol {
  display: block;
  position: absolute;

  top: 0;
  left: 0;
}

.e-signature-card__verif-icon {
  font-size: 20px;
}

.e-signature-card__verif_status_error {
  //...

  .e-signature-card__verif-icon {
    color: #8e8e8f;
  }
}

// Status icon ->
.e-signature-card__verif-icon-status {
  position: relative;

  top: 0px;
  left: -10px;

  font-size: 12px;
}

.e-signature-card__verif_status_ok {
  //...

  .e-signature-card__verif-icon-status {
    color: #0c8d21;
  }
}

.e-signature-card__verif_status_error {
  //...

  .e-signature-card__verif-icon-status {
    color: #c13416;
  }
}
// Status icon <-

// Status text ->
.e-signature-card__verif-status {
  font-size: 12px;
  line-height: 1.33;
}

.e-signature-card__verif_status_ok {
  //...

  .e-signature-card__verif-status {
    color: #0c8d21;
  }
}

.e-signature-card__verif_status_error {
  //...

  .e-signature-card__verif-status {
    color: #c13416;
  }
}
// Status text <-
// VERIFICATION STATUS <-