// APP ELECTRONIC SIGNATURE
.e-signature {
  //...
}

.e-signature_pad_light {
  background-color: #f1f3f6;
}

.e-signature__header {
  //...
}

.e-signature__body {
  padding: 0 20px;
}

.e-signature_recess_sign {
  padding-top: 17px;
  padding-bottom: 5px;
}

.e-signature_recess_xml {
  padding-top: 0;
  padding-bottom: 17px;
}

.e-signature_recess_card {
  padding-top: 0;
  padding-bottom: 1px;
}

// Controls block ->
.e-signature__controls {
  padding: 10px 0;
}
// Controls block <-

// Preview section ->
.e-signature__preview {
  margin-bottom: 25px;
}

.e-signature__preview-cnt {
  max-height: 410px;

  overflow: scroll;

  border: 1px solid #d6d6d6;
  border-radius: 3px;
}

.e-signature__preview-cnt::-webkit-scrollbar-corner {
  background-color: #f1f3f6;
}
// Preview section <-

// Signature attachments ->
.e-signature__attachments {
  //...
}

.e-signature__attachments-title {
  margin-bottom: 10px;

  font-weight: 700;
}

.e-signature__attachments-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.e-signature__attachments-i {
  //...
}

.e-signature__attachments-i-cnt {
  padding: 10px 0 10px 30px;

  min-height: 20px;

  border-top: 1px solid #dedfe0;
  box-shadow: inset 0 1px 0 #ffffff;
}

.e-signature__attachments-i-icon {
  display: inline-block;
  position: absolute;

  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
}

.e-signature__attachments-i-title {
  position: relative;
  display: block;

  margin: 0 0 0 -30px;
  padding: 0 0 0 30px;

  font-size: 12px;
  font-weight: 700;
}

.e-signature__attachments-i-file {
  font-size: 12px;
  color: #8f8f8f;
}
// Signature attachments <-

// Consent ->
.e-signature__consent {
  //...
}

.e-signature__consent-checkbox {
  margin-top: 20px;
  margin-bottom: 0;

  font-size: 12px;

  input[type="checkbox"] {
    margin-top: 2px;
  }
}
// Consent <-