.not-found__wrapper {
  width: 100%;
  height: 100%;

  position: relative;
}
.not-found__bg {
  display: block;
  width: 389px;
  height: 412px;

  margin: 0 auto;

  background-image: url("@{imgPath}/bg_not-found.png") center center;

  vertical-align: middle;
}

.not-found__header {

  h1 {
   font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }

}

.not-found__desc {

}