// APP SEARCH FORM
.form-search {
  margin: 0 0 20px 0;
  padding: 20px;

  border-radius: 3px;
}

.form-search_dim_inner {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
}

.form-search_pad_dark {
  background-color: #0a65ab;
}

.form-search__radio {
  font-family: 'Roboto Condensed', sans-serif;
}

.form-search__radio-title {
  display: inline-block;
  position: relative;

  margin-right: 25px;

  top: 2px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.form-search__radio_cl_light {
  color: #ffffff;
}

// MARGIN
.form-search_mg_none {
  margin: 0;
}

