.form-upload__row {
  &.form-upload_as-a-table {
    float: none;
    display: table;
    .form-upload__cell {
      display: table-cell;
    }
    .form-upload__file-image {
      .form-upload__cell;
    }
    .form-upload__file-name {
      .form-upload__cell;
    }
    .form-upload__input {
      .form-upload__cell;
    }
    .form-upload__button {
      .form-upload__cell;
    }
  }
}

.form-upload {
  width: 100%;
  display: block;
  & + .form-upload {
    margin-top: 10px;
  }
}

.form-upload {
  .form-upload__row {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-upload__row {
  width: 100%;
  margin-bottom: 8px;
  float: left;
  position: relative;
}

.form-upload__file-image {
  display: inline-block;
  margin-top: 8px;
  float: left;
  max-width: 19%;
}

.form-upload__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-family: "Arial", sans-serif;
}

.form-upload__file-name {
  display: inline-block;
  font-size: 12px;
  color: #222;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
  padding-left: 10px;
  width: 33%;
  float: left;
  //temp
  max-width: 80%;
}

.form-upload__input {
  display: inline-block;
  width: 53%;
  float: left;
}

.form-upload__button {
  display: inline-block;
  text-align: right;
  vertical-align: middle;

  &.form-upload__button_remove {
    padding-left: 10px;
    width: 4%;
    float: right;
    margin-top: 4px;
  }
}

.form-upload__file-attrs {
  display: inline-block;
  text-align: right;
  line-height: 36px;

  padding: 0 15px 0 0;
}

.form-upload__attr-time {
  font-size: 12px;
  color: #747577;
}

.form-upload__attr-date {
  .form-upload__attr-time;
}

/* Upload form */
.form-upload__initial-title {
  font-size: 12px;
  color: #222;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
}

/*._has-draggable-area {
  &:hover {
    .draggable-area {
      display: block;
    }
  }
}*/
/*
  .form-base__body {
    position: relative;

    .form-base__form-group {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }*/

.draggable-area-wrapper {
  width: 100%;
  position: relative;
}

.upload-area-wrapper {
  .draggable-area-wrapper;
}

.draggable-area {

  //display: none;
  position: absolute;
  width: 100%;
  z-index: 1000;
  //margin-left: -15px;
  min-height: 49px;
  background: rgba(231, 232, 236, 0.95);
  border: dotted 1px #afb0b4;

  .draggable-area__label {
    display: block;
    width: 90%;
    margin: 14px auto 0 auto;
    font: bold 16px "Arial";
    text-align: center;
    color: #bbbbbb;
  }
}

/* Upload form end */