// APP BASE FORM
.form-base {
  margin: 0 0 20px 0;
  border-radius: 3px;
}

.form-base + .form-base {
  margin-top: 30px;
}

.form-base_dim {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
          box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

// [DEPRECATED] -> TODO: change markup in the app and then delete
.form-base_pad_auto {
  //margin-bottom: -40em;
  //padding-bottom: 40em;
}

// Markup migrations steps
// 1. К .form-base__body добавить .form-base__body_multi
// 2. К .row добавать .form-base__row_multi (только где хотим получить колонки одинаковой высоты)
// 3. К .col-... добавить .form-base__col .form-base__col_multi .form-base_pad_light (.form-base_pad_dark)
// 4. Удалить .form-base_pad_auto
// 5. Удалить обертку внутри .form-base__col наподобие .form-base__col_r, .form-base__col_l и т.д.

// [DEPRECATED] <-

.form-base_pad_light {
  background-color: #f1f3f6;
}

.form-base_pad_dark {
  background-color: #e5eaee;
}


// -> REDESIGN of NATIVE BS ELEMENTS
// -> Fallback for bs
.form-base {
  //...

  .control-label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;

    &.required:after {
      content:"*";

      position: absolute;

      top: 2px;
      right: 6px;

      font-size: 16px;

      color: #b90000;
    }

    &.control-label-multi {
      padding-top: 0;

      &.required:after {
        top: -8px;
      }
    }
  }

  &.form-base_size_sm {
    //...

    .form-base__control-label {
      font-size: 14px;
      //font-weight: 700;
    }
  }

  .form-control {
    border-radius: 3px;

    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
  }

  &.form-base_size_sm {
    //...

    .form-base__form-control {
      font-size: 12px;
    }
  }

  .has-feedback {
    //...

    .form-control-feedback {
      font-size: 16px;
    }
  }
}
// Fallback for bs <-


.form-base__form-group {
  //...
}



.form-base__control-label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;

  &.required:after, &._required:after {
    content:"*";

    position: absolute;

    top: 2px;
    right: 6px;

    font-size: 16px;

    color: #b90000;
  }

  &.required_cl_light:after, &._required_cl_light:after {
    color: #f47d7d;
  }

  &.form-base__control-label_multi {
    padding-top: 0;

    &.required:after, &._required:after {
      top: -8px;
    }
  }
}

.form-base__control-label_wd_auto {
  width: auto;
}

.form-base__cnt-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;

  color: #8f8f8f;
}

.form-base_size_sm {
  //...

  .form-base__control-label {
    font-size: 14px;
    //font-weight: 700;
  }
}

.form-base__val-units {
  display: inline-block;
  padding-top: 7px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form-base__val-units_close {
  margin-left: -20px;
}

.form-base_size_sm {
  //...

  .form-base__val-units {
    font-size: 14px;
  }
}

.form-base__control-label-subtext {
  display: block;

  font-size: 14px;
  color: #8f8f8f;
}

.form-base__form-control {
  border-radius: 3px;

  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
}

.form-base__form-control_close_xs {
  margin-left: -5px;
}

.form-base_size_sm {
  //...

  .form-base__form-control {
    font-size: 12px;
  }
}


.form-base__checkbox {
  //...
}


.form-base_size_sm {
  //...

  .form-base__checkbox {
    font-size: 12px;
  }

  input[type="checkbox"] {
    margin-top: 2px;
  }
}

.form-base__checkbox_cl_light {
  color: #8f8f8f;
}

.form-base__radio {
  //...
}

.form-base_size_sm {
  //...

  .form-base__radio {
    font-size: 12px;
    label {
      line-height: 1.75;
    }
  }

}

/*Bootstrap fallback*/
.form-base_size_sm {
  //...

  .checkbox {
    label {
      font-size: 12px;
    }

  }
}
/*Bootstrap fallback*/

/*
.form-base {
  //... TODO: fix this if possible

  option[value=""] {
    color: #777;
  }
}
*/
// REDESIGN of NATIVE BS ELEMENTS <-

// FORM FIELDS OFFSET ->
.form-base__el_close_l {
  padding-left: 5px;
}

.form-base__el_close_r {
  padding-right: 5px;
}

.form-base__el_close {
  padding-left: 5px;
  padding-right: 5px;
}
// FORM FIELDS OFFSET <-


// FORM HEADER ->
.form-base__header {
  padding: 12px 20px;

  border-radius: 3px 3px 0 0;
}

.form-base__header_rect {
  border-radius: 0;
}

.form-base__header-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

.form-base__header_pad_light {
  background: #e5eaee;

  .form-base__header-title {
    color: #8f8f8f;
  }
}

.form-base__header_pad_dark {
  background: #3c4954;

  .form-base__header-title {
    color: #ffffff;
  }
}
// FORM HEADER <-

// FORM BODY ->
.form-base__body {
  padding: 20px;
  //overflow: hidden;
}

.form-base__body_multi {
  padding: 0;
}
// FORM BODY <-


.form-base__footer {
  .form-base__header;
}


.form-base__container_multi {
  display: table;
  width: 100%;
}

// FORM FOOTER ->
.form-base__footer {
  .form-base__header;
}
// FORM FOOTER ->

// FORM ROW ->
.form-base__row {
  //...
}

.form-base__row_multi {
  display: table-row;
  height: 100%;

  &:before, &:after {
    display: none;
  }

  &.form-base__row_multi_fluid {
    //...

    &:before, &:after {
      display: table;
    }
  }
}
// FORM ROW <-

// FORM COL ->
.form-base__col {
  padding: 20px;
}

.form-base__col_round_l {
  border-radius: 3px 0 0 3px;
}

.form-base__col_round_r {
  border-radius: 0 3px 3px 0;
}

.form-base__col_l {
  padding: 20px 0 20px 20px;
}

.form-base__col_r {
  padding: 20px 20px 20px 0;
}

// FORM FEEDBACK -->
.form-base__form-control-feedback {
  //...
}

.form-horizontal {
  //...

  .col_indent_xxs, .col_indent-r_xxs {
    //...

    .form-base__form-control-feedback {
      right: 2px;
    }
  }
}
// FORM FEEDBACK <-

.form-base__col_multi {
  display: table-cell;
  float: none;

  padding: 20px;

  vertical-align: top;
}

.form-base__col_multi_tight {
  padding-top: 7px;
  padding-bottom: 7px;
}

.form-base__col_multi_narrow {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-base__row_multi_fluid {
  //...

  .form-base__col_multi {
    float: left;
  }
}
// FORM COL <-


.form-base__attachments-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form-base__attachments-i {
  position: relative;
  margin-bottom: 8px;
}
.form-base__attachments-i-icon {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
}
.form-base__attachments-i-delete {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 16px;
  color: #8f8f8f;
}
.form-base__attachments-i-delete:hover,
.form-base__attachments-i-delete:focus {
  color: #b90000;
  cursor: pointer;
}

.form-base__attachments-i-title {
  display: block;
  margin: 0 26px 0 28px;
  font-size: 12px;
}

.form-base__break {
  margin: 0 0 20px 0;

  border-top: 1px solid #d7dade;
  border-bottom: 1px solid #f5f7f8;
}

.form-base__form-value {
  display: block;
  font-size: 16px;
  font-weight: 700; // Should be here

  padding-top: 7px;


}

.form-base__form-value_attn {
  display: inline-block; // Should be in .form-base__form-value

  padding-top: 7px; // Should be in .form-base__form-value

  font-size: 19px;
  font-weight: 700;
}

.form-base__date-range {
  min-width: 426px;
}





// PADDINGS
.form-base_pd {
  padding: 20px;
}

.form-base_pd-l {
  padding: 20px 0 20px 20px;
}

.form-base_pd-r {
  padding: 20px 0 20px 20px;
}

.form-base_pd-l-r {
  padding: 0 20px;
}



// CHECKBOX ->
.checkbox-base {
  //...

  &.checkbox-base_size_sm {
    font-size: 12px;

    input[type="checkbox"] {
      margin-top: 2px;
    }
  }
}
// CHECKBOX <-