@color-form-base__group-title: #8f8f8f;
@color-placeholder: #c3c3c3;
.form-base {
  .form-base__form-control_listpicker {
    &:read-only {
      background-color: inherit;
    }
  }
  .form-base__form-control_listpicker[readonly] {
    background-color: inherit;
  }
}


.form-base_margin-top-10 {
  margin-top: 10px;
}

.form-base__body {
  .row {
   /* &:last-child {
      .form-base__form-group {
        margin-bottom: 0;
      }
    }*/
    &:only-child {
      .form-base__form-group {
        margin-bottom: 15px;
      }
    }
  }

  .form-base__body{
    padding: 0;
    margin: 0;
  }
}

.form-group {
  &.form-base__form-group {
    &.form-base__form-group_upload-form {
      margin-bottom: 0;
    }
  }
}


.form-base__control-label {

  &.required:after, &._required:after {
    position: relative;
    top: auto;
    right: auto;
    margin-left: 5px;
  }

  &.form-base__control-label_multi {
    &.required:after, &._required:after {
      top: auto;
    }
  }

  &.text-left{
    text-align: left;
  }

  &.text-center{
    text-align: center;
  }

  &.text-right{
    text-align: right;
  }
}




.form-base__form-group_with-action {
  .form-base__form-control {
    width: 93%;
    display: inline-block;
  }
  .form-base__form-control-action {

    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 16px;

    cursor: pointer;

  }
}

.form-base__text_date-ranges {
  .form-base__text_date-range {
    &:last-child {
      margin-right: 0;
    }
  }
}

.form-base__text_date-range {
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  margin-right: 7px;
}

.form-base {
  &.form-base_size_sm {
    .form-base__text_date-range {
      font-size: 12px;
    }
  }
}

.form-base__form-text {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
}

.form-base {
  &.form-base_size_sm {
    .form-base__form-text {
      font-size: 12px;
    }
  }
}

.form-base {
  &.form-base_size_sm {
    .form-base__form-value {
      font-size: 12px;
      padding-top: 10px;
    }

  }
}





.form-base__filename {
  font-size: 12px;
  color: #222;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}







/* TRICKS */

._rao-select-padding-fix-1 {
  select{
    padding: 6px 5px;
  }
}

.agreements-form_multi{
  .form-base{
    margin: 0;
  }

  .form-base + .form-base{
    margin-top: 10px;
  }
}

.form-base__group-title{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: @color-form-base__group-title;

  &.form-base__group-title_black {
    color: #555354;
    margin: 0 0 10px 0;
  }

}


.form-control {
  &.form-base__form-control {
    &.form-base__form-control_small {
      height: 24px;
      padding: 3px;
    }
    &.form-base__form-control_fake {
      position: absolute;
      z-index: 1;

    }
  }
}

.form-base__control-info-text{
  .form-base__control-label-subtext;
  font-size: 12px;
}

.form-base__icon{
  width: 27px;
  height: 27px;
  margin-right: 5px;
  float: left;

  &.form-base__icon-document{
    background-image: url("@{imgPath}/work-planning__icon-document.png");
  }

  &.form-base__icon-document_plus{
    background-image: url("@{imgPath}/work-planning__icon-document-plus.png");
  }

  &.form-base__icon-photo_plus{
    background-image: url("@{imgPath}/work-planning__icon-photo-plus.png");
  }

  &.form-base__icon-photo{
    background-image: url("@{imgPath}/work-planning__icon-photo.png");
  }
}
.form-base__form-link{
  font-weight: normal;
  color: #01649d;
}
.form-base__form-group{
  &.form-base__form-group_stripped-value{
    margin-bottom: 4px;
    .form-base__form-link,
    .form-base__form-value{
      border-bottom: 1px solid #d7dade;
      box-shadow: 0 2px 0 #f5f7f8;
      padding-top: 11px;
      padding-bottom: 10px;
      font-size: 12px;
      display: block;
    }
  }

  &.form-base__form-group_stripped-value:last-child{
    margin-bottom: 4px;

    .form-base__form-link,
    .form-base__form-value{
      border-bottom: 1px solid transparent;
      box-shadow: none;
      padding-top: 11px;
      padding-bottom: 10px;
      font-size: 12px;
      display: block;
    }
  }
}

.form-base__form-group{
  &.form-base__form-group_stripped{
    margin-bottom: 4px;
    border-bottom: 1px solid #d7dade;
    box-shadow: 0 2px 0 #f5f7f8;
    padding-bottom: 10px;
    font-size: 12px;
    display: block;
  }

  &.form-base__form-group_stripped:last-child{
    margin-bottom: 4px;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    padding-bottom: 10px;
    font-size: 12px;
    display: block;
  }
}

.form-base__value{

  &.form-base_size_12{
    font-size:12px;
    padding-top: 9px;
  }
}

.form-base__btn_remove:hover,
.form-base__btn_remove:active,
.form-base__btn_remove{
  color:#8f8f8f;
  text-decoration: none;
  font-size: 18px;
  margin-left: -15px;
  display: block;
  margin-top: 4px;
}

.form-base__btn-100{
  width: 100%;
}

.form-base__form-control{
  &::-webkit-input-placeholder { /* WebKit browsers */
    color:    @color-placeholder;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    @color-placeholder;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @color-placeholder;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    @color-placeholder;
  }
}

.form-base__container-form-control{
  position: relative;
}


.form-base__container-form-control:after {
  content: " ";
  position: absolute;
  top: 3px;
  right: 17px;
  font-size: 16px;
  display:block;
  height: 28px;
  width:25px;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.68) 28%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(28%,rgba(255,255,255,0.68)), color-stop(55%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 28%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 28%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 28%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 28%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.form-base__container-select-control:after {
  content: " ";
  position: absolute;
  top: 3px;
  right: 17px;
  font-size: 16px;
  display:block;
  height: 28px;
  width:25px;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.68) 28%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(28%,rgba(255,255,255,0.68)), color-stop(55%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 28%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 28%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 28%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 28%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
/* TRICKS END */

.form-base__form-control,
.form-control{
  font-weight: normal;
}