// HALLS INFO CARDS
.hall-i-card {
  padding: 10px 15px 15px 15px;

  background-color: #f1f3f6;
}

.hall-i-card__header {
  margin-bottom: 10px;
}

.hall-i-card__header-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.hall-i-card__body {
  //...
}

.hall-i-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hall-i-card__i-cnt {
  padding: 4px 2px;

  border-top: 1px solid #dedfe0;
  box-shadow: inset 0 1px 0 #ffffff;
}

.hall-i-card__i-label {
  display: inline-block;

  width: 49%;

  font-size: 12px;
}

.hall-i-card__i-val {
  display: inline-block;
  position: relative;

  bottom: -1px;

  width: 49%;

  font-size: 18px;
  font-weight: 700;
}