// APP INFO PANELS
.info-panel {
  margin: 20px 0;
}

.info-panel__data {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.info-panel__data_size_lg {
  font-size: 18px;
}

.info-panel__label {
  margin-right: 5px;
}

.info-panel__val {
  //...
}

.info-panel__val_attn {
  font-weight: 700;
}