.info-card__header {
  &._light-header{
    padding: 12px 0;
    background-color: transparent;
    border-radius: 0;
  }

  &.info-card__header_pad_light{
    background-color: #e5eaee;

    .info-card__header-title{
      color:#8d9194;
    }
  }
}
.info-card__i {
  &._padding-0-20{
    padding:0 20px;
  }
}

.info-card__i_small-label{
  .info-card__i-label {
    width: 38%;
  }

  .info-card__i-val {
    width: 60%;
  }
}

.info-card_sm{
  font-size: 12px;
}

.info-card__items{
  &.info-card_has-border-last-child {
    .info-card__i:last-child .info-card__i-cnt{
      border-bottom: 1px solid #ffffff;
      box-shadow: inset 0 -1px 0 #dedfe0;
    }
  }
}
