// APP INFO CARDS
.info-card {
  margin: 0 0 30px 0;
}

.info-card_separated {
  border-bottom: 2px solid #cedbe4;
}

.info-card_pad_light {
  background-color: #f1f3f6;
}

.info-card_pad_dark {
  background-color: #e5eaee;
}

.info-card_pad_overlap-btm {
  position: relative;

  &:after {
    display: block;
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: inherit;

    content: "";
  }
}

.info-card__header {
  padding: 12px 20px;

  background-color: #3c4954;
  border-radius: 3px 3px 0 0;

  &._light-header{
    padding: 12px 0;
    background-color: transparent;
    border-radius: none;
  }
}

.info-card__header_rect {
  border-radius: 0;
}

.info-card__header-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;

  color: #ffffff;
}

.info-card__body {
  //...
}

.info-card__container_multi {
  display: table;
  width: 100%;
}

.info-card__row_multi {
  display: table-row;
  height: 100%;

  &:before, &:after {
    display: none;
  }

  &.info-card__row_multi_fluid {
    //...

    &:before, &:after {
      display: table;
    }
  }
}

.info-card__col_multi {
  display: table-cell;
  float: none;

  padding: 0 20px;

  vertical-align: top;
}

// Info card as table ->
.info-card__table {

  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        padding: 8px 12px;

        font-weight: 700;
        vertical-align: middle;

        border-bottom: none;
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...

      > td {
        padding: 0;
        vertical-align: top;
        border-top: none;
      }
    }
  }
}

.info-card__table-cnt {
  margin: 0 12px;
  padding: 8px 2px;

  border-top: 1px solid #dedfe0;
  box-shadow: inset 0 1px 0 #ffffff;
}

.info-card_pad_dark {
  //...

  .info-card__table-cnt {
    border-top: 1px solid #d7dade;
    box-shadow: inset 0 1px 0 #f5f7f8;
  }
}

.info-card__table {
  //...

  > tbody {
    //...

    > tr:first-child {
      //...

      > td {
        //...

        .info-card__table-cnt {
          border-top: none;
          box-shadow: none;
        }
      }
    }
  }
}
// Info card as table <-

// Info card as list ->
.info-card__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-card__items_backward {
  //...
}


.info-card__i {
  //...

  &._padding-0-20{
    padding:0 20px;
  }
}

.info-card__i_double {
  padding: 0 20px;

  float: left;
  width: 50%;
}

.info-card__i_triple {
  padding: 0 20px;

  float: left;
  width: 33.333%;
}

.info-card__i_quad {
  padding: 0 20px;

  float: left;
  width: 25%;
}

.info-card__i_three-fifths {
  padding: 0 20px;

  float: left;
  width: 58%;
}

.info-card__i_two-fifths {
  padding: 0 20px;

  float: left;
  width: 42%;
}

.info-card__i-cnt {
  padding: 12px 2px;

  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0 -1px 0 #dedfe0;
}

.info-card__i.info-card_pad_dark {
  // Modification of borders for list type #2

  .info-card__i-cnt {
    border-bottom: 1px solid #f5f7f8;
    box-shadow: inset 0 -1px 0 #d7dade;
  }
}

.info-card__items {
  //...

  .info-card__i:last-child {
    //...

    .info-card__i-cnt {
      border-bottom: 1px solid transparent;
      box-shadow: inset 0 -1px 0 transparent;
    }
  }
}

.info-card__items_backward {
  //...

  .info-card__i:last-child {
     //...

     .info-card__i-cnt {
       border-bottom: 1px solid #ffffff;
       box-shadow: inset 0 -1px 0 #dedfe0;
     }

    .info-card__i-cnt.info-card__i-cnt_pad_dark {
      border-bottom: 1px solid #f5f7f8;
      box-shadow: inset 0 -1px 0 #d7dade;
    }
  }
}

.info-card__i-cnt_pad_dark {
  border-bottom: 1px solid #f5f7f8;
  box-shadow: inset 0 -1px 0 #d7dade;
}

.info-card__i-label {
  display: inline-block;

  width: 44%;
}

.info-card__i-val {
  display: inline-block;

  width: 54%;

  font-weight: 700;
}

.info-card__id-open {
  display: inline-block;
  font-weight: 700;
}


.info-card__label {
  display: inline-block;

  width: 44%;

  vertical-align: top;
}

.info-card__val {
  display: inline-block;

  width: 54%;

  vertical-align: top;
  font-weight: 700;
}
