.metering-devices__band {
  margin: 0 0 25px 0;
  padding: 20px;

  background-color: #0a65ab;
}

.metering-devices__info{
  .modal-base__band{
    margin: 0 0 25px 0;
    padding: 20px;

    background-color: #0a65ab;
  }
}

.table-metering{
  .sorting-header{
    color:#fff;
  }
  thead > tr > th{
    padding:20px 15px
  }

  td{
    border-bottom:1px solid #fff;
    background-color:#e5eaee;
  }

  .table-metering_inline{
    display: inline-block;
    white-space: nowrap;
  }

  .table-metering__val{
    color: #000000;
    font-weight: bold;
  }
}


.table-hover_none{
  table>tbody>tr:hover{
     background-color: inherit;
   }
}

.metering-devices__reading-list{
  &._non-margin{
    margin:0;
  }
}

.metering-devices__reading-attr_table{
  display: inline-block;
  width: 2.1em;
  left: 0;
}

.metering-devices__reading-val_table{
  display: inline-block;
  width: 2em;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  color: #222222;
}