// METERING DEVICES

.metering-devices {
  //...
}

.metering-devices__header {
  margin: 0 0 40px 0;
}

.metering-devices__header-title {
  margin: 0;
  padding: 0;

  font: 400 20px/1.1 'Roboto Condensed', sans-serif;
}

.metering-devices__body {
  margin: 0 0 25px 0;
}

.metering-devices__footer {}


// -> SIDEBAR NAV
.metering-devices__nav {
  margin: 0 0 30px 0;
}

.metering-devices__nav-header {
  margin: 0 0 10px 0;
}

.metering-devices__nav-header-title {
  display: block;
  position: relative;

  padding-left: 36px;

  min-height: 26px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.metering-devices__nav-header-icon {
  display: block;
  position: absolute;

  top: 0;
  left: 0;

  font-size: 26px;
}

.metering-devices__nav-list {
  margin: 0;
  padding: 0;

  font-family: 'Roboto Condensed', sans-serif;

  list-style: none;
  list-style-image: none;
}

.metering-devices__nav-item-a {}

.metering-devices__nav-item-a_action {
  color: #4e9b30;

  &:hover, &:focus {
    color: #4e9b30;
  }
}

.metering-devices__nav-item-line {
  display: block;
}

.metering-devices__nav-account-id {
  font-weight: 700;
}


// -> Menu type
.metering-devices__nav-list_menu {
  //...

  .metering-devices__nav-item-a {
    display: block;
    position: relative;

    margin: 0 0 2px 0;
    padding: 10px 20px 10px 60px;

    background-color: #f1f3f6;
  }

  .metering-devices__nav-icon {
    display: block;
    position: absolute;

    top: 8px;
    left: 20px;

    font-size: 26px;
  }

  .metering-devices__nav-icon_offset_t {
    top: 15px;
  }
}
// Menu type <-

// -> Panel type
.metering-devices__nav-list_panel {
  //...

  .metering-devices__nav-item-a {
    display: block;

    margin: 0;
    padding: 10px 20px;

    background-color: #f1f3f6;

    border-top: 1px solid #dee0e2;
    box-shadow: inset 0 1px 0 #fafafc; // TODO: Cross browser 2 lines border (IE 9+)

    &:hover, &:focus {
      text-decoration: none;

      color: #ffffff;
      background-color: #026bbc;

      border-top: 1px solid #026bbc;
      box-shadow: inset 0 1px 0 #026bbc; // TODO: Cross browser 2 lines border (IE 9+)
    }
  }

  .metering-devices__nav-item:first-child {
    //...

    .metering-devices__nav-item-a {
      border-top: none;
      box-shadow: none;
    }
  }
}
// Panel type <-

// SIDEBAR NAV <-


// -> DEVICES INFO
.metering-devices__info {
  margin: 0 0 25px 0;
}
// DEVICES INFO <-


// -> READING
.metering-devices__reading {
  position: relative;

  .icon-attr {
    position: absolute;

    top: 0;
    left: 0;
  }
}

.metering-devices__reading-list {
  margin: 0 0 0 40px;
  padding: 0;

  list-style: none;
  list-style-image: none;

  color: #8f8f8f;
}

.metering-devices__reading-list_standalone {
  margin: 0;
}

.metering-devices__reading-item {
  margin-left: -30px;
}

.metering-devices__reading-attr {
  position: relative;
  left: 30px;
}

.metering-devices__reading-val {
  display: inline-block;
  margin-left: 30px;

  min-width: 30px;

  font-size: 14px;
  font-weight: 700;
  text-align: right;

  color: #222222;
}

.metering-devices__reading-date {
  display: block;
  font-weight: 700;
}

.metering-devices__reading-date-format {
  display: block;

  font-size: 12px;
  color: #8f8f8f;
}

.metering-devices__reading-user {
  //...
}
// READING <-


// -> LEGEND
.metering-devices__legend {
  //...
}

.metering-devices__legend-info {
  margin-bottom: 20px;
}

.metering-devices__legend-list {
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-image: none;
}

.metering-devices__legend-item {
  display: inline-block;
  margin: 0 0 5px 0;
  width: 49%;
}

.metering-devices__legend-desc, .metering-devices__legend-icon {
  display: inline-block;
  vertical-align: middle;
}

.metering-devices__legend-desc {
  font-size: 13px;
  color: #9c9c9c;
}

.metering-devices__legend-icon {
  font-size: 18px;
}
// LEGEND <-


// METERING DEVICES VALUES ENTRY (MODAL) ->
// See values entry in modal base
// ...
// METERING DEVICES VALUES ENTRY (MODAL) <-