// APP MODAL WINDOW STYLES

// Standard modal overrides ->
.modal-backdrop {
  background-color: #0d1f3e;
}

.modal-backdrop.in {
  opacity: 0.74;
}
// Standard modal overrides <-

.modal-base {
  //...
  .modal-base__band{
    margin: 0 -30px 25px -30px;
    padding: 20px 30px;
  }

}

.modal-base__header {
  padding: 15px 30px;
  border-bottom: none;
}

.modal-base__header-title {
  margin: 0;

  font: 400 26px/1.1 'Roboto Condensed', sans-serif;
  text-align: center;
}

.modal-base__close {
  display: block;
  position: relative;

  padding: 0;

  top: -5px;
  right: -20px;

  float: right;

  font-size: 20px;
  line-height: 1;

  color: @color-link;

  background: transparent;
  border: 0;

  cursor: pointer;
  -webkit-appearance: none;


  &:hover, &:focus {
    color: @color-link-hover;
    text-decoration: none;
    cursor: pointer;
  }
}


.modal-base__body {
  padding: 20px 30px;
}

.modal-base__footer {
  padding: 15px 30px;
  border-top: none;
}


.modal-base__warning {
  position: relative;
  margin: 0 0 40px 0;

  &.modal-base__warning_gray {
    .modal-base__warning-icon {
      color: @color-logo-hover;
    }
    .modal-base__warning-msg {
      color: #000;
    }
  }
}

.modal-base__warning-icon {
  position: absolute;

  top: 4px;
  left: 0;

  font-size: 36px;
  color: #c03206;
}

.modal-base__warning-msg {
  margin: 0 0 0 50px;

  min-height: 36px;

  color: #c03206;
}

.modal-base__warning-line {
  display: block;
}


// PANEL ->
.modal-base__panel {
  margin-bottom: 30px;
}

.modal-base__panel-header {
  //...
}

.modal-base__panel-title {
  display: block;
  margin: 0 0 8px 0;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.modal-base__panel-subtitle {
  display: block;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.modal-base__panel-label {
  color: #8e8e8e;
}
// PANEL <-

// BAND ->
.modal-base__band {
  margin: 0 -20px 25px -20px;
  padding: 20px 10px;

  //background-color: #0a65ab;
}

.modal-base__band-attr, .modal-base__band-attr-val {
  display: inline-block;
  margin: 0 0 5px 0;

  font: 400 16px/1.2 'Roboto Condensed', sans-serif;
  //color: #ffffff;
}

.modal-base__band-attr-val {
  font-weight: 700;
}

// BAND <-


// VALUES ENTRY ->
.modal-base__values-entry {
  margin: 0 0 20px 0;
}

.modal-base__value-name {
  font: 400 16px/1.2 'Roboto Condensed', sans-serif;
}

.modal-base__value-entry-id {
  display: block;

  font: 700 16px/1.2 'Roboto Condensed', sans-serif;
}

.table-modal__value-reading {
  //...
}

.table-modal__value-it {
  display: inline-block;
}

.table-modal__value-label {
  display: block;

  font-size: 12px;
  color: #8f8f8f;
}

.table-modal__value-units {
  display: inline-block;

  padding: 7px 0 0 0;

  font-size: 12px;
  color: #8f8f8f;
}

/* KZAYTSEV */
.table-modal__value-units_block {
  display: block;

  padding: 3px 0 3px 0;

  font-size: 12px;
  color: #8f8f8f;
}
/* KZAYTSEV END */

// VALUES ENTRY <-


// STEP CHANGE PANEL ->

// STEP CHANGE PANEL <-