@modal-base__header-subtitle-color:#878f94;
//info
@modal-base__alert-bg-color_info:#f2f3f7;
@modal-base__alert-icon-color_info:#b4b9c1;
@modal-base__alert-txt-color_info:#051c2f;
//success
@modal-base__alert-bg-color_success:#dff0d8;
@modal-base__alert-icon-color_success:#3c763d;
@modal-base__alert-txt-color_success:#051c2f;


.modal-base__close {
  position: absolute;
  top: 10px;
  right: 10px;

  line-height: 0.7;
  color: #01649d;
  opacity: 1;

  &:hover, &:focus {
    color: #01649d;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
  }
}

.table-modal__value-units{
  &._control-with-title{
    padding-top: 32px;
  }
}

.table-modal{
    tbody{
        tr{
          td{

          }
        }
    }
}

.modal-base{
  .alert{
    margin: 0 -30px 0 -30px;
    border-radius: 0;
    border: none;
    padding: 10px 30px 5px;
    &:first-child{
      padding:15px 30px 5px;
    }
    &:last-child{
      padding: 10px 30px 15px;
    }



    &.alert-info{
      background-color: @modal-base__alert-bg-color_info;
      color:@modal-base__alert-txt-color_info;
      .modal-base__alert-icon{
        color:@modal-base__alert-icon-color_info;
      }
    }

    &.alert-success{
      background-color: @modal-base__alert-bg-color_success;
      color:@modal-base__alert-txt-color_success;
      .modal-base__alert-icon{
        color:@modal-base__alert-icon-color_success;
      }
    }

  }
  ._btn-min-width-125{
    min-width: 125px;
  }
}

.modal-base__alert-icon{
  font-size:24px;
}

.modal-base__alert-message{
  font-size:14px;
}

.modal-base__header-subtitle{
  font-size: 12px;
  color:@modal-base__header-subtitle-color;
}

.modal-dialog{
  &.modal-dialog-xs {
    width: 500px;
  }
}

.modal-base__message-pane{
  margin: 15px 0;
  padding: 0;
}

.modal-base__message{
  height: 10em;
  width: 100%;
}

.modal-base__warning-msg {
  padding: 10px 0;
}


