.register-card {
  &.register-card__list-item{
    margin: 0 0 3px 0;
    padding: 5px 15px 15px 15px;
  }
}

.register-card__body {
  &.register-card__body_multi {
    overflow: visible;
  }
}

.register-card__header-title {
  &._color-black{
    color: @color-core-body;
  }

  &._color-light-gray{
    color:@color-register-card-gray;

  }
}

.register-card__header-warning {
  &._normal {
    font-style: normal;
  }
}

.register-card__header-title {
  &.register-card__header-title_black {
    color: #000;
  }
}

.register-card__header-message {
  display: inline-block;
  font: 300 20px/1.1 'Roboto Condensed', sans-serif;

  &._accepted {
    font-style: italic;
    color: @success-color;
  }
  &._waiting {
    font-style: italic;
    color: @neutral-color;
  }
  &._warning {
    font-style: italic;
    color: @warning-color;
  }
}


.register-card__table {
  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        &._vertical-align_top{
          vertical-align: top;
        }

        &._vertical-align_bottom{
          vertical-align: bottom;
        }
        &._vertical-align_middle{
          vertical-align: middle;
        }
      }
    }
  }

  > tbody {
    //...

    > tr {
      >td{
        &._vertical-align_top{
          vertical-align: top;
        }

        &._vertical-align_bottom{
          vertical-align: bottom;
        }
        &._vertical-align_middle{
          vertical-align: middle;
        }
      }


      &.collapse  {
        &.in{
          display: table-row;
        }
      }


    }
  }
}


.register-card {
  .alert {
    margin-bottom: 0;
  }
}

.register-card {
  &.register-card_flat {
    padding: 15px;
    margin: 0 0 5px 0;
  }
}

.register-card__number {
  margin:0 5px 0 0;
  &:after {
    content: '.'
  }
}

.register-card__description {
  font: normal 16px @header-font-family;
  color: #000;
}
.register-card__additional {
  font: normal 12px @text-font-family;
  color: #000;
}

.register-card{
  &.register-card_body-multi{
    .register-card__body{
      margin-bottom: 4px;
    }

    .register-card__body:last-child{
      margin-bottom: 10px;
    }
  }
}

.register-card__col_stripped{
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  &:first-child{
    border-left: none;
  }
}

.register-card__icon{
  width: 27px;
  height: 27px;
  margin-right: 5px;
  float: left;

  &.register-card__icon-document_warning{
    background-image: url("@{imgPath}/register-card__icon-document_warning.png");
  }

  &.register-card__icon-document_accept{
    background-image: url("@{imgPath}/register-card__icon-document_accept.png");
  }

  &.register-card__icon-document_edit{
    background-image: url("@{imgPath}/register-card__icon-document_edit.png");
  }
  &.register-card__agr-document_info{
    background-image: url("@{imgPath}/icon-document_info.png");
  }

  &.register-card__agr-document_ok{
    background-image: url("@{imgPath}/register-card__agr-document_ok.png");
  }
  &.register-card__agr-document_warn{
    background-image: url("@{imgPath}/register-card__agr-document_warn.png");
  }
  &.register-card__agr-charter_ok{
    background-image: url("@{imgPath}/register-card__agr-charter_ok.png");
  }
  &.register-card__agr-charter_warn{
    background-image: url("@{imgPath}/register-card__agr-charter_warn.png");
  }
  &.register-card__agr-charter_info{
    background-image: url("@{imgPath}/icon-charter_info.png");
  }
}

.register-card_outdated{
  .register-card__calendar,
  .register-card__table a{
    color:@color-register-card-gray;
    &:hover, &:focus {
      color: @color-register-card-gray;
    }
  }

  .cnt-link {
    color: @color-register-card-gray;
    cursor: default;

    &:hover, &:focus {
      color: @color-register-card-gray;
    }
  }
}
