// REGISTER SEARCH RESULT

.register-search-result {
  //...
}

.register-search-result_separated {
  border-bottom: 2px solid #cedae4;
}

.register-search-result__header {
  margin: 0 0 30px 0;
}

.register-search-result__header-title {
  margin: 0;
  padding: 0;

  font: 400 20px/1.1 'Roboto Condensed', sans-serif;
}

.register-search-result__body {
  margin: 0 0 25px 0;

  &.table-base_for-modal td {
    padding: 7px;
  }
}

.register-search-result__footer {
  //...
}


.register-search-result__body {

}