// APP REGISTER CARD

// PARTICULAR TABLE SETTINGS ->
@font-size_table-header: 14px;
@font-size_table-body: 12px;

@font-size_list-cnt: 12px;
@font-size_calendar: 16px;

@opacity_outdated: 0.6;
// PARTICULAR TABLE SETTINGS <-

// REGISTER CARDS LAYOUT ->
.register-cards {
  //...
}

.register-cards__controls {
  margin-bottom: 30px;
}

.register-cards__info-panel {
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-cards__info_attn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.register-cards__list {
  //...
}

.register-cards__pagination {
  //...
}
// REGISTER CARDS LAYOUT <-

.register-cards__footer {
  //...
}

.register-card {
  margin: 0 0 30px 0;
}

.register-card_dim {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.register-card:last-of-type:not(:first-child) {
  margin-bottom: 0;
}

.register-card_outdated {
  //...

  .title-link {
    color: #a3a3a3;

    .title-link-hover {
      border-bottom: 1px solid #a3a3a3;
    }

    &:hover, &:focus {
      text-decoration: none;

      .title-link-hover {
        border-color: transparent;
      }
    }
  }

  .cnt-link {
    color: #444444;
    cursor: default;

    &:hover, &:focus {
      color: #444444;
    }
  }
}

.register-card_separated {
  border-bottom: 2px solid #cedbe4;
}

// Table ->
.register-card__table {
  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        padding: 8px 2px;

        font-size: @font-size_table-header;
        font-weight: 700;

        border-bottom: 1px solid #dedfe0;
        box-shadow: 0 2px 0 #ffffff;
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...
      &._none-border{
        > td {

          border-color: transparent;
          box-shadow: none;
        }
      }
      > td {
        padding: 8px 2px;

        font-size: @font-size_table-body;
        vertical-align: middle;

        border-top: none;
        border-bottom: 1px solid #dedfe0;
        box-shadow: 0 2px 0 #ffffff;

        &.register-card__cell_t {
          vertical-align: top;
        }

        &.register-card__icon-xs{
          width: 32px;
        }
      }
    }
  }
}

.register-card__table + .register-card__table {
  margin-top: 20px;
}

.register-card__table_pad_dark {
  //...

  > thead {
    //...

    > tr {
      //...

      > th {
        border-bottom: 1px solid #d7dade;
        box-shadow: 0 2px 0 #f5f7f8;
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...

      > td {
        border-bottom: 1px solid #d7dade;
        box-shadow: 0 2px 0 #f5f7f8;
      }
    }
  }
}

// [DEPRECATED] because of gramma, striped => stripped
.register-card__table_striped {
  //...

  > tbody {
    //...

    > tr:last-of-type {
      //...

      > td {
        border-bottom: none;
        box-shadow: none;
      }
    }
  }
}
// [DEPRECATED] <-

.register-card__table_stripped {
  //...

  > tbody {
    //...

    > tr:last-of-type {
      //...

      > td {
        border-bottom: none;
        box-shadow: none;
      }
    }
  }
}

.register-card__table_blank {
  //...

  > tbody {
    //...

    > tr {
      //...

      > td {
        border-bottom: none;
        box-shadow: none;
      }
    }
  }
}
// Table <-

// List ->
.register-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.register-card__list_stripped {
  //...
}

.register-card__list-i {
  //...
}

.register-card__list-i-cnt {
  padding: 8px 2px;

  font-size: @font-size_list-cnt;

  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0 -1px 0 #dedfe0;
}

.register-card__list .register-card__list-i:last-child {
  //...

  .register-card__list-i-cnt {
    border-bottom: none;
    box-shadow: none;
  }
}
// List <-

// Nested list ->
.register-card__nested {
  //...
}

.register-card__nested-header {
  margin: 0 0 4px;
  padding: 8px 0 5px 0;

  font-size: 12px;

  border-bottom: 1px solid #dedfe0;
  box-shadow: 0 1px 0 #ffffff;
}

.register-card__nested-header-label {
  display: inline-block;
  width: 44%;
}

.register-card__nested-header-val {
  display: inline-block;
  width: 54%;
  font-weight: 700;
}

.register-card__nested-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.register-card__nested-i {
  //...
}

.register-card__nested-i-cnt {
  padding: 2px 0;
  font-size: 12px;
}

.register-card__nested-i-label {
  display: inline-block;
  padding-left: 16px;

  width: 44%;
}

.register-card__nested-i-val {
  display: inline-block;

  width: 54%;

  font-weight: 700;
}
// Nested list<-

// Pads ->
.register-card_pad {
  //...
}

.register-card_pad_light {
  background-color: #f1f3f6;
}

.register-card_pad_dark {
  background-color: #e5eaee;
}

.register-card_pad_auto {
  margin-bottom: -120em;
  padding-bottom: 120em;
}
// Pads <-


// Core layout ->
.register-card__header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-card__header-title {
  display: inline-block;

  margin: 0;
  padding: 0;

  font: 400 20px/1.1 'Roboto Condensed', sans-serif;
}

/*
.register-card_outdated {
  //...

  .register-card__header-title {
    color: #a3a3a3;
  }
}
*/

.register-card__header-warning {
  display: inline-block;

  font: 400 20px/1.1 'Roboto Condensed', sans-serif;
  font-style: italic;

  color: #a3a3a3;
}

.register-card__header-icon {
  margin-right: 5px;
  font-size: 24px;
}


.register-card__body {
  margin-bottom: 10px;
  overflow: hidden;
  .collapse-toggle__state-icon_card {
    font-size: 11px;
  }

  &._font-size-12{
    font-size: 12px;
  }
}

.register-card_outdated {
  //...

  .register-card__body {
    color:#a3a3a3;

    .register-card_pad_light {
      background-color: #f2f3f7;
    }

    .register-card_pad_dark {
      background-color: #e5eaee;
    }
  }
}

.register-card__footer {
  margin-bottom: 10px;
}
// Core layout <-


// MULTI COLS EQUAL HEIGHT ->
// Container ->
.register-card__container_multi {
  display: table;
  width: 100%;
}
// Container <-

// Row ->
.register-card__row {
  //...
}

.register-card__row_multi {
  display: table-row;
  height: 100%;

  &:before, &:after {
    display: none;
  }

  &.register-card__row_multi_fluid {
    //...

    &:before, &:after {
      display: table;
    }
  }
}
// Row <-

// Col ->
.register-card__col {
  padding: 2px 20px;
}

.register-card__col_lg {
  padding: 2px 40px;
}

.register-card__col_l_none {
  padding-left: 0;
}

.register-card__col_l_lg {
  padding-left: 40px;
}

.register-card__col_r_none {
  padding-right: 0;
}

.register-card__col_r_lg {
  padding-right: 40px;
}

.register-card__col_multi {
  display: table-cell;
  float: none;

  vertical-align: top;
}

.register-card__row_multi_fluid {
  //...

  .register-card__col_multi {
    float: left;
  }
}

// [DEPRECATED] fallback for register cards ->
.register-card__col_l {
  padding: 15px 0 15px 15px;
}

.register-card__col_r {
  padding: 15px 15px 15px 0;
}
// [DEPRECATED] <-

// Col <-
// MULTI COLS EQUAL HEIGHT <-


// -> Card section
.register-card__section {
  // padding-bottom: 15px;
}

.register-card__section_standalone {
  padding-top: 15px;
  padding-bottom: 15px;
}

.register-card__section-header {
  margin-bottom: 10px;
}

.register-card__section-header-title, .register-card__section-header-subtitle {
  display: block;
  color: #8f8f8f;
}

.register-card__section-header-title {
  font-size: 18px;
}

.register-card__section-header-link {
  display: block;
  padding: 4px 6px 4px 0px;
  font-size: 18px;
}
// Card section <-


.register-card__devices {
  //...
}

.register-card__devices_mg-r {
  margin-right: 15px;
}

.register-card__pic {
  margin: 0 -15px 0 0;
  padding: 40px 0;

  text-align: center;
}

.register-card__pic-icon {
  font-size: 52px;
}

.register-card__symbol {
  margin: 0;
  padding: 0;

  text-align: center;
}

.register-card__symbol-icon {
  display: block;

  margin: 30px auto 0 auto;

  width: 90px;
  height: 60px;

  content: "";
}

.register-card__symbol-icon_size_lg {
  margin-top: 10px;

  width: 110px;
  height: 80px;
}


.register-card__icon-power-plant-obj {
  background: url("@{imgPath}/ui/register-card/power-plant-obj.png") left top no-repeat;
}

.register-card__icon-factory-obj {
  background: url("@{imgPath}/ui/register-card/factory-obj.png") left top no-repeat;
}

.register-card__icon-faucet-obj {
  background: url("@{imgPath}/ui/register-card/faucet-obj.png") left top no-repeat;
}


.register-card__icon-plant-sys {
  background: url("@{imgPath}/ui/register-card/plant-sys.png") left top no-repeat;
}

.register-card__icon-power-plant-sys {
  background: url("@{imgPath}/ui/register-card/power-plant-sys.png") left top no-repeat;
}

.register-card__icon-factory-sys {
  background: url("@{imgPath}/ui/register-card/factory-sys.png") left top no-repeat;
}

.register-card__icon-faucet-sys {
  background: url("@{imgPath}/ui/register-card/faucet-sys.png") left top no-repeat;
}

.register-card__icon-pump-sys {
  background: url("@{imgPath}/ui/register-card/pump-sys.png") left top no-repeat;
}

.register-card__val {
  font-weight: 700;
}

.register-card__val_positive {
  color: #34940f;
}

.register-card__val_negative {
  color: #d00707;
}


.register-card__link {
  font-weight: 700;
}

.register-card__status-lb {
  padding: 6px 8px;

  font-weight: 700;
  color: #ffffff;
}

.register-card__status-lb_normal {
  background-color: #38a90d;
}

.register-card__status-lb_warning {
  background-color: #f69c00;
}

.register-card__status-lb_danger {
  background-color: #c81818;
}

.register-card__device-id {
  position: relative;
  font-weight: 700;
}

.register-card__device-warning {
  display: inline-block;
  position: absolute;

  left: -24px;

  font-size: 16px;
  color: #d00707;
}

.register-card__device-desc {
  display: block;
  position: relative;

  margin-bottom: 4px;
  padding-left: 35px;

  color: #8f8f8f;

  .icon-attr {
    position: absolute;

    top: -4px;
    left: 0;
  }
}

.register-card__obj-reading {
  //...
}

.register-card__obj-reading-title {
  display: block;
  padding: 12px 0 8px 0;

  font-size: 12px;
  font-weight: 700;
}

.register-card__obj-reading-desc {
  display: block;
  position: relative;

  margin-bottom: 4px;
  padding-left: 35px;

  min-height: 28px;

  font-size: 12px;

  .icon-attr {
    position: absolute;

    top: -4px;
    left: 0;
  }
}

.register-card__address-icon {
  font-size: 16px;
  color: #9e9e9f;
}

.register-card__more-info {
  position: relative;

  margin-right: 5px;
  padding-left: 0;

  &:after {
    position: absolute;
    content: "";

    right: 0;
    top: 5px;

    width: 1px;
    height: 22px;

    background-color: #e8e9eb;
  }

  &:last-of-type:after {
    display: none;
  }
}

.register-card__cnt-line {
  display: block;
}

.register-card__calendar {
  font-size: @font-size_calendar;
  color: #026bbc;
}

.register-card__warning {
  margin-left: 20px;
}

// -> Card object
.register-card__obj {
  //...
}

.register-card__obj-header {
  display: inline-block;
}

.register-card__obj-edit {
  position: relative;
  padding-right: 30px;
}

.register-card__obj-edit-icon {
  display: inline-block;
  position: absolute;

  top: 2px;
  right: 0;

  font-size: 16px;

  color: #8f8f8f;

  &:hover, &:focus {
    color: #b90000;
    cursor: pointer;
  }
}

.register-card__obj-body {
  //...
}
// -> Company card
.register-card__company {
  font-size: 13px;
}

.register-card__company-name,
.register-card__company-street,
.register-card__company-phone {
  display: block;
}

.register-card__company-name {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}


// Company card <-

// ATTACHMENTS ->
.register-card__attachments-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.register-card__attachments-i {
  //...
}

.register-card__attachments-i-cnt {
  position: relative;
  display: inline-block;

  padding-right: 26px;
}

.register-card__attachments-i-title {
  display: inline-block;
  position: relative;

  margin: 0 0 6px 0;
  padding: 2px 0 2px 28px;

  font-size: 12px;
}

.from-base__attachments-i-icon {
  display: inline-block;
  position: absolute;

  top: 2px;
  left: 0;

  width: 20px;
  height: 20px;
}

.register-card__attachments-i-delete {
  display: block;
  position: absolute;

  top: 4px;
  right: 0;

  font-size: 16px;

  color: #8f8f8f;

  &:hover, &:focus {
    color: #b90000;
    cursor: pointer;
  }
}
// ATTACHMENTS <-