// APP BASE SEARCH
.search-base {
  //...
}

// LAYOUT ->
.search-base__request-form {
  margin: 0 0 25px 0;
}

// LAYOUT <-

// SEARCH FILTER ->
.search-base__filter {
  //...
}

.search-base__filter-header {
  margin-bottom: 20px;
}

.search-base__filter-title {
  margin: 0;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.search-base__filter_pad_light {
  background-color: #f1f3f6;
}

.search-base__filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-base__filter-i {

}

.search-base__filter-i-select {
  margin: 0;
  padding: 12px 14px;

  border-bottom: 1px solid #dee0e2;
  box-shadow: inset 0 -1px 0 #fafafc;
}

.search-base__filter-i-val {
  display: inline-block;
  margin-left: 10px;

  font-family: 'Roboto Condensed', sans-serif;
}

.search-base__filter-action {
  display: inline-block;
  margin: 10px auto;
}

// SEARCH FILTER <-


// SEARCH RESULTS PANEL ->
.search-base__result-pane {
  margin: 0 0 15px 0;
  padding: 5px 15px;

  background-color: #f1f3f6;
}
// SEARCH RESULTS PANEL <-

.search-base__result-info {
  display: inline-block;
  margin-top: 9px;

  font-family: 'Roboto Condensed', sans-serif;
}

// SEARCH RESULT SORT ->
.search-base__result-sort-label {
  margin-right: 10px;
  font-family: 'Roboto Condensed', sans-serif;

  color: #a1a1a1;
}

.search-base__result-sort-ctr {
  display: inline-block;
  padding: 9px 12px;

  font-family: 'Roboto Condensed', sans-serif;

  color: #01649d;
  border-radius: 3px;

  &:hover, &:focus {
    text-decoration: none;
  }

  &._active, &.active {
    color: #333333;
    background-color: #d9e2e8;
  }
}

.search-base__result-sort-val {
  border-bottom: 1px dashed #01649d;
}

.search-base__result-sort-ctr {
  //...

  &:hover, &:focus {
    //...

    .search-base__result-sort-val {
      border-bottom: 1px solid #01649d;
    }
  }

  &._active, &.active {
    //...

    .search-base__result-sort-val {
      border-bottom: transparent;
    }
  }
}


.search-base__result-sort-icon {
  display: none;
}

.search-base__result-sort-ctr {
  //...

  &._active, &.active {
    //...

    .search-base__result-sort-icon {
      display: inline-block;
    }
  }
}
// SEARCH RESULT SORT <-


// SEARCH RESULTS ->
.search-base__result-list {
  //...
}

.search-base__result-i {
  position: relative;

  margin: 0 0 15px 0;
  padding: 0 0 5px 0;

  border-bottom: 1px solid #e4e4e4;
}

.search-base__result-i-icon {
  display: block;
  position: absolute;

  top: 4px;
  left: 0;

  width: 20px;
  height: 20px;

  content: "";
}

.search-base__result-i-header,
.search-base__result-i-desc,
.search-base__result-i-details {
  padding-left: 40px;
}

.search-base__result-i-header {
  margin: 0 0 4px 0;
}

.search-base__result-i-title {
  font-family: 'Roboto Condensed', sans-serif;
}

.search-base__result-i-map {
  margin-left: 10px;

  font-family: 'Roboto Condensed', sans-serif;
  color: #019d08;

  .cnt-link-hover {
    border-bottom: 1px dashed #019d08;
  }

  &:hover, &:focus {
    color: #019d08;

    .cnt-link-hover {
      color: #019d08;
      border-bottom: 1px solid #019d08;;
    }
  }
}

.search-base__result-i-desc {
  margin: 0 0 5px 0;
}

.search-base__result-desc-val {
  display: block;

  font-size: 12px;
}

.search-base__result-i-details {
  margin: 0 0 10px 0;
}

.search-base__result-details-val {
  display: block;

  font-size: 12px;
  color: #8f8f8f;
}
// SEARCH RESULTS <-

// ICONS ->
.search-base__icon-card {
  background: url("@{imgPath}/ui/search/icon-card.png") left top no-repeat;
}

.search-base__icon-chat {
  background: url("@{imgPath}/ui/search/icon-chat.png") left top no-repeat;
}

.search-base__icon-excel {
  background: url("@{imgPath}/ui/search/icon-excel.png") left top no-repeat;
}

.search-base__icon-flats {
  background: url("@{imgPath}/ui/search/icon-flats.png") left top no-repeat;
}

.search-base__icon-list {
  background: url("@{imgPath}/ui/search/icon-list.png") left top no-repeat;
}

.search-base__icon-link {
  background: url("@{imgPath}/ui/search/icon-link.png") left top no-repeat;
}

.search-base__icon-pdf {
  background: url("@{imgPath}/ui/search/icon-pdf.png") left top no-repeat;
}

.search-base__icon-skyscraper {
  background: url("@{imgPath}/ui/search/icon-skyscraper.png") left top no-repeat;
}
// ICONS <-