// APP OBJECTS SEARCH

.search-obj__result {
  //...
}

// Panel ->
.search-obj__result-pane {
  margin-bottom: 10px;
}

.search-obj__result-num {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.search-obj__result-num_size_sm {
  font-size: 16px;
}

.search-obj__result-num_wt_attn {
  font-weight: 700;
}
// Panel <-

// Table ->
.search-obj__result-table {
  //...
}
// Table <-

// List ->
.search-obj__result-list {
  //...
}

.search-obj__result-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-obj__result-i {
  //...
}

.search-obj__result-i-cnt {
  padding: 8px 16px;
  margin-bottom: 4px;

  background-color: #eef3f9;
  border-radius: 3px;
}

.search-obj__result-i-title {
  display: inline-block;
  margin-right: 4px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.search-obj__result-i-icon {
  margin-right: 16px;
}
// List <-