/*

Block: section-base

Description:
Базовый враппер
для разделения секций.

Usage example:
Разделение формы поиска и результатов поиска.

<div class="section-base">
 <форма поиска />
</div>

<div class="section-base">
 <результаты поиска />
</div>

*/

[ui-view="content"] {
  .section-base {
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.section-base {

  margin-bottom: @horizontal-unit;

  &.section-base_half {
    margin-bottom: @horizontal-unit-half;
  }

  .section-base__header {
    margin-bottom: @horizontal-unit-half;
    h1, h2, h3 {
      font-family: @header-font-family;
      margin-top: 0;
    }
  }
  .section-base__content {
    margin-bottom: @horizontal-unit-half;
  }
  .section-base__footer {

  }
}


/* SECTION BASE END */