
.services-i-card__header_small {
  margin: 0 0 2px 0;
}

.services-i-card__header{
  padding: 15px 10px;
}
.services-i-card__header_light{
  background-color: #e5eaee;
}

.services-i-card__header table td{
  vertical-align: middle;
}
.services-i-card__icon_remove:hover,
.services-i-card__icon_remove:active,
.services-i-card__icon_remove{
  color:#8f8f8f;
  text-decoration: none;
  font-size: 16px;
}

