// APP SERVICES INFO CARDS
.services-i-card {
  margin: 0 0 20px 0;
}

.services-i-card__header {
  margin: 0 0 10px 0;
}

.services-i-card__header-title {
  display: inline-block;
  margin: 0 20px 0 0;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.services-i-card__dated {
  display: inline-block;
  margin: 5px 0;
}

.services-i-card__dated-val {
  font-size: 12px;
}

.services-i-card__dated-ic {
  position: relative;
  top: 0;
}

.services-i-card__item-edit {
  float: right;
}