// App object statistic
.stat-obj {
  margin-bottom: 30px;
}

.stat-obj__item {
  position: relative;

  padding-top: 18px;
  padding-left: 86px;

  min-height: 80px;
}

.stat-obj__item-icon {
  position: absolute;
  display: block;

  top: 0;
  left: 0;

  width: 75px;
  height: 80px;

  content: "";
}

.stat-obj__icon-city {
  background: url("@{imgPath}/ui/obj-city.png") left top no-repeat;
}

.stat-obj__icon-factory {
  background: url("@{imgPath}/ui/obj-factory.png") left top no-repeat;
}

.stat-obj__icon-house {
  background: url("@{imgPath}/ui/obj-house.png") left top no-repeat;
}

.stat-obj__label {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
}

.stat-obj__val {
  display: block;
  font-weight: 700;
}