@status-bg-color: #f1f3f6;
.status-card {
  padding: 15px 20px;
  background-color: @status-bg-color;
}

.status-card__status,
.status-card__status-label{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;

  &.status__DRAFT,
  &.status__REGISTERED,
  &.status__ON_REGISTRATION,
  &.status__TERMINATED,
  &.status__EARLY_TERMINATED{
    color:#4e9b30;
  }
}