// APP BASE TABS
.tab-base {
  //...
}

.tab-base_pad {
  background-color: #f1f3f6;
}

.tab-base__nav {
  border-bottom: 7px solid #3c4854;

  .tab-base__nav-item_right{
    float: right;
    .tab-base__nav-item-a {
      .cnt-link;
      background: transparent;
      border: none;
      &:hover{
        background: transparent;
        border: none;
      }

    }
    &.active, &._active  {

    }
  }

}

.tab-base_plain {
  //...

  .tab-base__nav {
    border-bottom: 1px solid transparent;
  }
}

.tab-base__nav-item {
  margin-bottom: 0;

  .tab-base__nav-item-a {
    padding: 8px 18px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;

    color: #01649d;
    background-color: #e6ebf1;

    border-color: #d7e0e7;
    border-bottom-color: transparent;

    &:hover {
      color: #ffffff;
      background-color: #3c4854;

      border-color: #3c4854;
      border-bottom-color: #3c4854;

      cursor: pointer;
    }
  }


  &.active, &._active  {
    //...

    .tab-base__nav-item-a {
      color: #ffffff;
      background-color: #3c4854;

      border: 1px solid #3c4854;
      border-bottom-color: transparent;
      cursor: default;

      &:hover, &:focus {
        color: #ffffff;
        background-color: #3c4854;

        border: 1px solid #3c4854;
        border-bottom-color: transparent;
      }
    }
  }
}
.tab-base__pane-header {
  margin-bottom: 16px;
  padding: 12px 20px;

  background-color: #3c4954;
  //border-radius: 3px 3px 0 0;
}

.tab-base__pane-header-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.tab-base__pane-header_rect {
  border-radius: 0;
}


.tab-base__content {
  //...
}

.tab-base__content_dim {
  border-radius: 0 0 4px 4px;

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
          box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}


.tab-base__pane {
  //...
}

.tab-base__pane-body {
  margin-bottom: 30px;
}

.tab-base__pane-footer {
  //...
}

// TABS ANGULAR (Fallback for standard, used bootstrap original styles hierarchy) ->
.tab-base {
  //...

  .nav-tabs {
    border-bottom: 7px solid #3c4854;

    > li {
      margin-bottom: 0;

      > a {
        padding: 8px 20px;

        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;

        color: #01649d;
        background-color: #e6ebf1;

        border-color: #d7e0e7;
        border-bottom-color: transparent;

        &:hover {
          color: #ffffff;
          background-color: #3c4854;

          border-color: #3c4854;
          border-bottom-color: #3c4854;

          cursor: pointer;
        }
      }

      &.active > a {
        &,
        &:hover,
        &:focus {
          color: #ffffff;
          background-color: #3c4854;

          border: 1px solid #3c4854;
          border-bottom-color: transparent;
          cursor: default;
        }
      }
    }
  }
}

.tab-base_plain {
  //...

  .nav-tabs {
    border-bottom: 1px solid transparent;
  }
}
// AngularJS STANDARD TABS FALLBACK <-


// OTHER TABS ELEMENTS ->
.tab-base__utility-info {
  font-size: 12px;
  color: #9c9c9c;
}
// OTHER TABS ELEMENTS <-


.nav-tabs {
  &.nav-justified {

    & > li {
      display: table-cell;
      width: auto;
      min-width: 1%;
      height: 100%;
      vertical-align: top;

      border-radius: 4px 4px 0 0;

      &.active {
        color: #ffffff;
        background-color: #3c4854;
        border: 1px solid #3c4854;
        border-bottom-color: transparent;
        cursor: default;

        a {

          background-color: transparent;
          border-bottom-color: transparent;

        }

      }
      &:hover {
        color: #ffffff;
        background-color: #3c4854;
        cursor: pointer;
        border-color: #3c4854;

        a {
          color: inherit;
          background-color: inherit;
          border-color: transparent;
          cursor: default;
        }
      }



      a {
        font-size: 14px;
        display: table-cell;
        height: 100%;
        background-color: transparent;
        border-bottom: none;
        width: auto;
        min-width: 1%;

        vertical-align: top;

        &:hover {

          color: inherit;
          background-color: inherit;
          border-color: transparent;
          cursor: default;

        }
      }
    }
  }
}