// Base app tables
.table-reading {
  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        padding: 8px 12px;

        font-size: 12px;
        font-weight: 700;
        vertical-align: middle;

        border-bottom: none;
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...

      > td {
        padding: 0;
        font-size: 12px;

        border-top: none;
      }
    }
  }

}

.table-reading_pad_light {
  background-color: #f1f3f6;
}

.table-reading_pad_dark {
  background-color: #e5eaee;
}

.table-reading__cnt {
  margin: 0 12px;
  padding: 8px 2px;

  border-top: 1px solid #dedfe0;
  box-shadow: inset 0 1px 0 #ffffff;
}

.table-reading_pad_dark {
  //...

  .table-reading__cnt {
    border-top: 1px solid #d7dade;
    box-shadow: inset 0 1px 0 #f5f7f8;
  }
}


.table-reading__val {
  font-weight: 700;
}

.table-reading__val_positive {
  color: #34940f;
}

.table-reading__val_negative {
  color: #d00707;
}