// Base app tables
.table-regis {
  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        padding: 11px 12px;

        font-size: 14px;
        font-weight: 700;
        vertical-align: middle;

        background-color: #e5eaee;

        border-bottom: none;
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...
      &._changed {
        td {
          background-color: #dce7d7;
        }
      }
      > td {
        padding: 11px 12px;

        font-size: 14px;
        vertical-align: middle;

        background-color: #f1f3f6;
        border-top: 1px solid #ffffff;

        &.table-regis__cnt-cell {
          padding: 0;
          border-bottom: 2px solid #ffffff;
        }
      }

      > td:first-child {
        background-color: #e5eaee;
        font-weight: 700;
      }

      > td.table-regis__cell_pad_reset  {
        background: none;
      }

      &.table-regis__lead-row {
        //...

        > td {
          font-weight: 700;
        }
      }
    }
  }
}

.table-regis_pad_light {
  background-color: #f1f3f6;
}

.table-regis_pad_dark {
  background-color: #e5eaee;
}

.table-regis__cnt-cell-head {
  padding: 11px 14px;

  background-color: #d8dfe4;
}

// PARAMETRS LIST
.table-regis__params {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table-regis__params_type_group {
  //...
}

.table-regis__params-i {
  //...
}

.table-regis__params-i-cnt {
  padding: 8px 0;

  min-height: 17px;

  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0 -1px 0 #dedfe0;
}

.table-regis__params-i-cnt_empty {
  min-height: 34px;
}

.table-regis__params-i-cnt_pad_dark {
  border-bottom: 1px solid #f5f7f8;
  box-shadow: inset 0 -1px 0 #d7dade;
}

.table-regis__params {
  //...

  .table-regis__params-i:last-child {
    //...

    .table-regis__params-i-cnt {
      border-bottom: 1px solid transparent;
      box-shadow: inset 0 -1px 0 transparent;
    }
  }
}

.table-regis__params_type_group {
  //...

  .table-regis__params-i-cnt {
    padding: 2px 0;

    border: none;
    box-shadow: none;
  }
}

.table-regis__params-i-label {
  display: inline-block;

  width: 49%;

  font-size: 12px;
}

.table-regis__params_type_group {
  //...

  .table-regis__params-i-label {
    width: 35%;
  }
}

.table-regis__params-i-val {
  display: inline-block;

  width: 49%;

  font-size: 12px;
  font-weight: 700;
}
// PARAMETRS LIST <-

.table-regis__label {
  //...
}

.table-regis__val {
  //...
}

.table-regis__toggle-ctr {
  cursor: pointer;
}

.table-regis__icon-toggle {
  position: relative;
  display: inline-block;

  top: -1px;

  vertical-align: middle;

  font-size: 20px;
  color: #75818b;
}

.table-regis__icon-radius {
  position: relative;
  display: inline-block;

  vertical-align: middle;

  font-size: 20px;
  color: #262626;
}

.table-regis__icon-question {
  position: relative;
  display: inline-block;

  vertical-align: middle;
  top: -1px;

  font-size: 16px;
  color: #9b9d9f;
}