// Modal window table
.table-modal {
  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        padding: 14px 18px;

        font: 400 16px/1.2 'Roboto Condensed', sans-serif;
        vertical-align: middle;

        color: #ffffff;
        background-color: #5a6874;

        border-bottom: none;
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...

      > td {
        padding: 14px 16px;

        font-size: 14px;

        border-top: 1px solid #ffffff;
      }
    }
  }

}

.table-modal_row_both {
  //...

  > tbody {
    //...

    > tr {
      //...

      > td {
        background-color: #e5eaee;
      }
    }
  }
}




