.table-flat {
  tbody {
    td {
      background-color: #eef3f9;
      border-bottom: 4px solid #FFFFFF;
      border-top: none;
    }
  }
}

.table-flat {
  .table-base {
    thead {
      display: none;
    }
  }

  .register-search-result_separated {
    border-bottom: none;
  }
}

.table-flat__number {
  margin:0 5px 0 0;
  &:after {
    content: '.'
  }
}

.table-flat__description {
  font: normal 16px @header-font-family;
  color: #000;
}
.table-flat__additional {
  font: normal 12px @text-font-family;
  color: #000;
}


.table-flat {
  .table-base {
    &.table-striped {
      & > tbody {
        & > tr {
          td {
            &:hover {
              background-color: #eef3f9;
            }
          }
          &:nth-child(odd) {
            td {
              background-color: #eef3f9;
            }
          }
        }
      }
    }
  }
}

/* TRICK FIX FOR  https://jira.lanit.ru/browse/HCSINT-3637 */

.table-flat {
  &._white {
    .table-base {
      &.table-striped {
        & > tbody {
          & > tr {
            td {
              &:hover {
                background-color: #fff;
                padding: 0;
              }
            }
            &:nth-child(odd) {
              td {
                background-color: #fff;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

}

/* TRICK FIX FOR  https://jira.lanit.ru/browse/HCSINT-3637 */