// Base app tables
.table-reading {
  &.table-reading_without-header{
    tbody > tr:first-child{
      .table-reading__cnt {
        border-top: 1px solid transparent;
        box-shadow: none;
      }

      .table-reading_pad_dark {
        //...

        .table-reading__cnt {
          border-top: 1px solid transparent;
          box-shadow: none;
        }
      }
    }
  }

}
