// TABLE DIV REGISTER

.table-dv-regis {
  margin-bottom: 0;
}

.table-dv-regis__caption {
  padding: 12px 14px;

  font-size: 12px;
  font-weight: 700;

  background-color: #e5eaee;
  border-top: 1px solid #ffffff;
}

.table-dv-regis__thead {
  //...
}

.table-dv-regis__tbody {
  //...
}

.table-dv-regis__row {
  //...
}

.table-dv-regis__cell {
  padding: 8px 14px;

  font-size: 12px;
  vertical-align: middle;

  background-color: #f1f3f6;

  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;

  &:first-child {
    border-left: none;
  }

  &.table-dv-regis__cell_va_t {
    vertical-align: top;
  }

  &.table-dv-regis__cell_pos_glued {
    border-left: none;
  }
}

.table-dv-regis__cell_size_half {
  width: 50%;
}

.table-dv-regis__cell_size_tierce {
  width: 33.333%;
}

.table-dv-regis_pad_light {
  background-color: #f1f3f6;
}

.table-dv-regis_pad_dark {
  background-color: #e5eaee;
}

.table-dv-regis__val {
  font-weight: 700;
}