// Base app tables
.table-entity {
  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        padding: 17px 12px;

        font-size: 12px;
        font-weight: 700;
        vertical-align: middle;

        background-color: #e5eaee;

        border-bottom: none;

        &._vertical-align_top{
          vertical-align: top;
        }

        &._vertical-align_bottom{
          vertical-align: bottom;
        }
        &._vertical-align_middle{
          vertical-align: middle;
        }
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...

      > td {
        padding: 13px 12px;

        font-size: 12px;
        vertical-align: middle;

        background-color: #f1f3f6;

        border-top: 1px solid #ffffff;
        &._vertical-align_top{
          vertical-align: top;
        }

        &._vertical-align_bottom{
          vertical-align: bottom;
        }
        &._vertical-align_middle{
          vertical-align: middle;
        }
      }

      > td:first-child {
        background-color: #e5eaee;
      }
    }

    > tr.table-entity__summary {
      //...

      > td {
        font-weight: 700;
        background-color: #e5eaee;
      }
    }
  }

  &.table-entity_centered {
    thead {
      tr {
        th {
          text-align: center;

          &:first-child {
            text-align: left;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          text-align: center;

          &:first-child {
            text-align: left;
          }
        }
      }
    }
  }

}

.table-entity_pad_light {
  background-color: #f1f3f6;
}

.table-entity_pad_dark {
  background-color: #e5eaee;
}

.table-entity__item-with-edit {
  display: inline-block;
  width: 92%;
}

.table-entity__item-edit {
  float: right;
}

.table-entity__voting-value{
  text-align: right;
  padding-right: 2px;
  font-weight: 700;
}

.table-entity__voting-percentage{
  text-align: left;
  padding-left: 2px;
  font-weight: normal;
}