// Base app tables
.table-consol {
  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        //...
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...

      > td {
        padding: 11px 12px;

        font-size: 12px;
        font-weight: 700;
        vertical-align: middle;

        background-color: #f1f3f6;
        border-top: 1px solid #ffffff;
      }

      > td:first-child {
        background-color: #e5eaee;
      }

      > td.table-consol__cell_pad_reset  {
        background: none;
      }

      > td.table-consol__cnt-cell {
        padding: 0 0 0 30px;

        font-weight: 400;

        background: none;
      }

      &.table-consol__lead-row {
        //...

        > td {
          font-size: 14px;
        }
      }
    }
  }
}

.table-consol_pad_light {
  background-color: #f1f3f6;
}

.table-consol_pad_dark {
  background-color: #e5eaee;
}

.table-consol__total-num {
  width: 15.7894737%;
  text-align: center;
}

.table-consol__toggle-ctr {
  cursor: pointer;
}

.table-consol__icon-toggle {
  position: relative;
  display: inline-block;
  margin-left: 5px;

  top: -1px;

  vertical-align: middle;

  font-size: 20px;
  color: #75818b;
}

.table-consol__label {
  //...
}

.table-consol__val {
  //...
}