// Base app tables
.table-base {
  margin: 0;

  > thead {
    //...

    > tr {
      //...

      > th {
        padding: 10px 14px;

        font: 400 14px/1.2 'Roboto Condensed', sans-serif;
        vertical-align: middle;

        color: #ffffff;
        background-color: #5a6874;

        border-bottom: none;
      }
    }
  }

  > tbody {
    //...

    > tr {
      //...

      > td {
        padding: 12px 14px;
        font-size: 13px;
        border-top: 1px solid #e5eaee;
      }
    }
  }



}



.table-base_row_odd {
  //...

  > tbody {
    //...

    > tr:nth-child(odd) {
      //...

      > td {
        background-color: #e5eaee;
        border-top: none;
      }
    }
  }
}

.table-base_row_even {
  //...

  > tbody {
    //...

    > tr:nth-child(even) {
      //...

      > td {
        background-color: #e5eaee;
        border-top: none;
      }
    }
  }
}