.table-entity {
  &.table-complex-head {
    & > thead {
      & > tr {
        & > th {
          padding: 8px;
          border: none;
        }
      }
    }
  & > tbody {
    & > tr {
      &> td {
        &:first-child {
          background-color: #f1f3f6;
        }
      }
    }
  }
  }
}

.table-entity {

  & > tbody {
    & > tr {
      &> td {
        &.table-entity_cell_dark {
          background-color: #e5eaee;
        }

        &.table-entity__val{
          font-weight: 700;
        }
      }
    }
  }

  &.table-entity__header_multirow{
    >thead {
      >tr{
        >th{
          padding: 5px 15px;
          font-weight: normal;
        }
      }
      >tr:first-child{
        >th{
          padding: 10px 15px 5px;
          font-weight: 700;
        }
      }
    }
  }

  &.table-entity__header_align-center{
    th{
      text-align: center;
    }
  }

  .table-entity__icon{
    color:#01649d;
    font-size: 16px;
    float: left;
    margin-top: -5px;
    margin-right: 5px;
    width: 16px;
    height: 22px;
  }

  > thead > tr > th.table-entity_cell-header_dark{
    background-color: #d7dde3;
  }
}



/*
rotate table header*/
th._rotate{
  height: 100px;
  position: relative;

}
th._rotate._row-1{
  min-width: 37px;
}
th._rotate._row-2{
  min-width: 50px;
}
th._rotate > div {
  transform: rotate(-90deg);
  width:90px;
  position:absolute;
}
th._rotate._row-1 > div{
  height:30px;
  margin-left:-24px;
  margin-top:-19px;
}
th._rotate._row-2 > div{
  height:40px;
  margin-left:-25px;
  margin-top:-20px;
}

.table-entity__remove-icon{
  font-size: 16px;
  color: #8f8f8f;
  position: relative;

  &:before{
    position: absolute;
    top: -11px;
    left: 3px;
  }

  &:focus,
  &:hover{
    color: #b90000;
    cursor: pointer;
  }
}
