@table-ticket-header-bg-color:#58656e;
@table-ticket-header-text-color:#fff;
@table-ticket-body-bg-color:#f1f3f6;
@table-ticket-footer-bg-color:#58656e;
@table-ticket-sum-color:#000;
@table-ticket-border-gray-color:#dedfe0;
@table-ticket-border-white-color:#fff;
@table-ticket-sublabel-color:#5b5b5b;
@table-ticket-sublabel-color_readonly:#959595;


// Base app tables
.table-ticket {
  margin: 0;

  > thead {
    //...i

    > tr {
      //...

      > th {
        padding: 17px 12px;

        font-size: 12px;
        font-weight: 700;
        vertical-align: middle;
        color: @table-ticket-header-text-color;

        background-color: @table-ticket-header-bg-color;

        border-bottom: none;

        &._vertical-align_top{
          vertical-align: top;
        }

        &._vertical-align_bottom{
          vertical-align: bottom;
        }
        &._vertical-align_middle{
          vertical-align: middle;
        }
      }
    }
  }

  > tbody {
    //...
    &._readonly{
      >tr>td{
        border-top: 7px solid #ffffff;
      }
    }
    > tr {
      //...
      &._no-border{
        border:none;
        >td{
          border:none;
        }
      }
      &._readonly{
        border-top:1px solid @table-ticket-border-gray-color;
        box-shadow: inset 1px 1px 3px 1px @table-ticket-border-white-color;
        >td{
          border-right: 1px solid @table-ticket-border-gray-color;
          box-shadow: inset 1px 1px 3px 1px @table-ticket-border-white-color;
          &:last-child{
            border-right: none;
          }
          &:first-child{
            box-shadow: inset 0px 2px 2px 0px @table-ticket-border-white-color;
          }
        }
        .table-ticket__label_sublabel{
          color:@table-ticket-sublabel-color_readonly;
        }

        .table-ticket__label,
        .table-ticket__label_sublabel{
          font-weight: 700;
        }
      }
      > td {
        padding: 13px 12px;

        font-size: 12px;
        vertical-align: middle;

        background-color: @table-ticket-body-bg-color;

        border-top: 2px solid #ffffff;

        &._no-border{
          border:none;
        }

        &._vertical-align_top{
          vertical-align: top;
        }

        &._vertical-align_bottom{
          vertical-align: bottom;
        }
        &._vertical-align_middle{
          vertical-align: middle;
        }

        &.table-ticket__sum{
          color:@table-ticket-sum-color;
          font-size: 14px;
          font-weight: 700;
          text-align: right;
        }

      }
    }

    > tr.table-ticket__summary {
      //...
      > td {
        font-weight: 700;
        background-color: #e5eaee;
      }
    }


  }

  > tfoot{
    >tr{
      >td{
        padding: 14px 12px;

        font-size: 18px;
        font-weight: 700;
        text-align: right;
        vertical-align: middle;
        color: @table-ticket-header-text-color;

        background-color: @table-ticket-header-bg-color;

        border-bottom: none;
      }
    }
  }
}

.table-ticket_pad_light {
  background-color: #f1f3f6;
}

.table-ticket_pad_dark {
  background-color: #e5eaee;
}

.table-ticket__item-with-edit {
  display: inline-block;
  width: 92%;
}

.table-ticket__item-edit {
  float: right;
}


.table-ticket__label{
  font-size: 14px;
  margin: 0;
  padding: 0;
  &.table-ticket__label_sublabel{
    color:@table-ticket-sublabel-color;
  }


  &._has-checkbox{
    padding-left: 20px;
    input[type="checkbox"]{
      position: absolute;
      margin-top: 4px;
      margin-left: -20px;
    }
  }
}



.table-ticket__btn{
  margin-left:10px;
}

.table-ticket__bnt-icon {
  text-decoration: none;
  padding: 6px 6px;
  border-radius: 2px;
  margin-right: 10px;
}

