// TABLE DIV REGISTER

.table-dv-consol {
  margin-bottom: 0;
}

.table-dv-consol__thead {
  //...
}

.table-dv-consol__tbody {
  //...
}

.table-dv-consol__row {
  //...
}

.table-dv-consol__cell {
  padding: 11px 14px;

  font-size: 12px;
  vertical-align: middle;

  background-color: #f1f3f6;

  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;

  &:first-child {
    border-left: none;
  }
}

.table-dv-consol__row:first-child {
  //...

  .table-dv-consol__cell {
    border-top: none;
  }
}

.table-dv-consol_pad_light {
  background-color: #f1f3f6;
}

.table-dv-consol_pad_dark {
  background-color: #e5eaee;
}

.table-dv-consol__val {
  font-weight: 700;
}

.table-dv-consol__row-num {
  width: 6%;
  text-align: center;
}


.table-dv-consol__icon-status {
  margin-right: 5px;

  top: 3px;

  font-size: 16px;
}