<div class="modal-base">
    <div class="modal-header modal-base__header">
        <ng-close-button ng-click="modalOptions.close()"></ng-close-button>
        <h3 class="modal-base__header-title">Выбор муниципального образования или населённого пункта, входящего в состав муниципального образования</h3>
    </div>
    <div class="modal-body modal-base__body">

        <ef-poktmo-form ng-model="oktmo"
                        search-service="searchService"
                        region-guid="regionGuid"
                        excluded-guids ="excludedGuids"
                        excluded-codes="excludedCodes"
                        use-codes="useCodes"
                        oktmo-search-service="oktmoService">
        </ef-poktmo-form>

        <ef-poktmo-rzp-form
                search-service="searchService"
                search-result-table="searchResultTable"
                selection-function="tryItem"
                has-checkbox="hasCheckbox"
                checked-items="checkedItems"
                radio-item="radioItem"
                show-children-view="showChildrenView"
                selection-level="level"
                excluded-guids ="excludedGuids"
                excluded-codes="excludedCodes"
                use-codes="useCodes">
        </ef-poktmo-rzp-form>

    </div>

    <div class="modal-footer modal-base__footer">
        <button class="btn btn-default pull-left" ng-click="resetSelection()" ng-disabled="disabled()" ng-class="{disabled: disabled()}">Очистить выбор</button>
        <button class="btn btn-cancel" ng-click="modalOptions.close()">Отменить</button>
        <button class="btn btn-action" ng-click="modalOptions.ok()" ng-disabled="disabled()">Выбрать</button>
    </div>
</div>