<form class="form-horizontal" role="form" name="efSvip">
    <div class="form-group  form-base__form-group">
        <label for="chiefLastName" class="col-xs-4 control-label  form-base__control-label">Фамилия</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='chiefLastName'
                   name='chiefLastName'
                   class='form-control  form-base__form-control'
                   ng-model='soleTrader.chiefLastName'
                   placeholder='Введите фамилию'
                   required-field="!disabledMode"
                   maxlength="60">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{soleTrader.chiefLastName}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="chiefFirstName" class="col-xs-4 control-label  form-base__control-label">Имя</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='chiefFirstName'
                   name='chiefFirstName'
                   class='form-control  form-base__form-control'
                   ng-model='soleTrader.chiefFirstName'
                   placeholder='Введите имя'
                   required-field="!disabledMode"
                   maxlength="60">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{soleTrader.chiefFirstName}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="chiefMiddleName" class="col-xs-4 control-label  form-base__control-label">Отчество</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='chiefMiddleName'
                   name='chiefMiddleName'
                   class='form-control  form-base__form-control'
                   ng-model='soleTrader.chiefMiddleName'
                   placeholder='Введите отчество'
                   maxlength="60">
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{soleTrader.chiefMiddleName}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="sex" class="col-xs-4 control-label  form-base__control-label">Пол</label>
        <div class="col-xs-8">
            <label class="control-label form-base__control-label">
                <input type="radio"
                       name="sex"
                       id="sex"
                       ng-model="soleTrader.male"
                       data-ng-value="true"
                       ng-reguired="!disabledMode"
                       ng-disabled="disabledMode"/>М
            </label>
            <label class="control-label form-base__control-label">
                <input type="radio"
                       name="sex"
                       id="sex"
                       ng-model="soleTrader.male"
                       data-ng-value="false"
                       required-field="!disabledMode" required-error-control-id="sole-trader-sex-error-label"
                       ng-disabled="disabledMode"/>Ж
            </label>
            <span id="sole-trader-sex-error-label"></span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="ogrnip" class="col-xs-4 control-label  form-base__control-label" ng-class="{'required' : !disabledMode}">ОГРНИП</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='ogrnip'
                   name='ogrnip'
                   class='form-control  form-base__form-control'
                   ng-model='soleTrader.ogrn'
                   placeholder='Введите ОГРНИП'
                   ng-required="!disabledMode"
                   integer
                   maxlength="15"
                   ng-disabled="editMode"
                   length-validate="['15']">
            <span class="error-base" ng-show="showError && efSvip.ogrnip.$error.required">Поле обязательно для заполнения</span>
            <span class="error-base" ng-show="showError && efSvip.ogrnip.$error.lengthValidate && !efSvip.ogrnip.$error.required">Длина ОГРНИП должна составлять 15 цифр.</span>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{soleTrader.ogrn}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label class="col-xs-4 control-label  form-base__control-label">Дата государственной регистрации</label>
        <div class="col-xs-4">
            <hcs-datepicker ng-if="!disabledMode"
                            ng-model="soleTrader.stateRegistrationDate"
                            options="stateRegistrationDateOptions"></hcs-datepicker>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{soleTrader.stateRegistrationDate}}</span>
        </div>
    </div>
    <div class="form-group  form-base__form-group">
        <label for="inn" class="col-xs-4 control-label  form-base__control-label">ИНН</label>
        <div class="col-xs-8">
            <input ng-if="!disabledMode"
                   id='inn'
                   name='inn'
                   class='form-control  form-base__form-control'
                   ng-model='soleTrader.inn'
                   placeholder='Введите ИНН'
                   integer
                   maxlength="12"
                   length-validate="['12']">
            <span class="error-base" ng-show="showError && efSvip.inn.$error.lengthValidate">Длина ИНН должна составлять 12 цифр.</span>

            <span ng-if="disabledMode"
                  class="form-base__val-units">{{soleTrader.inn}}</span>
        </div>
    </div>
    <div class="form-group form-base__form-group">
        <label for="mainAddress" class="col-xs-4 control-label  form-base__control-label ng-class="{'required' : !disabledMode}"">
            Адрес места жительства
        </label>

        <div class="col-xs-6">
            <input ng-if="!disabledMode"
                   type="text"
                   class="form-control form-base__form-control"
                   id='mainAddress'
                   name='mainAddress'
                   placeholder="Выберите адрес"
                   ng-model='soleTrader.mainAddress'
                   readonly
                   residence-address
                   required-field="!disabledMode"/>
            <span ng-if="disabledMode"
                  class="form-base__val-units">{{soleTrader.mainAddress.formattedAddress}}</span>
        </div>
        <div class="col-xs-2" ng-if="!disabledMode">
            <button class="btn btn-md btn-prime pull-right" ng-click="selectAddress()">Выбрать</button>
        </div>
    </div>
</form>