<!--Область вывода сообщения (ЭФ_ОВС)-->
<div class="container-fluid" ng-controller="messagePanelCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
</div>