@charset "UTF-8";

@font-face {
  font-family: "gis-zhkh";
  src:url("@{fontPath}/gis-zhkh/gis-zhkh.eot");
  src:url("@{fontPath}/gis-zhkh/gis-zhkh.eot?#iefix") format("embedded-opentype"),
  url("@{fontPath}/gis-zhkh/gis-zhkh.woff") format("woff"),
  url("@{fontPath}/gis-zhkh/gis-zhkh.ttf") format("truetype"),
  url("@{fontPath}/gis-zhkh/gis-zhkh.svg#gis-zhkh") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gis-zhkh" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="gis-icon-"]:before,
[class*=" gis-icon-"]:before {
  font-family: "gis-zhkh" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gis-icon-arrow-left:before {
  content: "a";
}
.gis-icon-arrow-right:before {
  content: "b";
}
.gis-icon-x-thin:before {
  content: "c";
}
.gis-icon-house:before {
  content: "d";
}
.gis-icon-faucet:before {
  content: "e";
}
.gis-icon-power-plant:before {
  content: "f";
}
.gis-icon-plant:before {
  content: "g";
}
.gis-icon-temperature:before {
  content: "h";
}
.gis-icon-pump:before {
  content: "i";
}
.gis-icon-factory:before {
  content: "k";
}
.gis-icon-pipes:before {
  content: "n";
}
.gis-icon-valve:before {
  content: "j";
}
.gis-icon-station:before {
  content: "l";
}
.gis-icon-radius:before {
  content: "m";
}
