@font-face {
  font-family: 'hcs-icon-font';
  src:url('@{fontPath}/hcs-icon-font/hcs-icon-font.eot?-45f6kn');
  src:url('@{fontPath}/hcs-icon-font/hcs-icon-font.eot?#iefix-45f6kn') format('embedded-opentype'),
  url('@{fontPath}/hcs-icon-font/hcs-icon-font.woff?-45f6kn') format('woff'),
  url('@{fontPath}/hcs-icon-font/hcs-icon-font.ttf?-45f6kn') format('truetype'),
  url('@{fontPath}/hcs-icon-font/hcs-icon-font.svg?-45f6kn#hcs-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hif {
  font-family: 'hcs-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-house:before {
  content: "\e602";
}
.icon-building:before {
  content: "\e600";
}
.icon-russia-map:before {
  content: "\e601";
}
.icon-bars:before {
  content: "\e603";
}
.icon-payment_method_master_card:before {
  content: "\e604";
}
.icon-payment_method_card_visa:before {
  content: "\e605";
}
.icon-russian-blazon:before {
  content: "\e60c";
}
.icon-modal-close:before {
  content: "\e606";
}
.icon-watertap:before {
  content: "\e607";
}
.icon-reademail:before {
  content: "\e608";
}
.icon-circleup:before {
  content: "\e609";
}
.icon-circledown:before {
  content: "\e60a";
}
.icon-circle-remove:before {
  content: "\e60b";
}