@font-face {
  font-family: 'WebHostingHub-Glyphs';
  src: url('@{fontPath}/whhg-font/webhostinghub-glyphs.eot');
  src: url('@{fontPath}/whhg-font/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/whhg-font/webhostinghub-glyphs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -moz-font-feature-settings: "calt=0,liga=0";
}
[class^="whhg-"], [class*=" whhg-"] {font-family:'WebHostingHub-Glyphs';background:none;width:auto;height:auto;font-style:normal}

.whhg-circleup:before{content:'\f3c8'}
.whhg-circledown:before{content:'\f3c7'}
.whhg-circleleft:before{content:'\f3c6'}
.whhg-circleright:before{content:'\f3c9'}

.whhg-question-sign:before{content:'\f0a3'}

.whhg-arrow-right:before{content:'\f304'}
.whhg-resize-horizontal:before{content:'\f318'}

.whhg-factory:before{content:'\f27a'}
.whhg-city:before{content:'\f576'}
.whhg-pencil:before{content:'\f1b7'}
.whhg-alarm:before{content:'\f233'}
.whhg-stopwatch:before{content:'\f219'}
.whhg-contact-businesscard:before{content:'\f040'}

.whhg-ok-sign:before{content:'\f479'}
.whhg-ok-circle:before{content:'\f471'}
.whhg-ban-circle:before{content:'\f313'}

.whhg-remove-sign:before{content:'\f478'}
.whhg-certificatealt:before{content:'\f058'}
.whhg-paperclip:before{content:'\f284'}
.whhg-print:before{content:'\f125'}
.whhg-tags:before{content:'\f482'}
.whhg-document:before{content: '\f0c1'}
.whhg-remove-circle:before{content:'\f470'}
.whhg-tools:before{content:'\f034';}