<span class="form-base__form-value" ng-show="reasons.length == 1">{{getReasonNameByGuid(ngModel)}}</span>
<select ng-show="reasons.length > 1" id="reasons" class="form-control" ng-model="ngModel"
        placeholder="Выберите значение"
        ui-select2 ng-disabled="viewMode">
    <option value=""></option>
    <option ng-repeat="item in reasons" value="{{item.guid}}">
        {{item.name}}
    </option>
</select>