<!-- Компонент popover -->

<!--<div class="form-group form-base__form-group">-->
    <!--<button type="button" class="btn btn-lg btn-primary ng-scope" hcs-popover-trigger="unique_name1">-->
        <!--Список файлов-->
    <!--</button>-->
<!--</div>-->
<!--<div class="hcs-popover-content" hcs-popover-content="unique_name1">-->
    <!--<attachment-element context="homemanagement"-->
                        <!--ng-model="attachment"-->
                        <!--context-path="123"></attachment-element>-->
<!--</div>-->

<!--<div ng-controller="HcsPopoverCtrl">-->
    <!--<div class="form-base">-->
        <!--<div role="form" class="form-horizontal" >-->
            <!--<div class="form-base__form-body" ng-init="setForm(hcsDaterange)">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div class="form-group form-base__form-group">-->
                            <!--<label for="" class="col-xs-4 control-label  form-base__control-label">-->
                                <!--Наведите курсор-->
                            <!--</label>-->

                            <!--<div class="col-xs-8">-->

                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group form-base__form-group">-->
                            <!--<button type="button" class="btn btn-lg btn-primary ng-scope" hcs-popover-trigger="unique_name">-->
                                <!--Список файлов-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<div class="hcs-popover-content" hcs-popover-content="unique_name">-->
                            <!--<attachment-element context="homemanagement"-->
                                                <!--ng-model="attachment"-->
                                                <!--context-path="123"></attachment-element>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
