<div class="modal-base">
    <div class="modal-header modal-base__header">
        <ng-close-button ng-click="modalOptions.close()"></ng-close-button>
        <h4 class="modal-base__header-title">Выбор комнаты</h4>
    </div>
    <div class="modal-body modal-base__body">
        <div class="section-base">
            <ef-bp-form search-service="searchService" search-parameters="searchParameters"
                        default-search-parameters="defaultSearchParameters">
                <div class="row">
                    <div class="col-md-12">
                        <ef-pa-form filter="searchParameters.addressFias" use-required="false" splitable="true">
                            <div name="after">
                                <div class="form-group form-base__form-group">
                                    <label for="apartmentGuid-{{$id}}"
                                           class="col-md-4 control-label form-base__control-label">
                                        Номер помещения
                                    </label>

                                    <div class="col-md-8">
                                        <input type="text" name="searchParameters.apartmentGuid"
                                               id="apartmentGuid-{{$id}}" data-placeholder="Введите номер помещения"
                                               ng-disabled="!searchParameters.addressFias.houseNumber && !searchParameters.addressFias.buildingNumber && !searchParameters.addressFias.structNumber"
                                               ng-model="searchParameters.apartmentGuid"
                                               ui-select2="apartmentGuidSelect2Options"
                                               class="form-control form-base__form-control"/>
                                    </div>
                                </div>
                                <div class="form-group form-base__form-group">
                                    <label for="roomNumber-{{$id}}"
                                           class="col-md-4 control-label form-base__control-label">
                                        Номер комнаты
                                    </label>

                                    <div class="col-md-8">
                                        <input type="text" name="roomNumber" id="roomNumber-{{$id}}"
                                               placeholder="Введите номер комнаты"
                                               ng-model="searchParameters.roomNumber"
                                               ng-disabled="!searchParameters.addressFias.houseNumber && !searchParameters.addressFias.buildingNumber && !searchParameters.addressFias.structNumber"
                                               class="form-control form-base__form-control"/>
                                    </div>
                                </div>
                            </div>
                        </ef-pa-form>
                    </div>
                </div>
            </ef-bp-form>
        </div>
        <div class="section-base">
            <div class="row">
                <div class="col-lg-12"><b>Результаты поиска</b></div>
            </div>
            <!--TODO подумать и победить это множественное использование $parentScope-->
            <ng-simple-grid ng-config="searchResultTable.config" state="searchResultTable.state"
                            row-click="$parentScope.chooseRoom(rowData)">
                <column title="Адрес комнаты">
                    <input type="checkbox"
                           ng-if="$parentScope.hasCheckbox"
                           ng-checked="$parentScope.checkedItems[rowData.guid]"
                            />
                    <input type="radio"
                           ng-model="$parentScope.radioItem"
                           value="{{rowData.guid}}"
                           ng-if="$parentScope.hasRadio"
                            />
                    <span>{{rowData.houseRefWithNsi.address.formattedAddress}},
                    <span ng-if="rowData.apartmentRefWithNsi.flatNumber">кв. {{rowData.apartmentRefWithNsi.flatNumber}},</span>
                    комн. {{rowData.roomNumber}}</span>
                </column>
            </ng-simple-grid>
        </div>
    </div>
    <div class="modal-footer modal-base__footer">
        <button class="btn btn-cancel" ng-click="modalOptions.close()">Отменить</button>
        <button class="btn btn-action" ng-click="modalOptions.ok()" ng-disabled="disabled()">Выбрать</button>
    </div>
</div>