<div class="form-base">
    <div class="form-base__body">
        <div class="form-horizontal">
            <div class="form-group form-base__group">
                <label class="control-label form-base__control-label col-xs-2 required text-right" for="reportMonth">Месяц</label>
                <div class="col-md-3 __padding-0">
                    <select class="form-control form-base__form-control" ng-model="options.month" id="reportMonth">
                        <option value="1">Январь</option>
                        <option value="2">Февраль</option>
                        <option value="3">Март</option>
                        <option value="4">Апрель</option>
                        <option value="5">Май</option>
                        <option value="6">Июнь</option>
                        <option value="7">Июль</option>
                        <option value="8">Август</option>
                        <option value="9">Сентябрь</option>
                        <option value="10">Октябрь</option>
                        <option value="11">Ноябрь</option>
                        <option value="12">Декабрь</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-base__group">
                <label class=" control-label form-base__control-label col-xs-2 required text-right" for="reportYear">Год</label>
                <div class="col-md-3 __padding-0">
                    <select id="reportYear" class="form-control form-base__form-control" ng-model="options.year" ng-options="year.val as year.val for year in years"></select>
                </div>
            </div>
        </div>
    </div>
</div>