<div ng-controller="EfPrchPlzvSearchController">
    <div class="container-fluid">
        <ef-bp-form search-service="searchService" search-parameters="searchParameters" default-search-parameters="defaultSearchParameters">

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group  form-base__form-group">
                        <label for="lastName" class="col-xs-4 control-label  form-base__control-label">Фамилия</label>
                        <div class="col-xs-8">
                            <input id="lastName"
                                   name="lastName"
                                   placeholder="Bведите фамилию"
                                   class="form-control  form-base__form-control"
                                   ng-model="searchParameters.lastName"
                                   maxlength="200"></textarea>
                        </div>
                    </div>

                    <div class="form-group  form-base__form-group">
                        <label for="firstName" class="col-xs-4 control-label  form-base__control-label">Имя</label>
                        <div class="col-xs-8">
                            <input id="firstName"
                                   name="firstName"
                                   placeholder="Bведите имя"
                                   class="form-control  form-base__form-control"
                                   ng-model="searchParameters.firstName"
                                   maxlength="200"></textarea>
                        </div>
                    </div>

                    <div class="form-group  form-base__form-group">
                        <label for="middleName" class="col-xs-4 control-label  form-base__control-label">Отчество</label>
                        <div class="col-xs-8">
                            <input id="middleName"
                                   name="middleName"
                                   placeholder="Bведите отчество"
                                   class="form-control  form-base__form-control"
                                   ng-model="searchParameters.middleName"
                                   maxlength="200"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="plzv-role-select" class="col-xs-4 control-label  form-base__control-label">Роль</label>
                        <div class="col-md-8">

                            <select id="plzv-role-select"
                                    class="form-control"
                                    ng-model="searchParameters.roleCode"
                                    ng-options="role.code as role.name for role in roles">
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="privilege-input-emploeer" class="col-xs-4 control-label  form-base__control-label">Полномочие</label>
                        <div class="col-md-8">
                            <select type="text"
                                    id="privilege-input-emploeer"
                                    class="form-control"
                                    name="plzvRoleGuid"
                                    ng-model="searchParameters.emploeeRoles"
                                    ui-select2
                                    multiple
                                    ng-show="isEmployeeRole()">
                                <option ng-repeat="emploeerRole in emploeerRoles" value="{{emploeerRole.guid}}">
                                    {{emploeerRole.userRoleName}}
                                </option>
                            </select>
                            <select type="text"
                                    id="privilege-input-citizen"
                                    class="form-control"
                                    name="plzvRoleGuid"
                                    ng-model="searchParameters.emploeeRoles"
                                    ui-select2
                                    multiple
                                    ng-show="isCitizenRole()">
                                <option ng-repeat="citizenRole in citizenRoles" value="{{citizenRole.code}}">
                                    {{citizenRole.userRoleName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group  form-base__form-group" ng-show="isEmployeeRole()">
                        <label for="orgName" class="col-xs-4 control-label  form-base__control-label">Организация</label>
                        <div class="col-xs-8">
                            <input id="orgName"
                                   name="orgName"
                                   class="form-control  form-base__form-control"
                                   ng-model="searchParameters.innOrOgrnOrName"
                                   ng-maxlength="250"
                                   ng-disabled="orgDisbabled">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="plzv-status-select" class="col-xs-4 control-label  form-base__control-label">Статус</label>
                        <div class="col-md-8">
                            <select id="plzv-status-select"
                                    class="form-control"
                                    name="plzvStatus"
                                    ng-model="searchParameters.plzvStatus"
                                    ng-options="plzvStatus.code as plzvStatus.name for plzvStatus in plzvStatusesForUi">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           <!-- {{searchParameters | json}}-->
        </ef-bp-form>
    </div>

    <div class="register-search-result" ng-controller="EfPrchPlzvTableController">

        <div class="register-search-result__header">
            <h4 class="register-search-result__header-title">Результаты поиска</h4>
        </div>

        <div class="register-search-result__body register-search-result_separated" ng-show="isEmployeeRole()">

            <ng-simple-grid ng-config="employeeTable.config"
                            state="employeeTable.state"
                            row-click="$parentScope.handleRowClick(rowData)">
                <column title="<input type='checkbox' ng-if='$parentScope.isMultipleSelectionMode()' ng-model='$parentScope.allSelected' ng-change='$parentScope.selectOrDeselectAll()'/>">
                    <input type="radio"
                           ng-model="$parentScope.checkedItem"
                           value="{{rowData.guid}}"
                           ng-if="$parentScope.isSingleSelectionMode()"
                            />
                    <input type="checkbox"
                           ng-checked="$parentScope.checkedItems[rowData.guid]"
                           ng-if="$parentScope.isMultipleSelectionMode()" />
                </column>
                <column title="ФИО" cell="fio"></column>
                <column title="Полномочие" cell="userRoleNames"></column>
                <column title="Логин" cell="login"></column>
                <column title="Организация" cell="organization.shortName"></column>
                <column title="Адрес электронной почты" cell="email"></column>
                <column title="Статус">
                    {{$parentScope.getUserStatus(rowData.userStatusInfo.userStatus)}}
                </column>
            </ng-simple-grid>

        </div>

        <div class="register-search-result__body register-search-result_separated" ng-show="isCitizenRole()">

            <ng-simple-grid ng-config="citizenTable.config"
                            state="citizenTable.state"
                            row-click="$parentScope.handleRowClick(rowData)">
                <column title="<input type='checkbox' ng-if='$parentScope.isMultipleSelectionMode()' ng-model='$parentScope.allSelected' ng-change='$parentScope.selectOrDeselectAll()'/>">
                    <input type="radio"
                           ng-model="$parentScope.checkedItem"
                           value="{{rowData.guid}}"
                           ng-if="$parentScope.isSingleSelectionMode()"
                            />
                    <input type="checkbox"
                           ng-checked="$parentScope.checkedItems[rowData.guid]"
                           ng-if="$parentScope.isMultipleSelectionMode()" />
                </column>
                <column title="ФИО" cell="fio"></column>
                <column title="Полномочие" cell="userRoleNames"></column>
                <column title="Логин" cell="login"></column>
                <column title="Адрес электронной почты" cell="email"></column>
                <column title="Статус">
                    {{$parentScope.getUserStatus(rowData.userStatusInfo.userStatus)}}
                </column>
            </ng-simple-grid>

        </div>
    </div>
</div>