<!--Модальное окно для выбора дома (ЭФ_ВД)-->
<div class="container-fluid" ng-controller="EfVdCtrl">
    <button type="button" class="btn btn-default" ng-click="showDialog()">Открыть диалог</button>
    <button type="button" class="btn btn-default" ng-click="showOtherDialog()">Еще диалог</button>
</div>