<!--Модальное окно выбора адреса по ФИАС (ЭФ_ВвА)-->
<div class="container" ng-controller="EfVvaCtrl">
    <button type="button" class="btn btn-default" ng-click="showDialog()">Открыть диалог</button>
</div>