/*TODO перенести в общие стили bootstrap, создав класс реализующий блок определенной высоты с прокруткой*/
.ng-simple-grid,
.table-body,
.table-head  {
    width: 100%;
}
.ng-simple-grid table {
    margin-top: 0;
    margin-bottom: 0;
}
.ng-simple-grid .table-body-wrapper {
    /*пока отключил, чтобы всплывающие подсказки не обрезались, и так как скролл пока не используется*/
    /*overflow-y: auto;*/
    margin: 0 0 25px 0;
}
