<div class='ng-simple-grid'>
    <div ng-if="false">
        <hcs-pagination
                pagination-config="paginationConfig"
                modal="opts.modal"
                changed="tableEvent.pageChanged"
                >
        </hcs-pagination>
    </div>
    <div class="table-head-wrapper" ng-if="opts.scrollY">
        <table class='table-head' ng-class="headClass ? headClass: 'table table-base table-base_row_even table-hover table-condensed'">
            <thead>\
            <tr></tr>
            </thead>
        </table>
    </div>
    <div class='table-body-wrapper'
         ng-style="{'max-height': opts.scrollY}"
         ng-class="{'_overflow-y-auto' : opts.scrollY, 'register-search-result_separated': tableData.length !== 0 }">
        <table class='table-body' ng-class="bodyClass ? bodyClass: 'table table-base table-striped table-hover table-condensed'">
            <thead ng-if="!opts.scrollY">
            </thead>
            <tbody ng-if="tableData.length > 0">
            <tr ng-repeat="rowData in tableData | orderBy:state.orderBy" ng-class="getSelected(rowData)"></tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-12 _padding-10 _top" ng-if="tableData.length == 0">
                <span>{{opts.noResultsMessage}}</span>
            </div>
        </div>
    </div>
    <div ng-if="opts.pagination | showBottomPagination">
        <hcs-pagination
                pagination-config="paginationConfig"
                fixed-items-per-page="{{paginationConfig.fixedItemsPerPage}}"
                modal="opts.modal"
                changed="tableEvent.pageChanged">
        </hcs-pagination>
    </div>
</div>