<a ng-click="sort(sortvalue)" class="sorting-header">

    <span ng-transclude="" class="" style="width: 80%"></span>&nbsp;

    <span ng-if="sortedby == sortvalue" class="">
        <i class="glyphicon" ng-class="{true: 'glyphicon-chevron-up', false: 'glyphicon-chevron-down'}[sortdir == 'asc']"></i>
    </span>

    <span ng-if="sortedby != sortvalue">
        <i class="glyphicon glyphicon-chevron-up" style="visibility: hidden"></i>
    </span>
</a>
