<div class="row" collapse="expanded">
    <div class="col-xs-10">

        <div class="form-group form-search__form-group">
            <input type="text" class="form-control  form-base__form-control" ui-select2="select2Options" ng-model="ngModel" select2-close="onclose()"/>
        </div>

    </div>
    <div class="col-xs-2">
        <button type="button" ng-click="search()" ng-disabled="false" class="btn btn-action-lg btn-md btn_fn_lg btn-block">Поиск в реестре</button>
    </div>
</div>