.app-citizen-new {
  //...

  .left-menu li {
    background-color: #e5eaee;
  }

  .block_content {
    padding: 20px!important;

    ul {
      padding: 10px 20px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .nohr {
    //...

    .btn {
      padding: 5px 10px;
      margin-bottom: 10px;

      font-size: 14px;

      background-image: none;
      box-shadow: none;
      font-weight: normal;
      text-shadow: none;

      background-color: #4e9b30;
      color: #ffffff;
    }
  }

  .block .block_content ul li {
    border-bottom: none;
    box-shadow: none;
  }

}

// CITIZEN CABINET OVERRIDES
// card house personal account ids block
.b-fix_card-house-pa {

}

.b-fix_card-house-pa_title {

}

.b-fix_card-house-pa_list {

}