// LESS

.app-content-new {
  //...

  .form-footer {
    background-color: #ffffff;
    width: 100%;

    > div:first-of-type {
      padding-left: 0;
      padding-right: 0;
    }

    .btn {
      padding: 10px;
      font-size: 14px;

      background-image: none;
      box-shadow: none;
      font-weight: normal;
      text-shadow: none;
    }

    .button-clean {
      background-color: #5a6874;
      color: #ffffff;

    }

    .button-search {
      background-color: #4e9b30;
      color: #ffffff;
    }
  }
}



