body {
  background: white;
}
a {
  //text-decoration: underline;
  color: #01649d;
}
a:hover {
  color: #003b5d;
}

/* header */
.panel.user {
  font-size: 0.8em;
  margin: 0px 0 0 0;
  padding: 1em;
  padding-left: 80px;
  border: none;
  min-height: 7em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 0px 1px 0px white;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e0e8ee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e0e8ee, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #e0e8ee 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e0e8ee 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e8ee', endColorstr='#ffffff', GradientType=0);
}
.panel.user img.pull-left {
  display: none;
}
.panel.user:before {
  content: url(http://emias24.ru/img/key-icon.png);
  position: absolute;
  left: -5px;
  top: 10px;
}
// HEADER OVERRIDES
/*
.app-header {
  background: none;
  border-top: none;

  .header-logo {
    text-decoration: none;
  }
}
*/

.app-header .slug:before {
  content: 'Р“РРЎ Р–РљРҐ';
  display: block;
  font: bold 54px/46px "Calibri";
  color: #333;
}
.app-header .slug {
  float: none;
  max-width: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin: 0px;
  text-transform: none;
  text-shadow: none;
  clear: none;
  color: #8e8e8e;
  margin-left: 94px;
  display: block;
}
.app-header .logo {
  width: 84px;
  height: 80px;
  background: none;
  float: left;
  margin: 0px;
  background-image: url(http://emias24.ru/img/logo-house.png);
  background-repeat: no-repeat;
  background-position: left top;
  margin-right: 10px;
}
.app-header .header-info span {
  float: none;
  max-width: none;
  margin: 0px;
  text-transform: none;
  text-shadow: none;
  clear: none;
  font: 300 16px "Roboto Condensed", sans-serif;
  color: #8e8e8e;
  display: block;
}
.app-header .header-info span.phone {
  font: 700 30px "Roboto Condensed", sans-serif;
  color: #333;
  margin: 0px;
}
.app-header .header-info span.email {
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
}
.app-header .header-info span a {
  color: #01649d;
  font-family: arial;
}
.app-header .header-info span a:hover {
  color: #003b5d;
}
.app-header .header-info span a:before {
  content: "\f0e0";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
.app-header.temp-2 {
  margin-bottom: 60px;
}
.app-header-wrapper .app-header {
  border-top: none;
  background: white;
  position: relative;
  margin: 0 0 50px 0;
  padding: 40px 0px 20px 0px;
}
.app-header-wrapper .app-header-logo .header-logo {
  text-decoration: none;
}
.app-header-logo .header-logo:hover .logo-title,
.app-header-logo .header-logo:focus .logo-title {
  color: #777;
}
/*
.app-header-logo .logo-subtitle {
  font-weight: 300;
}
.app-header-support .support-desc {
  font-weight: 300;
}
*/

.app-header-support .support-email {
  text-decoration: underline;
}
.app-header-support .support-email span:hover {
  text-decoration: underline;
}

/* New Blue Navigation */
.app-content-new .navbar.navbar-default.temp-1 {
  position: relative !important;
  width: 100%;
  top: -150px;
}
.app-content-new .navbar.navbar-default.temp-1 {
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  background: #0c64ab;
  background-image: url(http://emias24.ru/img/navbar-bg.png);
  background-repeat: repeat-x;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  width: auto;
}
.app-content-new .navbar.temp-1 .navbar-nav > li {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.app-content-new .navbar.temp-1 .navbar-nav > li:first-child {
  border-left: none;
}
.app-content-new .navbar.temp-1 .navbar-nav > li:last-child {
  border-right: none;
}
.app-content-new .navbar.temp-1 .navbar-nav > li > a {
  color: white;
  font-size: 14px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
  text-decoration: none;
  padding: 14px 30px;
}
.app-content-new .navbar.temp-1 .dropdown-menu li {
  border-bottom: none;
  padding: 4px 0;
}
.app-content-new .navbar.temp-1 .navbar-nav > li > ul.dropdown-menu {
  border-radius: 0px;
  background: #d3e1f5;
  border: none;
  width: 250px;
}
.app-content-new .navbar.temp-1 .navbar-nav > li:last-child > ul.dropdown-menu {
  border-radius: 0px;
  background: #d3e1f5;
  border: none;
  right: -2px;
  left: auto;
}
.app-content-new .navbar.temp-1 .navbar-nav > li > ul.dropdown-menu > li > a {
  text-align: left;
  font-size: 15px;
  color: #026bbc;
  text-shadow: none;
  padding-left: 15px;
  padding-right: 15px;
}
.app-content-new .navbar.temp-1 .navbar-nav > li > ul.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #026bbc;
}
.app-content-new .navbar-inverse.temp-1 .navbar-nav > .active > a,
.app-content-new .navbar-inverse.temp-1 .navbar-nav > .active > a:hover,
.app-content-new .navbar-inverse.temp-1 .navbar-nav > .active > a:focus {
  background-color: rgba(0,0,0,0.2);
}
.app-content-new .navbar-inverse.temp-1 .navbar-nav>.open>a,
.app-content-new .navbar-inverse.temp-1 .navbar-nav>.open>a:hover,
.app-content-new .navbar-inverse.temp-1 .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.1);
}
.app-content-new .block:first-child {
  margin-top: 30px;
}

.app-content-new .block {
  background: white;
  float: left;
  border-radius: 0px;
  margin: 0px;
  margin-bottom: 30px;
  border-bottom: 2px solid #cedbe4;
}
.app-content-new .block .block_header span.pin i {
  font-size: 22px;
  vertical-align: middle;
  top: -3px;
  text-indent: 0px;
  color: #01669c;
  left: -5px;
}
.app-content-new .block .block_header {
  padding-left: 0px;
  padding-right: 0px;
}
.app-content-new .block .block_content {
  background: #f2f4f6;
  float: left;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.app-content-new .block .block_header span.pin {
  font-weight: normal;
  float: none;
  margin: 0;
  padding: 0px;
  min-width: inherit;
}
.app-content-new .block .block_header span {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
  color: #01669c;
  text-decoration: underline;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.app-content-new .block .block_header .btn-primary_hcs-history {
  text-shadow: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin: 0;
  border: none;
  padding: 5px 10px;
  color: white;
  background: none;
  background: #006eb9;
  filter: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}
.app-content-new .block .block_header .btn-primary_hcs-history:hover {
  background: #004f84;
}
.app-content-new .block .block_header .btn-primary_hcs-history span {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #81a7bc;
  top: 1px;
  margin: 1px 5px 0 0;
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.app-content-new .block .block_header .btn-primary_hcs-history span:before {
  content: "\e109";
}
.app-content-new .block .block_footer {
  float: left;
  padding: 7px 0px;
  vertical-align: middle;
}
.app-content-new .block .block_footer .actions.left {
  float: left;
  padding-top: 7px;
}
.app-content-new .block .block_footer .actions.left a {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}
.app-content-new .block .block_footer .actions.left a:last-child {
  border-right: none;
}

/* breadcrumbs */
.app-content-new .breadcrumb {
  padding: 0px;
  margin-bottom: 0;
  margin-left: 0px;
  background-color: transparent;
  font-size: 0.8em;
}
.app-content-new .breadcrumb .active {
  background: none;
  margin: 0px;
  padding: 0px;
  border: solid 1px white;
  border-radius: 4px;
  color: #333;
  text-shadow: none;
}
.app-content-new .breadcrumb > li + li:before {
  content: "\f105";
  padding: 0px;
  color: #cccccc;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
}

/* h1 page-title */
.app-content-new h1.ng-binding {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* panels */
.app-content-new .panel-wrapper {
  margin-bottom: 20px;
}
.app-content-new .panel {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.app-content-new .panel .panel-body {
  background-color: #F2F4F6;
  padding: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
}

/*
.app-content-new .form-horizontal .control-label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
*/

.app-content-new .form-horizontal div.form-group div.col-md-12 p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #777;
}
.app-content-new .panel .panel-footer {
  position: relative;
  width: 100%;
  background-color: #0a65ab;
  overflow: auto;
  margin: 0 auto;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}
.app-content-new .collapse-all .collapse-all_title {
  font-size: 0.8em;
  color: white;
  border-bottom: 1px dashed white;
  cursor: pointer;
}
.app-content-new .icon-background {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  background-color: transparent;
  background-image: none;
  border: 2px solid white;
}
.app-content-new .icon-background i {
  font-size: 10px;
  padding: 0;
  color: white;
}
.app-content-new .button-search {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e1e8ee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e1e8ee, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #e1e8ee 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e1e8ee 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e8ee', endColorstr='#ffffff', GradientType=0);
  color: #224d72;
  font-size: 1em;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  min-width: 114px;
  line-height: 1;
  padding: 10px 10px;
  border-radius: 3px;
}
.app-content-new .btn-primary {
  color: #fff;
  text-shadow: none;
  box-shadow: none !important;
  margin: 0;
  border: none;
  padding: 6px 18px;
  background: #4e9b30;
  filter: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.app-content-new .btn-primary:hover {
  background: #3b7f1f;
}

/* /cabinet/#/organization/house/list */
.app-content-new .search-bar.blue .panel {
  background-color: #0a65ab;
}
.app-content-new .form-control {
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* footer */
#bg-footer {
  min-height: 130px;
  background: none;
  background-image: url(http://emias24.ru/img/footer-bg.png);
  margin: 0px;
  text-shadow: 0px 1px 0px white;
}
.app-footer .footer-links {
  margin: 0px;
}
.app-footer .footer-links a.min-sjkh {
  background: url(http://emias24.ru/img/emblem-1.png) no-repeat;
  padding: 0 0 10px 50px;
}
.app-footer .footer-links a.min-smk {
  background: url(http://emias24.ru/img/emblem-2.png) no-repeat;
  padding: 0 0 10px 50px;
}
.app-footer .footer-links a.russian-post {
  background: url(http://emias24.ru/img/emblem-3.png) no-repeat;
  padding: 5px 0 15px 80px;
}

.app-footer-ministry {
  font-size: 13px !important;
}

// NEVSKY OVERRIDES FROM 05.08.2014
.app-content-new .navbar.temp-1 .navbar-nav > li > a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 17px !important;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding: 14px 30px;
}
.app-content-new .navbar.temp-1 .navbar-nav > li > ul.dropdown-menu > li > a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 15px !important;
  color: #026bbc;
  text-shadow: none;
  padding-left: 15px;
  padding-right: 15px;
}
.app-content-new .navbar.navbar-default.temp-1 {
  position: relative !important;
  //width: 100%;
  top: -140px !important;
}