// ORGANIZATION CABINET OVERRIDES

// Info about entrances fix
.block-tabs .tab-content .tab-pane .tab-pane-unit {
  margin: 0 5px 10px 5px;
}

// Account edit fix
.b-fix_personal-account_label {
  text-align: left;
  display: block;
  padding: 7px 0 0 0;
  margin: 0 0 0 10px;
}

// Register cards list
.app-b-normalize > .register-card:first-of-type {
  margin-top: 40px;
}

// Tabs #1 ->
.block-tabs {

  float: none;
  width: auto;

  background: none;

  -webkit-box-shadow: none;
          box-shadow: none;
}

.block-tabs .nav-tabs {
  border-bottom: none;
}

.block-tabs .nav-tabs li {
  //...

  a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow: none;

    color: #ffffff;
    background-color: #acb3b9;

    border: 1px solid #acb3b9;

    &:hover, &:focus {
      color: #ffffff;
      background-color: #5a6874;

      border-color: #5a6874;
    }
  }

  &.active {
    //...

    a {
      font-weight: 400;
      text-shadow: none;

      color: #ffffff;
      background-color: #5a6874;

      border: 1px solid #5a6874;

      &:hover, &:focus {
        color: #ffffff;
        background-color: #5a6874;

        border-color: #5a6874;
      }
    }
  }
}


.block-tabs .tab-content .tab-pane {
  background-color: #f1f3f6;

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
          box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

// Tabs #1 <-

// Tabs #2 ->
// http://xn--2016-z4dy1f.xn--p1ai:10080/organization-cabinet/#/organization/account/update/38afbc0b-0d4a-4743-95e5-1e57aa1e8c8e
.nav-tabs.nav-justified {}

.nav-tabs.nav-justified > li {
  //...

  a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow: none;

    color: #ffffff;
    background-color: #acb3b9;

    border: 1px solid #acb3b9;

    &:hover, &:focus {
      color: #ffffff;
      background-color: #5a6874;

      border-color: #5a6874;
    }
  }

  &.active {
    //...

    a {
      font-weight: 400;
      text-shadow: none;

      color: #ffffff;
      background-color: #5a6874;

      border: 1px solid #5a6874;

      &:hover, &:focus {
        color: #ffffff;
        background-color: #5a6874;

        border-color: #5a6874;
      }
    }
  }
}
// Tabs #2 <-