// Pagination
.pagination {
  font-size: 14px;
  font-weight: 400;

  border-radius: 4px;

  > li {
    //...

    > a,
    > span {
      color: @color-link !important;
      text-decoration: underline;
      background-color: #ffffff !important;
      border: none;
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: @color-link-hover !important;
      background-color: #e5eaee !important;
      border-color: #e5eaee !important;

      border-radius: 4px;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: #333333 !important;
      font-weight: 700;
      text-decoration: none;
      cursor: default;
      background-color: #e5eaee !important;
      border-color: #e5eaee !important;

      border-radius: 4px;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: #8f8f8f !important;
      background-color: #ffffff !important;
      text-decoration: none;
      border-color: transparent;
    }
  }
}

/*
.pagination > li > a.active {
  background-color: #01649d;
}
*/

.pagination-separator {
  //...

  > li {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: @color-link;
    text-decoration: none;
    background-color: #fff;
  }

  & + .pagination {
    //...

    > li:first-child > a {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}