// LESS
.app-content-new {
  //...

  //
  .pages-count {
    text-align: right;

    > label {
      color: #8f8f8f;
      font-size: 13px;
    }

    .form-control {
      border: 1px solid #cccccc;
    }
  }

  // APP TABLES
  .table-condensed {
    //...

    > thead {
      //...

      > tr {
        //...

        > th, > td {
          padding: 4px 8px;
          color: #ffffff;
          background-color: #5a6874;
          font-size: 13px;
          border: none;
          vertical-align: middle;
          text-shadow: none;
        }
      }
    }

    > tbody {
      //...

      > tr {
        //...

        > td {
          background-color: #ffffff;
          border: none;

          .ico {
            border-radius: 50%;
          }
        }

        &:nth-child(odd) {
          //...

          > td {
            background-color: #e5eaee;
          }
        }
      }
    }
  }
  // APP TABLES


  // PASSPORT CONFIG TABLE
  .passport-config-tabs {
    //...

    .nav-tabs li {
      //...

      > a {
        background-color: #e8ecf1;
        text-shadow: none;
        color: #01649d;
      }


      &.active > a {
        background-color: #3c4954;
        border: 1px solid #3c4954;
        color: #ffffff;
        text-shadow: none;
      }
    }

    .tab-header {
      //...

      > h3 {
        background-color: #3c4954;
        text-shadow: none;
        color: #ffffff;
      }
    }

    .tab-search {
      //...

      .panel {
        background-color: #3c4954;
        color: #ffffff;
      }

      label[for="configSearch"] {
        color: #ffffff;
      }

      .button-search-2 {
        padding: 10px;
        font-size: 14px;

        background-color: #026bbc;
        color: #ffffff;
        line-height: 1;

        background-image: none;
        box-shadow: none;
        font-weight: normal;
        text-shadow: none;
      }
    }

    .table-condensed {
      //...

      > thead {
        //...

        > tr {
          //...

          > th, > td {

          }
        }
      }

      > tbody {
        //...

        > tr {
          //...

          > td {
            background-color: #e5eaee;
            border-bottom: 2px solid #ffffff;
          }
        }
      }

    }
  }
  // PASSPORT CONFIG TABLE

}