// Link to all apartments
// http://xn--2016-z4dy1f.xn--p1ai:10080/organization-cabinet/#/organization/house/edit/179e5d06-ead9-4005-abe4-643ae100c70f/1
.b-temp__all-apperatments-a {
  margin-left: 5px;
  margin-right: 5px;
}