/*
:: OVERRIDES FROM 10080 BY ZAYTSEV
!! TEMPORARY SOLUTION
*/

/* ROBOTO FONT IS NOT AVAILABLE WITH @IMPORT */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://fonts.gstatic.com/s/robotocondensed/v10/b9QBgL0iMZfDSpmcXcE8nBrZZZhU_vu8qGhdpTEWF1Q.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotocondensed/v10/b9QBgL0iMZfDSpmcXcE8nFg5CgGLp4EYHKghg5iYRwo.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v10/Zd2E9abXLFGSr9G3YK2MsJfEMY2SkgIPRFkbm0YpG3Y.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotocondensed/v10/Zd2E9abXLFGSr9G3YK2MsOC933fdLZhbewWVDyX-fYw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(http://fonts.gstatic.com/s/robotocondensed/v10/b9QBgL0iMZfDSpmcXcE8nBV4f1rh352p76gXHS_gk9g.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotocondensed/v10/b9QBgL0iMZfDSpmcXcE8nANHRvH4E1CCxguZf4zS03A.woff) format('woff');
}

/* ROBOTO FONT IS NOT AVAILABLE WITH @IMPORT END */


/*
  TEMPORARY
  ONLY FOR EMERGENCY SITUATION
  ...like a deadline eve
*/

///*

.btn-group, .btn-group-vertical {
  margin-bottom: 8px;
}
.btn-group .btn + .btn{
  margin-left:6px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: @border-radius;
  border-top-right-radius: @border-radius;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: @border-radius;
  border-top-left-radius: @border-radius;
}

.btn {
  &.btn-primary {
    background: none;
    box-shadow: none;
    text-shadow: none;
    .btn-action;
  }

  &.btn-info {
    background: none;
    box-shadow: none;
    text-shadow: none;
    .btn-action;
  }

  &.btn-danger {
    background: none;
    box-shadow: none;
    text-shadow: none;
    .btn-cancel;
  }
}
//*/
.tab-base {
  .tab-pane {
    .tab-header {
      h3 {
        margin: 0;
        padding: 13px 10px;
        width: 100%;
        background-color: #3c4854;
        color: #fff;
        text-shadow: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
      }
    }
  }
}

.form-footer._transparent {
  background: none;
}

/*
  REMEMBER, THIS BLOOD IS ON YOUR HANDS!
*/

/* TOGGLED PANE BASE */


.collapse-toggle {
  .form-base {
      margin: 0;
  }
}

.collapse-toggle__cnt-wrapper {
  background: #F2F4F6;
  /*padding: 20px;*/
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*.collapse-toggle__pane {
  &.collapse-toggle__pane-bp {

  }
}*/

/* TOGGLED PANE BASE END*/


/* TOGGLED PANELS OVERRIDE */

.panel {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  .panel-body {
    background-color: #f1f3f6;
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
  }
  .panel-group {
    .panel-heading {
      /*border-bottom: solid 1px #dddddd;*/
      border-bottom: none;
    }
  }

  .panel-footer {
    position: relative;
    width: 100%;
    background-color: #0a65ab;
    overflow: auto;
    margin: 0 auto;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
}

/*TOGGLED PANELS OVERRIDE END */

/* BUTTONS OVERRIDE */
.button-search {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e1e8ee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e1e8ee, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #e1e8ee 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e1e8ee 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e8ee', endColorstr='#ffffff', GradientType=0);
  color: #224d72;
  font-size: 1em;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  min-width: 114px;
  line-height: 1;
  padding: 10px 10px;
  border-radius: 3px;
}

.btn {
  &.button-clean {
    padding: 10px 12px;
    border: none;

  }
}

/* BUTTONS OVERRIDE END*/

/* ICON_BACKGROUND OVERRIDE */

.panel {
  .panel-heading {
    .icon-background {
      /*border-color: #224d72;*/
      i {
        color: #224d72;
        top: 5px;
      }
    }
  }
}



  .icon-background {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  background-color: transparent;
  background-image: none;
  border: 2px solid transparent;
  i {
    font-size: 14px;
    padding: 0;
    color: #fff;
    .glyphicon-chevron-up {
      top: 4px;
    }

  }
}

/* ICON_BACKGROUND OVERRIDE END */

/* COLLAPSE_ALL OVERRIDE */
.collapse-all {
  margin: 2px 0 0 0;
  .icon-background {
    i {
      top: 6px;
      &.glyphicon-chevron-up {
        top: 6px;
      }
    }
  }
  .collapse-all_title {
    font-size: 0.8em;
    color: white;
    border-bottom: 1px dashed white;
    cursor: pointer;
  }
}

/* COLLAPSE_ALL OVERRIDE END */

/* TROUBLES WITH BOOTSTRAP, MUST BE UPDATED */

.form-horizontal {
  .has-feedback {
    .form-control-feedback {
      top: 0;
      right: 0;
    }
  }
}

.has-feedback {
  .form-control {
    padding-right: 30px;
  }
  .form-control-feedback {
    position: absolute;
    top: 25px;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
  }
}

.hcs-datepicker {
  &.has-feedback {
    position: relative;
    overflow: visible;
    display: block;
    max-width: 125px;
  }
  .glyphicon-calendar {
    cursor: pointer;
  }
}

/* TROUBLES WITH BOOTSTRAP, MUST BE UPDATED END */
/* FAKE FILE UPLOAD SHIT */
.btn {
  &.fake-file-upload-wrapper {
    position: relative;
    .fake-file-upload-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-size: 0px;
    }

  }
}

/* FAKE FILE UPLOAD SHIT END */


.modal-backdrop {
  background-color: #0d1f3e;
  opacity: 0.74;
}

.form-group {
  &.form-base__form-group {
    &._top-padded-20 {
      padding-top: 20px;
    }
  }
}

.modal-base__body {
  .form-base {
    margin: 0;

    & + .form-base{
      margin-top: 20px;
    }

    &.form-base_bm-20 {
      margin-bottom: 20px;
    }
  }
  .form-base__body {
    &.form-base_fully-padded {
      padding: 20px;
    }
  }
}

.form-base {
  .form-base__form-value {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
  }
}


/* TEMPOTATY BAND FOR  /device/meterings-history */

// BAND ->

.metering-devices__band {
  margin: 0 0 25px 0;
  padding: 20px;

  //background-color: #0a65ab;
}

.metering-devices__band-attr, .metering-devices__band-attr-val {
  display: inline-block;
  margin: 0 0 5px 0;

  font: 400 16px/1.2 'Roboto Condensed', sans-serif;
  //color: #ffffff;
}

.metering-devices__band-group {
  margin-bottom: 15px;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.metering-devices__band-attr {
  text-align: right;
}
.metering-devices__band-attr-val {
  font-weight: 700;
}


// BAND <-
/* TEMPOTATY BAND FOR  /device/meterings-history END*/


/* TRICKS */

._nowrap {
  white-space: nowrap;
}

._margin-bottom-20 {
  margin: 0 0 20px 0;
}

._margin-bt-20 {
  margin: 20px 0 20px 0;
}


/* TRICKS END */

/* DATEPICKER FIX */

/*.form-base__body {
  overflow:visible;
}*/

/* DATEPICKER FIX END */

/* PANEL BASE */

.panel-base {

  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  border: none;

  .panel-base__body {
    background-color: #F2F4F6;
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
  }

  .panel-base__footer {

    position: relative;
    width: 100%;
    background-color: #0a65ab;
    overflow: auto;
    margin: 0 auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
}

/* PANEL BASE END */

.app-header {
  padding: 30px 0 0 0;
  &:before {
    top: -17px;
    left: -60px;
    width: 448px;
    height: 88px;
  }
}

.app-header-account {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  min-height: 90px;

  .account-logout {
    font-size: 16px;
    text-decoration: none;
    &.account-logout_half {
      width: 50%;
    }
  }
}

/* NAV BAR */

.app-nav-main {
  .navbar {

    /*.navbar-nav {
      & > li {
        border-left: solid 1px #03528d;
        &:first-child,
        &:last-child {
          & > a {
            box-shadow: none;
          }
        }
        &:last-child {
          border-right: solid 1px #4487bb;
          & > a {
            border-right: solid 1px #03528d;
          }
        }

        & > a {
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 16px;
          border-left: solid 1px #4487bb;
          box-shadow: none;
        }

      }
    }*/

    .dropdown-menu {
      li {
        box-shadow: none;
      }
    }
  }
}



/*GLOBAL NAV (NEW)*/

.app-nav-global-wrapper {
  background-color: #d8e5ef;
  border: 0;
  border-bottom: solid 2px #c0d5e6;
  border-radius: 0;
  margin: 0;
}

.app-nav-global {

  background-color: #d8e5ef;
  border: 0;
  border-radius: 0;
  margin: 0;

  .navbar-default {
    min-height: 40px;
    margin: 0;
    background-color: transparent;
    border: none;

    .navbar-collapse {
      border: none;
      padding: 0;
    }
    .navbar-nav {

      & > li {

        & > a {

          padding: 10px 0;
          color: #0064b0;
          font-family: 'Roboto Condensed', sans-serif;
        }
      }
    }

  }

  .nav {
    float: none;
    display: table;
    width: 100%;
    li {
      display: table-cell;
      float: none;
      text-align: center;
      &.blind-version {

        .glyphicon-eye-open {
          font-size: 16px;
          vertical-align: middle;
        }

      }
    }
  }

  .russian-blazon {
    float: left;
    margin: 4px 0 0 0;

    .blazon {
      width: 34px;
      height: 32px;
      background: url("@{imgPath}/ui/coat3.png") center center no-repeat;
      float: left;
    }
  }

  .menu-trigger {
    float: right;
    font-size: 20px;
    margin: 7px 0 0 0;
    color: #0064b0;
  }


}
/*GLOBAL NAV (NEW) END*/


/* NAV BAR END */


/* PAGINATION */
.pagination-base {
  > li {
    > a,
    > span {
      border: none;
    }
  }
}
/* PAGINATION END */
/* E_PASSPORTS MAIN.LESS  */

.card-dropdown-left {
  left: 90%;
}

.table-results-top {
  margin-top: 0px;
}

.passport-config-tabs {
  input[type="radio"],
  input[type="checkbox"] {
    // иначе Хром показывает их слишком большого размера
    // и с тенью не там, где она ожидается (с .form-control)
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .scroll-max-480 {
    max-height: 480px;
    overflow-y: auto;
    overflow-x: hidden
  }

  .expandRow {
    .panel {
      .panel-heading,
      .panel-body,
      .panel-footer {
        // override white background
        background: none;
      }
    }
  }
}

form.form-horizontal.condensedRows {
  .form-group {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

/* E_PASSPORTS MAIN.LESS END */

/* ACTIVE STATE FOR HALL_I_CARD */
.hall-i-card.active {
  border: solid 1px #A9A9A9;
}
/* ACTIVE STATE FOR HALL_I_CARD END */


/* OVERRIDES FROM 10080 BY ZAYTSEV END */


/* SELECT2 FOR SERVICES */

.period-fix {
  .select2-container {
    .select2-choice {
      & > .select2-chosen {
        margin-right: 15px;
      }
    }

    &.form-control {
      .select2-choice {
        padding: 0;
      }
    }
  }
}


/* SELECT2 FOR SERVICES END */

.visa-master-card-codes {
  background: url("@{imgPath}/ui/visa-master-card-codes.jpg") left top no-repeat;
  width: 372px;
  height: 138px;
}

.collapse-toggle__state-icon {
  font-size: 18px;
  top: 5px;
}


.app-header-logo {
  .logo-subtitle {
    text-decoration: none;
  }
}

/* BOOTSTRAP BTN */
.btn-warning {
  background-color: #ba1f0b;
  border-color: transparent;
  &:hover {
    background-color: #cb200b;
    border-color: transparent;
  }
}
/* BOOTSTRAP BTN END*/


/* FOOTER STYLES FROM PUBLIC WEB */
.portal-footer {
  padding: 30px 0 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.portal-footer_pad {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #e3e9f0);
  background-image: linear-gradient(to bottom, #ffffff, #e3e9f0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e3e9f0 ', GradientType=0);
}
.portal-footer__content {
  position: relative;
  padding: 20px 0 20px 0;
  border-top: 2px solid #cedae4;
}
.portal-footer__graphics {
  position: relative;
  z-index: 1;
}
.portal-footer__graphics:after {
  display: block;
  position: absolute;
  bottom: 0;
  right: -20px;
  z-index: -1;
  width: 444px;
  height: 64px;
  content: "";
  background: url("@{imgPath}/ui/footer-graphics.png") center center no-repeat;
}
.portal-footer__ministries {
  margin-bottom: 40px;
}
.portal-footer__ministries-i {
  display: block;
}
.portal-footer__ministries-i-icon {
  display: inline-block;
  margin-right: 8px;
  width: 61px;
  height: 65px;
  vertical-align: middle;
  content: "";
}
.portal-footer__ministries-i-title {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
.portal-footer__copyright-info {
  font-size: 12px;
  color: #8f8f8f;
}
.portal-footer__copyright-contact {
  font-size: 12px;
}
.portal-footer__build-info {
  font-size: 12px;
  color: #8f8f8f;
}
.portal-footer__icon-ministry-1 {
  background: url("@{imgPath}/ui/coat-1.png") left top no-repeat;
}
.portal-footer__icon-ministry-2 {
  background: url("@{imgPath}/ui/coat-2.png") left top no-repeat;
}
.portal-footer__icon-ministry-rpost {
  background: url("@{imgPath}/ui/rpost-logo.png") left top no-repeat;
}
/* FOOTER STYLES FROM PUBLIC WEB END */


/*PRE AND CODE */

pre {
  display: block;
  padding: 5px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid #3c4854;
  border-top: none;
  border-radius: 0;
}

/*PRE AND CODE END*/



/*bla*/
._as-inline-block{
  display: inline-block;
  float:none;
  vertical-align: top;
}

.hall-i-card{
  margin:0 0 30px 0;
}

.form-group {
  &.form-base__form-group {
    &._top-padded-15 {
      padding-top: 15px;
    }
  }
}

.scroll-content {
  overflow-y: auto;
  &._scroll-x_hidden{
    overflow-x: hidden;
  }
  &.scroll-content_3 {
    max-height: 180px;
  }
  &.scroll-content_5 {
    max-height: 300px;
  }
  &.scroll-content_10 {
    max-height: 600px;
  }
}

.register-card__header-title{
  color:@color-link;
  &.cnt-text_info{
    color:red;
    margin-left:54px;
  }
}


.__width-as-date-picker{
  .hcs-datepicker;
  .has-feedback;
}

.hcs-datepicker_monthly {
  .hcs-datepicker {
    width: 150px;
    max-width: 150px;
  }
}

.hcs-datepicker ul.dropdown-menu {
  min-width: 304px;
}

.hcs-datepicker > ul.dropdown-menu > li > div > table {
  margin: 0 auto;
}

._width-90{
  width: 90px;
}

._width-100{
  width: 100px;
}

.__padding-0{
   padding: 0;
 }


._padding-right-0{
  padding-right: 0;
}
#loading-dialog{
  z-index: 2000;
}

table ._archived{
  color: @color-search-archived;
}

table ._archived a{
  &.cnt-link{
    color: @color-search-archived;
    &:hover{
      color: @color-search-archived;
    }

  }
}



._font-size-12{
  font-size: 12px;
}
._font-size-14{
    font-size: 14px;
}
._font-size-16{
  font-size: 16px;
}

.close{
  font-size: 24px;
}

.popover{
  z-index: 1090;
}

/*bla*/
