<div ng-if="flowUpload"
     flow-init
     flow-name="flow.flow"
     ng-init="initFlowObject()"
     class="form-upload"
     flow-drop
     flow-drag-enter="showDropArea=true"
     flow-drag-leave="showDropArea=false">

    <div class="draggable-area-wrapper">
        <div class="draggable-area"
             ng-show="!!showDropArea">
            <span class="draggable-area__label">Перетащите файлы сюда</span>
        </div>
    </div>

    <div ng-if="!$flow.files.length"
         class="upload-area-wrapper">
        <div class="col-xs-8">
            <span class="form-upload__initial-title">Выберите файл для загрузки</span>
        </div>
        <div class="col-xs-4 text-right">
                <span class="btn btn-action fake-file-upload-wrapper btn-md"
                      ng-disabled="disabled">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                        Добавить файл
                    <input type="file"
                           value="Обзор1"
                           flow-btn
                           class="fake-file-upload-button"
                           accept="{{generateAccepts()}}"/>
                </span>
        </div>
    </div>

    <div ng-repeat="file in $flow.files"
         class="form-upload__row form-upload_as-a-table">
        <div ng-switch="file.status">
            <!-- ####### ДОБАВЛЕННЫЙ ФАЙЛ, РЕДАКТИРОВАНИЕ ####### -->
            <div ng-switch-when="FILE_STATUS.edit">

                        <div class="form-upload__file-image">
                            <div ng-if="file.isImage">
                                <img style="max-width: 43px; max-height: 43px;"
                                     flow-img="file"/>
                            </div>
                            <div ng-if="!file.isImage">
                                <span class="form-upload__icon icon-file icon-file_{{getExtensionByFilename(file.name)}}"></span>
                            </div>
                        </div>

                        <div class="form-upload__file-name">
                            {{file.name}}
                        </div>


                    <div class="form-upload__input">
                        <input class="form-control form-base__form-control"
                               type="text"
                               placeholder="Введите название файла"
                               ng-model="file.description">
                    </div>
                    <div class="form-upload__button  form-upload__button_remove">
                        <span class="app-icon _icon-size_big glyphicon glyphicon-remove-circle app-icon_cl_asphalt"
                              ng-click="cancelFile(file)"
                              ng-if="!disabled"></span>


                    </div>


            </div>

            <!-- ####### ФАЙЛ ЗАГРУЖАЕТЯ ####### -->

            <div ng-switch-when="FILE_STATUS.upl"
                 class="form-upload__row">
                <div class="col-xs-4">
                    <div class="form-upload__file-image">
                        <div ng-if="file.isImage">
                            <img style="max-width: 43px; max-height: 43px;"
                                 flow-img="file"/>
                        </div>
                        <div ng-if="!file.isImage">
                            <span class="form-upload__icon icon-file icon-file_{{getExtensionByFilename(file.name)}}"></span>
                        </div>
                    </div>
                    <div class="form-upload__file-name">
                        {{file.name}}
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-9  form-base__el_close_r">
                            <ef-prf-progress-bar file="file"
                                                 flow="$flow"></ef-prf-progress-bar>
                        </div>
                        <div class="col-xs-3  form-base__el_close_l">
                            <div class="form-upload__button  btn-block text-right">
                                <a class="btn btn-cancel btn-md  btn-block"
                                   href=""
                                   ng-click="file.cancel()">
                                    Отмена
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ####### ОШИБКА ЗАГРУЗКИ ####### -->
            <div ng-switch-when="FILE_STATUS.upl_err"
                 class="form-upload__row">
                <div class="col-xs-4">
                    <div class="form-upload__file-image">
                        <div ng-if="file.isImage">
                            <img style="max-width: 43px; max-height: 43px;"
                                 flow-img="file"/>
                        </div>
                        <div ng-if="!file.isImage">
                            <span class="form-upload__icon icon-file icon-file_{{getExtensionByFilename(file.name)}}"></span>
                        </div>
                    </div>

                    <div class="form-upload__file-name">
                        {{file.name}}
                    </div>
                </div>
                <div class="col-xs-4  form-base__el_close">
                    <div class="warning-base warning-base_inline">
                        <span class="glyphicon glyphicon-exclamation-sign  warning-base__icon"></span>

                        <div class="warning-base__msg">
                            {{file.errorMsg || 'Файл не удалось загрузить'}}
                        </div>
                    </div>
                </div>
                <div class="form-upload__button text-right col-xs-4  form-base__el_close_l">
                    <a class="btn btn-prime btn-md"
                       href=""
                       ng-click="file.retry()">Загрузить повторно</a>
                </div>
            </div>

        </div>
    </div>
    <div class="form-upload__row"
         ng-if="$flow.files.length">
        <div class="col-xs-12 text-right">
            <span class="btn btn-cancel btn-md"
                  href=""
                  ng-click="$flow.cancel()"
                  ng-show="uploading">Отменить загрузки</span>
            <span class="btn btn-prime btn-md"
                  href=""
                  ng-click="startUpload()"
                  ng-if="!uploading"
                  ng-disabled="disabled">Загрузить файлы</span>
            <span class="btn btn-action fake-file-upload-wrapper btn-md"
                  ng-if="!uploading"
                  ng-disabled="disabled || numberOfFilesCouldBeAttached() === 0">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Добавить файл
                    <input type="file"
                           value="Обзор1"
                           flow-btn
                           class="fake-file-upload-button"
                           accept="{{generateAccepts()}}"/>
                </span>
        </div>
    </div>
    <div class="form-upload__row"
         ng-show="errors.extensionNotValid">
        <span class="text-danger col-xs-11">Допускается прикрепление файла с одним из следующих расширений: {{getExtensions()}}.</span>
    </div>
    <div class="form-upload__row"
         ng-show="errors.tooMuchFiles">
        <span class="text-danger col-xs-11">Максимальное число файлов для прикрепления: {{max}}</span>
    </div>
    <div class="form-upload__row"
         ng-show="errors.tooBigFile">
        <span class="text-danger col-xs-11">Размер прикрепляемого файла не должен превышать: {{getHumanReadableFilesize(MAX_FILE_SIZE)}}</span>
    </div>
    <div class="form-upload__row"
         ng-show="errors.emptyFile">
        <span class="text-danger col-xs-11">Невозможно прикрепить пустой файл</span>
    </div>
</div>

<div ng-if="!flowUpload">

    <div class="form-upload__row"
         ng-if="!uploader.queue.length">
        <div class="col-xs-8">
            <span class="form-base__header-title">Выберите файл для загрузки</span>
        </div>
        <div class="col-xs-4 text-right">
                <span class="btn btn-prime fake-file-upload-wrapper btn-md"
                      ng-disabled="disabled">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Добавить файл
                    <input type="file"
                           value="Обзор1"
                           ng-file-select
                           class="fake-file-upload-button"
                           accept="{{generateAccepts()}}"/>
                </span>
        </div>
    </div>

    <div class="form-upload">
        <div class="form-upload__row"
             ng-repeat="item in uploader.queue">

            <div class="form-upload__file-image col-xs-1  form-base__el_close_r">
                <span class="form-upload__icon icon-file icon-file_{{getExtensionByFilename(item.file.name)}}"></span>
            </div>

            <div class="form-upload__file-name col-xs-3  form-base__el_close">
                <span>{{item.file.name}}</span>
            </div>

            <div class="form-upload__input col-xs-5  form-base__el_close">
                <input class="form-control form-base__form-control"
                       type="text"
                       placeholder="Введите название файла"
                       ng-model="customPath">
            </div>

            <div class="form-upload__button text-right col-xs-3  form-base__el_close_l">
                <a class="btn btn-cancel btn-md"
                   href=""
                   ng-click="item.remove()">
                    Удалить
                </a>
            </div>

        </div>
    </div>

    <div class="form-upload__row"
         ng-if="uploader.queue.length">
        <div class="col-xs-12 text-right">
            <span class="btn btn-prime btn-md"
                  href=""
                  ng-click="upload()"
                  ng-disabled="!uploader.getNotUploadedItems().length || !customPath || disabled">
                Загрузить файлы
            </span>
            <span class="btn btn-prime fake-file-upload-wrapper btn-md"
                  ng-disabled="disabled || uploading">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Добавить файл
                    <input type="file"
                           value="Обзор1"
                           ng-file-select
                           class="fake-file-upload-button"
                           accept="{{generateAccepts()}}"/>
                </span>
        </div>
    </div>
    <div class="form-upload__row"
         ng-show="extensionNotValid">
        <span class="text-danger col-xs-11">Допускается прикрепление файла с одним из следующих расширений: {{getExtensions()}}.</span>
    </div>
</div>