<!--Группа полей для выбора месяца и года (ЭФ_ВМИГ)-->
<div class="container-fluid" ng-controller="EfVmigCtrl">
    <div class="col-md-6">
        <form name="vmigForm">
            <ef-vmig-form month="month"
                          year="year"
                          years="years"
                          month-required="true"
                          year-required="true">
            </ef-vmig-form>
        </form>
        Form valid = {{vmigForm.$valid}}
    </div>
    <div class="container-fluid">
        Месяц {{month}} Год {{year}}
    </div>
</div>