<!--Блок прикрепления файла (ЭФ_ПрФ)-->
<div class="form-base__body" ng-controller="EfPrfCtrl">
    <div class="form-horizontal">
        <div class="form-base__body">
            <div class="row">
                <div class="col-xs-6">
                    <ef-prf-form context="homemanagement" callback="myCallback" max="2"
                                 extensions="myExtensions"></ef-prf-form>
                </div>
            </div>
        </div>
    </div>
</div>