<!-- Компонент выбора диапазона дат -->
<div ng-controller="HcsDaterangeCtrl">
    <div class="form-base">
        <form role="form" class="form-horizontal" name="hcsDaterange" id="hcsDaterange">
            <div class="form-base__form-body" ng-init="setForm(hcsDaterange)">
                <div class="row">
                    <div class="col-xs-6">

                        <div class="form-group form-base__form-group">
                            <label for="" class="col-xs-4 control-label  form-base__control-label">Выберите диапазон
                                дат</label>

                            <div class="col-xs-8">
                                <daterange name="dr" from-model="rangeFrom" to-model="rangeTo"
                                           options="daterangeOptions" ng-model="fakeModel"></daterange>
                            </div>
                        </div>

                        <div class="form-group form-base__form-group">
                            <label for="" class="col-xs-4 control-label  form-base__control-label">Значение модели
                                (бесполезное)</label>

                            <div class="col-xs-8">
                                {{fakeModel}}
                            </div>
                        </div>

                        <div class="form-group form-base__form-group">
                            <label for="" class="col-xs-4 control-label  form-base__control-label">Значения
                                полезные</label>

                            <div class="col-xs-8">
                                rangeFrom: {{rangeFrom}}
                                rangeTo: {{rangeTo}}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>