<!--Компонент ng-simple-grid-->
<div class="container-fluid" ng-controller="SimpleGridDemoController">
    <form ng-submit="updateResourcesFilter()">
        <!--<%-- TODO rework on bootstrap--%>-->
        <table class="filter">
            <tr>
                <td valign="top" style="padding-left: 0px;">
                    <table>
                        <tr>
                            <td>
                                Группа медицинских учреждений
                            </td>
                            <td>
                                <input ng-model="filter.lpuName" type="text" disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Медицинское учреждение группы
                            </td>
                            <td>
                                <input ng-model="filter.lpuName" type="text" disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Подразделение
                            </td>
                            <td>
                                <input ng-model="filter.departmentName" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Место приема
                            </td>
                            <td>
                                <input ng-model="filter.lpuIdsCR" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input id="ar-archival" type="checkbox"><label for="ar-archival">Архивные
                                ресурсы</label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" class="none_padding_left_right">
                    <table valign="top" width="100%">
                        <tr>
                            <td>
                                Номер кабинета
                            </td>
                            <td>
                                <input ng-model="filter.roomNumber" type="text">
                            </td>
                            <td>
                                <button type="submit">Найти</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Доступный ресурс
                            </td>
                            <td>
                                <input ng-model="filter.resourceTitle" type="text">
                            </td>
                            <td>
                                <button ng-click="clearResourcesFilter()">Очистить фильтр</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Медицинский работник
                            </td>
                            <td colspan="2">
                                <input ng-model="filter.medicalEmployeeLastName" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Разрешена самозапись
                            </td>
                            <td colspan="2">
                                <input ng-model="filter.selectedItem" type="text">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <div>
        $scope.tableState = {{tableState}}
    </div>
    <ng-simple-grid ng-config="tableSettings" state="tableState">
        <!-- ссылка через данные строки -->
        <column title="Наименование ресурса     " width="16%"><a href='javascript:void(0);'>{{rowData.title}}</a>
        </column>
        <!-- указание источника данных (все ее содержимое попадет в ячейку таблицы -->
        <column title="Подразделение            " width="18%" cell="departmentName"></column>
        <column title="Медицинские работники    " width="19%" cell="employees"></column>
        <!-- указание источника данных и его обработка в шаблоне ячейки -->
        <column title="Место приёма             " width="18%" cell="lpus">{{cellData.join(", ")}}</column>
        <!--  просто обработка шаблона -->
        <column title="Номер кабинета           " width="9%">{{rowData.roomNumbersByLpu.join(", ")}}
        </column>
        <column title="Разрешена самозапись     " width="10%">{{rowData.appointmentToSelf ? "Да" : "Нет"}}
        </column>
        <column title="Расписание               " width="10%" cell="id">
            <a href="/web-recorder-workspace/manage-schedule/quota-rules-view?resourceId={{cellData}}"
               class="action edit" title="Редактировать квоты"></a>
            <a href="/web-recorder-workspace/manage-schedule/viewChart?resourceId={{cellData}}"
               class="action view" title="Просмотреть график"></a>
        </column>
        <column title="Родительская область" width="16%">
                        <span title="{{$parentScope.someDataFromParent}}">
                            1111-{{$parentScope.someDataFromParent}}
                        </span>
        </column>
    </ng-simple-grid>
</div>
