<div class="modal-base">
<div class="modal-header modal-base__header">
    <ng-close-button ng-click="modalOptions.close()"></ng-close-button>
    <h4 class="modal-title modal-base__header-title">Выбор дома</h4>
</div>
<div class="modal-body modal-base__body">
    <div class="row">

        <ef-bp-form search-service="searchService"
                    search-parameters="searchParameters"
                    default-search-parameters="defaultSearchParameters"
                >
            <div class="row">
                <div class="col-md-12">
                    <ef-pa-form filter="searchParameters" use-required="false" splitable="true">

                        <div name='after'>
                            <div class="form-group">
                                <label for="houseType" class="col-md-4 control-label">Тип дома</label>

                                <div class="col-md-8">
                                    <select class="form-control" id="houseType" name="houseType" maxlength="40"
                                            placeholder="Выберите тип дома"
                                            ng-model="searchParameters.houseTypeGuid"
                                            ng-options="item.guid as item.houseTypeName for item in houseTypes"
                                            ng-disabled="houseTypeCode == '1'">
                                        <option value="">Выберите тип дома</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </ef-pa-form>
                </div>
            </div>
        </ef-bp-form>

    </div>

    <div class="row">
        <div class="register-search-result__header">
            <h4 class="register-search-result__header-title">Результаты поиска</h4>
        </div>
        <!--TODO подумать и победить это множественное использование $parentScope-->
        <ng-simple-grid ng-config="searchResultTable.config"
                        state="searchResultTable.state"
                        row-click="$parentScope.chooseHouse(rowData.guid)">

            <column title="Адрес дома">
                <input ng-show="$parentScope.hasCheckbox"
                       type="checkbox"
                       name="house"
                       ng-checked="$parentScope.checkedItems[rowData.guid]"
                       ng-disabled="$parentScope.radioOrSelectButtonDisabled(rowData.houseType)"/>

                <input ng-show="!$parentScope.hasCheckbox" type="radio" name="house" ng-model="$parentScope.radioItem"
                       value="{{rowData.guid}}"
                       ng-disabled="$parentScope.radioOrSelectButtonDisabled(rowData.houseType)"/>
                {{rowData.address.formattedAddress}}
            </column>

            <column title="Тип дома" cell="houseType.houseTypeName"></column>
        </ng-simple-grid>
    </div>

</div>

<div class="modal-footer modal-base__footer">
    <button class="btn btn-cancel" ng-click="modalOptions.close()">Отменить</button>
    <button class="btn btn-action" ng-click="modalOptions.ok()" ng-disabled="!radioItem">Выбрать</button>
</div>
</div>