<div class="row" ng-hide="paginationConfig.isEmpty">
    <div class="col-xs-8">
        <div ng-show="paginationConfig.page > 1 || !paginationConfig.isLast">
            <ul class="pagination-base" ng-hide="paginationConfig.page <= 1">
                <li><a ng-click="prevPage()" href="">← предыдущая</a></li>
            </ul>
            <pagination
                    ng-model="paginationConfig.page"
                    total-items="innerTotal"
                    ng-change="innerPageChanged()"
                    items-per-page="paginationConfig.itemsPerPage"
                    direction-links="false"
                    max-size="maxSize"
                    previous-text="← предыдущая"
                    next-text="следующая →"
                    class="pagination-base"
                    >
            </pagination>
            <ul class="pagination-base">
                <li ng-hide="paginationConfig.isLast">
                    <a ng-click="nextPage()" href="">следующая →</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="output-by" ng-show="!fixedItemsPerPage">
            <div class="form-horizontal">
                <div class="form-group  output-by__form-group">
                    <label for="count"
                           class="col-xs-8 control-label  output-by__control-label">Выводить по</label>
                    <div class="col-xs-4">
                        <select class="form-control  output-by__form-control"
                                ng-model="paginationConfig.itemsPerPage"
                                ng-if="inModal"
                                id="count">
                            <option value="20">20</option>
                            <option value="15">15</option>
                            <option value="10">10</option>
                            <option value="5">5</option>
                        </select>

                        <select class="form-control"
                                ng-model="paginationConfig.itemsPerPage"
                                ng-if="!inModal"
                                id="count">
                            <option value="100">100</option>
                            <option value="50">50</option>
                            <option value="30">30</option>
                            <option value="20">20</option>
                            <option value="10">10</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>