<!--Компонент межстраничной навигации (ЭФ_КМН)-->
<div class="container-fluid">
    <div ng-controller="EfKmhDemoController">
        <h3>Старая версия компонента (Deprecated)</h3>

        <div class="row">
            <label>Общее число элементов для пагинации</label>
            <input ng-model="pagination.total">
        </div>
        <div class="row">
            <label>
                Текущая страница
                <input ng-model="pagination.currentPage">
            </label>
        </div>
        <div class="row">
            <label>
                Записей на страницу в родительской области видимости
            </label>
            {{pagination.itemsPerPage}}
        </div>
        pagination={{pagination}}
        <div class="row">
            <ef-kmn-form
                    total="pagination.total"
                    items-per-page="pagination.itemsPerPage"
                    modal="pagination.isModal"
                    current-page="pagination.currentPage"
                    changed="pageChanged"
                    >
            </ef-kmn-form>
        </div>
        <div class="row">
            Пример без выбора размера страницы
            <ef-kmn-form
                    total="pagination.total"
                    items-per-page="pagination.itemsPerPage"
                    fixed-items-per-page="true"
                    modal="pagination.isModal"
                    current-page="pagination.currentPage"
                    changed="pageChanged"
                    >
            </ef-kmn-form>
        </div>
    </div>
    <div ng-controller="hcsPaginationDemoController">
        <h3>Новая версия компонента</h3>

        <div class="row">
            <label>Общее число элементов для пагинации</label>
            <input ng-model="pagination.total">
        </div>
        <div class="row">
            <label>
                Текущая страница
                <input ng-model="pagination.currentPage">
            </label>
        </div>
        <div class="row">
            <label>
                Записей на страницу в родительской области видимости
            </label>
            {{pagination.itemsPerPage}}
        </div>
        pagination={{pagination}}
        <div class="row">
            <hcs-pagination
                    last="pagination.isLast"
                    items-per-page="pagination.itemsPerPage"
                    modal="pagination.isModal"
                    current-page="pagination.currentPage"
                    changed="pageChanged"
                    >
            </hcs-pagination>
        </div>
        <div class="row">
            Пример без выбора размера страницы
            <hcs-pagination
                    last="pagination.isLast"
                    items-per-page="pagination.itemsPerPage"
                    fixed-items-per-page="true"
                    modal="pagination.isModal"
                    current-page="pagination.currentPage"
                    changed="pageChanged"
                    >
            </hcs-pagination>
        </div>
    </div>
</div>