<div class="ctr-panel ctr-panel_pad_dark ctr-panel_dim_inner b-adj_mg-t_xxs collapse-toggle">
    <div class="ctr-panel__body">

        <div class="row" collapse="expanded">
            <div class="col-xs-10">

                <div class="form-group form-search__form-group">
                    <input type="text" class="form-control  form-base__form-control" ui-select2="select2Options" ng-model="ngModel"  select2-close="onclose()"/>
                </div>


            </div>
            <div class="col-xs-2">
                <button type="button" ng-click="search()" ng-disabled="(tooShort)" class="btn btn-action-lg btn-md btn_fn_lg btn-block" >Найти</button>
            </div>
            </div>

        <div class="row" collapse="!expanded">
            <div class="col-xs-12">
                <ef-bp-form search-parameters="searchParameters" default-search-parameters="defaultSearchParameters" not-expandable="true" search-service="searchService">
                    <ef-poktmo-rp-form search-parameters="searchParameters" default-search-parameters="defaultSearchParameters" region-guid="regionGuid" excluded-guids="excludedGuids" use-codes="useCodes" excluded-codes="excludedCodes" oktmo-search-service="oktmoSearchService"></ef-poktmo-rp-form>

                </ef-bp-form>
            </div>
        </div>

        <div class="row poktmo-pad">
            <a href
               class="collapse-toggle__ctr collapse-toggle__ctr_utility b-adj_mg-t_xs"
               ng-class="{'_collapsed' : !expanded}"
               ng-click="expanded = !expanded">

                <!-- Collapsed state -->
            <span class="collapse-toggle__state _collapsed">
                <span class="collapse-toggle__state-icon hif icon-circledown"></span>
                <span class="collapse-toggle__state-title collapse-toggle__state-title_utility">Развернуть поиск</span>
            </span>

                <!-- Active (open) state -->
            <span class="collapse-toggle__state _active">
                <span class="collapse-toggle__state-icon hif icon-circleup"></span>
                <span class="collapse-toggle__state-title collapse-toggle__state-title_utility">Свернуть поиск</span>
            </span>
            </a>
        </div>
    </div>
</div>
