<yohtml yo-block="multiselect">
    <items>
        <li>
            <input class="input-block-level form-control" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Поиск" />
        </li>
        <li ng-repeat="i in items | filter:searchText" ng-click="select(i); focus()">
            <input type="checkbox" ng-checked="i.checked"/>
            {{i.label}}
        </li>
        <li ng-show="multiple" class="pull-right">
            <!--<button class="btn-link btn-small" ng-click="checkAll()"><i class="icon-ok"></i> Check all</button>-->
            <button type="button" class="btn-link btn-small" ng-click="uncheckAll()"><i class="icon-remove"></i>Очистить</button>
            <button type="button" class="btn-link btn-small" ng-click="toggleSelect()"><i class="icon-ok"></i>Выбрать</button>
        </li>
    </items>
</yohtml>