<yohtml yo-block="app-form" yo-block-match="app-form_size-sm_bg-dark">
    <header>
        <div>Foo Bar!</div>
    </header>
    <content>
        Content of form!
    </content>
    <footer>
        Content of footer
    </footer>
</yohtml>