<div class="modal-base">
  <div class="modal-header modal-base__header">
    <ng-close-button ng-click="modalOptions.close()"></ng-close-button>
    <h4 class="modal-base__header-title">Выбор адреса</h4>
  </div>
  <div class="modal-body modal-base__body form-base_fully-padded">

    <div class="form-base form-base_dim">
      <div class="form-base__body form-base_pad_light">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="zip-code" class="col-md-4 control-label">Индекс</label>

            <div class="col-md-8">
              <input type="text" class="form-control" id='zip-code' name='zip-code' ng-model='searchParameters.zipCode'
                     placeholder="Заполняется автоматически на основании указанного адреса" readonly/>
            </div>
          </div>
        </form>


        <ef-pa-form filter="searchParameters" meta="meta"></ef-pa-form>

      </div>
    </div>
  </div>

  <div class="modal-footer  modal-base__footer">
    <button class="btn btn-cancel" ng-click="modalOptions.close()">Отменить</button>
    <button class="btn btn-action" ng-click="modalOptions.ok()" ng-disabled="!addressValid()">Выбрать</button>
  </div>
</div>