<!--Директива AngularJS для jqGrid-->
<div class="container-fluid" ng-controller="ExJqGridCtrl">
    <div>
        <button ng-click="reset()">Восстановить</button>
        <button ng-click="clear()">Очистить</button>
        <ng-jq-grid gridid="test-ng-jq-grid" config="config" data="data" api="gridapi"></ng-jq-grid>
        <div>
            {{data | json}}
        </div>
    </div>

    <div class="panel-body" ng-controller="MainController">
        <div class="panel-heading">
            <h3 class="panel-title">Имитация древовидной структуры</h3>
        </div>
        <table style="width: 100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in treeData">
                <td style="padding-left:{{calcIndent (node)}};">{{node.name}}</td>
                <td>{{node.time}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



