/* Глобальные модификаторы для регулировки отступов */

._margin-30 {
  .margin-adjustment-mixin(30px);
}
._margin-20 {
  .margin-adjustment-mixin(20px);
}
._margin-15 {
  .margin-adjustment-mixin(15px);
}
._margin-10 {
  .margin-adjustment-mixin(10px);
}
._margin-5 {
  .margin-adjustment-mixin(5px);
}
._margin-2 {
  .margin-adjustment-mixin(2px);
}
._margin-1 {
  .margin-adjustment-mixin(1px);
}
._margin-0 {
  .margin-adjustment-mixin(0px);
}

._padding-30 {
  .padding-adjustment-mixin(30px);
}
._padding-20 {
  .padding-adjustment-mixin(20px);
}
._padding-15 {
  .padding-adjustment-mixin(15px);
}
._padding-10 {
  .padding-adjustment-mixin(10px);
}
._padding-5 {
  .padding-adjustment-mixin(5px);
}
._padding-2 {
  .padding-adjustment-mixin(2px);
}
._padding-1 {
  .padding-adjustment-mixin(1px);
}
._padding-0 {
  .padding-adjustment-mixin(0px);
}

._vertical-align_top{
  vertical-align: top;
}

._vertical-align_bottom{
  vertical-align: bottom;
}
._vertical-align_middle{
  vertical-align: middle;
}