// App colors
// Core colors
@color-core-white: #ffffff;
@color-core-blue: #026bbc;
@color-core-light-grey: #8f8f8f;
@color-core-body: #333333;

@color-headers: #051c2f;

// Link
/* t => */@link-color: #224d72;

@color-link: #01649d;
@color-link-hover: #015d91;

@color-search-archived: #9c9c9c;
@color-register-card-gray: #9c9c9c;

// Header
@color-logo: #222222;
@color-logo-hover: #3b3b3b;
@color-logo-subtitle: #8e8e8e;

// Footer
@color-footer-line: #cedae4;
@color-footer-bg: #e3e9f0;

// Buttons
@color-btn-prime: #026bbc;
@color-btn-prime-hover: #0260a8;

@color-btn-warning: #e60e0e;
@color-btn-warning-hover: #d21313;

// App header nav
@color-header-nav: #224d72;
@color-header-nav-hover: #003b5d;

// Modules
@color-module-border: #cedae4;
@color-module-bg: #f1f3f6;

// Search block
@color-input-text: #8f8f8f;
@color-input-bg: #f1f3f6;

// Graph title
@color-graph-title: #525252;

// Graph colors
@color-graph-blue: #376d95;
@color-graph-yellow: #f3d301;
@color-graph-dark-orange: #e75319;
@color-graph-orange: #e87801;
@color-graph-red: #c01919;
@color-graph-light-green: #cfdc00;
@color-graph-purple: #b066da;


// Graph data
@color-graph-desc: #878f94;


// Messages colors

@warning-color: #a6494d;
@success-color: #4e9b30;
@error-color: #a6494d;
@neutral-color: #8e8e8e;

// For striping
@table-bg-accent:             #e5eaee;


