// LESS
.margin-adjustment-mixin(@value) {
  &._top {
    margin-top: @value;
  }
  &._right {
    margin-right: @value;
  }
  &._bottom {
    margin-bottom: @value;
  }
  &._left {
    margin-left: @value;
  }
  &._full {
    margin: @value;
  }
}

.padding-adjustment-mixin(@value) {
  &._top {
    padding-top: @value;
  }
  &._right {
    padding-right: @value;
  }
  &._bottom {
    padding-bottom: @value;
  }
  &._left {
    padding-left: @value;
  }
  &._full {
    padding: @value;
  }
}