._required {
  &:after {
    content: "*";
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 16px;
    color: #b90000;
  }
}

.table {
  th {
    &._required {
      &:after {
        position: relative;
        top: 0;
        right: auto;
        left: 2px;
      }
    }
  }
}