/*
Модификаторы для настройки бордеров таблицы
*/
@table-border-color-white:#fff;
.table-border-1_white{
  border-color:#fff;

  &._left{
    border-left:1px solid @table-border-color-white;
  }

  &._right{
      border-right:1px solid @table-border-color-white;
    }
  &._top{
    border-top:1px solid @table-border-color-white;
  }
  &._bottom{
    border-bottomt:1px solid @table-border-color-white;
  }
  ._full{
    border: 1px solid @table-ticket-border-white-color;
  }
}