@header-font-family: "Roboto Condensed", sans-serif;
@text-font-family: "Arial", sans-serif;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @header-font-family;
  color: @color-headers;
}

.app-text-green {
  color: @success-color;
}
.app-text-gray {
  color: @neutral-color;
}
.app-text-dark {
  color: @color-logo;
}

._light-label {
  color: #8e8e98;
}

.app-text-size {

}

.text-vertical {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

  -ms-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;

  display: block;
}


/*BOOTSTRAP OVERRIDES*/

.text-danger {
  color: @error-color;
  font-size: 12px;
}

/*BOOTSTRAP OVERRIDES END*/