// APP LESS VARIABLES

@baseUrl: "";
@imgPath: "img";
@fontPath: "fonts";

/* Bootstrap icons override */ @icon-font-path: "../assets/fonts/";

/* GRID */
@grid-gutter-width: 30px;

@horizontal-unit: 30px;
@horizontal-unit-half: (@horizontal-unit / 2);
@horizontal-unit-third: (@horizontal-unit / 3);

/* GRID END */

/* MODAL FIX */

@screen-md:                  992px;
@screen-md-min:              @screen-md;

@modal-lg:                    960px;
@modal-md:                    600px;
@modal-sm:                    600px;

@media (min-width: @screen-md-min) {
  .modal-lg {
    width: @modal-lg;
  }
}

/* MODAL FIX END */


@border-radius: 3px;


