<yohtml yo-block="button"
        yo-block-match="button_type-action">
    <icon></icon>
    <text>Демка кнопки action</text>
    <dropdown></dropdown>
</yohtml>

<yohtml yo-block="button"
        yo-block-match="button_type-cancel">
    <icon></icon>
    <text>Демка кнопки cacnel</text>
    <dropdown></dropdown>
</yohtml>

<yohtml yo-block="button"
        yo-block-match="button_type-prime">
    <icon></icon>
    <text>Демка кнопки prime</text>
    <dropdown></dropdown>
</yohtml>


<hr/>

<yohtml yo-block="button"
        yo-block-match="button_type-action">
    <icon>
        <span class="glyphicon glyphicon-ok"></span>
    </icon>
    <text>Демка кнопки c иконкой</text>
    <dropdown></dropdown>
</yohtml>

<yohtml yo-block="button"
        yo-block-match="button_type-prime">
    <icon>
        <span class="glyphicon glyphicon-arrow-left"></span>
    </icon>
    <text>Демка кнопки c дропдауном</text>
    <dropdown>
        <span class="caret caret_lg"></span>
    </dropdown>
</yohtml>