<div class="daterange-base">
    <div class="daterange-base__control">

        <div class="daterange-base__fake-input">
            <div class="daterange-base__placeholder">
                c
            </div>

            <input type="text"
                   placeholder="{{options.showPlaceholder ? options.placeholder : ''}}"
                   ng-model="sDateFrom"
                   ng-disabled="disabled"
                   ui-mask="{{options.mask}}"
                   ng-focus="focus()"
                   ng-blur="blur()"
                />
        </div>


    </div>
    <div class="daterange-base__sepor">
        <label class="control-label form-base__control-label">—</label>
    </div>
    <div class="daterange-base__control">
        <div class="daterange-base__fake-input">

            <div class="daterange-base__placeholder">
                по
            </div>

            <input type="text"
                   placeholder="{{options.showPlaceholder ? options.placeholder : ''}}"
                   ng-model="sDateTo"
                   ng-disabled="disabled"
                   ui-mask="{{options.mask}}"
                   ng-focus="focus()"
                   ng-blur="blur()"
                />
        </div>
    </div>
</div>

<div class="error-base text-center"
     ng-show="!isEmpty() && !isRangeValid()">
    Дата окончания не должна быть раньше даты начала
</div>

<div class="hcs-daterange daterange-base__container"
     ng-show="showPanel"
     ng-mousedown="click()">
    <div class="daterange-base__left">

        <input type="text"
               ng-show="false"
               class="form-control  form-base__form-control"
               datepicker-popup="{{options.format}}"
               datepicker-options="datepickerFromOptions"
               ng-model="oDateFrom"
               is-open="true"
               close-on-date-selection="false"
               id="datepicker-{{$id}}"
               min-date="datepickerFromOptions.minDate"
               max-date="datepickerFromOptions.maxDate"
               date-disabled="disabledSelection(date, mode)"
               datepicker-append-to-body="appendToBody()"
               show-button-bar="showButtonBar()"
               close-on-date-selection="closeOnDateSelection()"
               current-text="Сегодня"
               clear-text="Очистить"
               ng-disabled="disabled"
            />
    </div>

    <div class="daterange-base__right">
        <input type="text"
               ng-show="false"
               class="form-control  form-base__form-control"
               datepicker-popup="{{options.format}}"
               datepicker-options="datepickerToOptions"
               ng-model="oDateTo"
               is-open="true"
               id="datepicker-{{$id}}"
               min-date="datepickerToOptions.minDate"
               max-date="datepickerToOptions.maxDate"
               date-disabled="disabledSelection(date, mode)"
               close-on-date-selection="false"
               datepicker-append-to-body="appendToBody()"
               show-button-bar="showButtonBar()"
               close-on-date-selection="closeOnDateSelection()"
               current-text="Сегодня"
               clear-text="Очистить"
               ng-disabled="disabled"
            />
    </div>
    <div class="daterange-base__bar text-right">
        <a href
           class="btn btn-action"
           ng-click="close()">Выбрать
        </a>
    </div>
</div>

