<div class="modal-base">
<div class="modal-header modal-base__header">
    <ng-close-button ng-click="modalOptions.close('close')"></ng-close-button>
    <h4 class="modal-base__header-title">Выбор помещения</h4>
</div>
<div class="modal-body modal-base__body">
    <div class="section-base">

        <ef-bp-form search-service="searchService" search-parameters="searchParameters" default-search-parameters="defaultSearchParameters">

            <div class="row">
                <div class="col-md-12">
                    <ef-pa-form filter="searchParameters.addressFias" splitable="true" use-required="false">
                        <div name="after">
                            <div class="form-group form-base__form-group">
                                <label for="flatNumber" class="col-md-4 control-label form-base__control-label">Номер помещения</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control form-base__form-control" id="flatNumber" name="flatNumber"
                                           maxlength="20"
                                           placeholder="Введите номер помещения"
                                           ng-model="searchParameters.flatNumber"
                                           ng-disabled="!searchParameters.addressFias.houseNumber && !searchParameters.addressFias.buildingNumber && !searchParameters.addressFias.structNumber"
                                           typeahead="flat for flat in flatNumbers | filter:$viewValue"
                                           typeahead-wait-ms="300"
                                            />
                                </div>
                            </div>

                            <div class="form-group form-base__form-group">
                                <label for="apartmentCategoryGuid" class="col-md-4 control-label  form-base__control-label">Категория помещения</label>

                                <div class="col-md-8">
                                    <select class="form-control form-base__form-control" id="apartmentCategoryGuid" name="apartmentCategoryGuid"
                                            ng-model="searchParameters.apartmentCategoryGuid"
                                            ng-options="category.guid as category.apartmentCategoryName for category in categories"
                                            >
                                        <option value="">Выберите категорию</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-base__form-group">
                                <label for="apartmentPremiseGuid" class="col-md-4 control-label  form-base__control-label">Характеристика помещения</label>

                                <div class="col-md-8">
                                    <select class="form-control form-base__form-control" id="apartmentPremiseGuid" name="apartmentPremiseGuid"
                                            ng-model="searchParameters.residentPremiseType"
                                            ng-options="premiseType.guid as premiseType.premiseType for premiseType in premiseTypes"
                                            >
                                        <option value="">Выберите характеристику</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </ef-pa-form>
                </div>
            </div>

        </ef-bp-form>

    </div>
    <div class="section-base">
        <div class="row">
            <div class="col-lg-12"><b>Результаты поиска</b></div>
        </div>
        <ng-simple-grid ng-config="searchResultTable.config"
                        state="searchResultTable.state"
                        row-click="$parentScope.tryItem(rowData)"
                >
            <column title="Адрес помещения">
                <input type="radio"
                       id="address"
                       name="address"
                       ng-model="$parentScope.radioItem"
                       value="{{rowData.guid}}"
                       ng-if="$parentScope.hasRadio"
                       ng-disabled="$parentScope.itemDisabled(rowData)"
                        />
                <input type="checkbox"
                       name="address"
                       ng-checked="$parentScope.checkedItems[rowData.guid]"
                       ng-if="$parentScope.hasCheckbox"
                       ng-disabled="$parentScope.itemDisabled(rowData)"
                        />
                <span>
                    {{rowData.house.address.formattedAddress}},
                    <span ng-if="rowData.apartmentCategory.code === '1'">кв. </span>{{rowData.flatNumber}}
                </span>
            </column>
            <column title="Категория помещения" cell="apartmentCategory.apartmentCategoryName"></column>
        </ng-simple-grid>
    </div>
</div>

<div class="modal-footer modal-base__footer">
    <button class="btn btn-cancel" ng-click="modalOptions.close()">Отменить</button>
    <button class="btn btn-action" ng-click="modalOptions.ok()" ng-disabled="disabled()">Выбрать</button>
</div>
</div>