<div class="row">
    <div class="col-xs-7  col_indent-r_xxs">
        <select class="form-control"
                ng-model="month"
                id="reportMonth"
                ui-select2=""
                data-placeholder="Месяц"
                ng-required="monthRequired"
                required-field="monthRequired">
            <option></option>
            <option value="1" ng-if="isNotExcepted(1)">Январь</option>
            <option value="2" ng-if="isNotExcepted(2)">Февраль</option>
            <option value="3" ng-if="isNotExcepted(3)">Март</option>
            <option value="4" ng-if="isNotExcepted(4)">Апрель</option>
            <option value="5" ng-if="isNotExcepted(5)">Май</option>
            <option value="6" ng-if="isNotExcepted(6)">Июнь</option>
            <option value="7" ng-if="isNotExcepted(7)">Июль</option>
            <option value="8" ng-if="isNotExcepted(8)">Август</option>
            <option value="9" ng-if="isNotExcepted(9)">Сентябрь</option>
            <option value="10" ng-if="isNotExcepted(10)">Октябрь</option>
            <option value="11" ng-if="isNotExcepted(11)">Ноябрь</option>
            <option value="12" ng-if="isNotExcepted(12)">Декабрь</option>
        </select>
    </div>
    <div class="col-xs-5  col_indent-l_xxs">
        <select id="reportYear" class="form-control" ng-model="year" ui-select2="" data-placeholder="Год"
                ng-required="yearRequired" required-field="yearRequired" ng-change="checkExcepted()">
            <option></option>
            <option ng-repeat="year in years" value="{{year.val}}">{{year.val}}</option>
        </select>
    </div>
</div>
