<!--Экранная форма выбора значения из справочника (ЭФ_СПР)-->
<div class="container-fluid" ng-controller="EfSprCtrl">
    <button type="button" class="btn btn-default" ng-click="showHierarchyDialog()">Иерархический</button>
    <button type="button" class="btn btn-default" ng-click="showPlaneDialog()">Плоский</button>
    <button type="button" class="btn btn-default" ng-click="showArgDialog()">Для договоров</button>

    <button type="button" class="btn btn-default" ng-click="showAvailableReferences = !showAvailableReferences">Доступные справочники</button>

    <div ng-show="showAvailableReferences">
        <table>
            <tbody>
            <tr><td>AdditionalService </td><td> Вид дополнительной услуги </td></tr>
            <tr><td>MunicipalResource </td><td> Вид коммунального ресурса</td></tr>
            <tr><td>MunicipalService </td><td> Вид коммунальной услуги</td></tr>
            <tr><td>MunicipalServiceTariffType </td><td> Вид коммунальной услуги по тарифам</td></tr>
            <tr><td>DeviceTariffType </td><td> Вид прибора учета по количеству тарифов</td></tr>
            <tr><td>OperationPrincipleType </td><td> Вид прибора учета по принципу действия</td></tr>
            <tr><td>DeviceConnectionType </td><td> Вид прибора учета по типу интерфейса связи</td></tr>
            <tr><td>DeviceMountType </td><td> Вид прибора учета по типу подключения</td></tr>
            <tr><td>PropertyType </td><td> Вид собственности</td></tr>
            <tr><td>LivingPersonType </td><td> Виды лиц</td></tr>
            <tr><td>ApartmentCategory </td><td> Категория помещения</td></tr>
            <tr><td>CooperativeSupportService </td><td> Классификатор видов работ (услуг)</td></tr>
            <tr><td>HouseEnergyEfficiency </td><td> Класс энергетической эффективности зданий</td></tr>
            <tr><td>ApartmentNumberOfRooms </td><td> Количество комнат в помещении</td></tr>
            <tr><td>ConstructionElement </td><td> Конструктивный элемент</td></tr>
            <tr><td>DeviceCalibrationInterval </td><td> Межповерочный интервал</td></tr>
            <tr><td>CooperativePremisePurpose </td><td> Назначение помещения, относящегося к общему долевому имуществу собственников помещений</td></tr>
            <tr><td>InspectionObject </td><td> Объект осмотра</td></tr>
            <tr><td>EmployeeRole </td><td> Полномочие должностного лица организации</td></tr>
            <tr><td>OrganizationRole </td><td> Полномочие организации</td></tr>
            <tr><td>DeviceArchiveReason </td><td> Причина архивации прибора учета</td></tr>
            <tr><td>AccountCloseReason </td><td> Причина закрытия лицевого счета</td></tr>
            <tr><td>FiasTimeZoneRelationShip </td><td> Соответствие часовых зон и субъектов</td></tr>
            <tr><td>HouseCondition </td><td> Состояние дома</td></tr>
            <tr><td>HouseManagementType </td><td> Способ управления</td></tr>
            <tr><td>HouseTypes </td><td> Тип дома</td></tr>
            <tr><td>DeviceType </td><td> Тип прибора учета</td></tr>
            <tr><td>HousePlanType </td><td> Тип проекта здания</td></tr>
            <tr><td>EnergyMeteringType </td><td> Тип учета электроэнергии</td></tr>
            <tr><td>ResidentPremiseType </td><td> Характеристика помещения</td></tr>
            <tr><td>TimeZone </td><td> Часовые зоны</td></tr>
            </tbody>
        </table>
    </div>
</div>