<div class="modal-header">
    <ng-close-button ng-click="cancel()"></ng-close-button>
    <h3 class="modal-title">Сведения об организации</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="efIzmorg">
        <div class="container-fluid">
            <div class="row contentRow">
                <ef-svul-form ng-if="isLegalEntity(organization.registryOrganizationType)"
                              organization="organization"
                              edit-mode="true"
                              show-errors="showErrors"></ef-svul-form>
                <ef-svip-form ng-if="isSoleTrader(organization.registryOrganizationType)"
                              sole-trader="organization"
                              edit-mode="true"
                              show-errors="showErrors"></ef-svip-form>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-cancel" ng-click="cancel()">Отменить</button>
    <button class="btn btn-action" ng-click="save(efIzmorg.$valid)">Сохранить</button>
</div>