<yohtml yo-block="app-form"
        yo-block-match="app-form_size-sm_bg-dark">
    <header>sdfdsfdsfdsdsdsf</header>
    <content>
        <div ng-class="{'row' : flMode || orgMode}">
            <div ng-class="{'col-xs-6' : flMode || orgMode}">

                <yohtml yo-block="app-form__group"
                        yo-block-match="app-form__group_grid-4-8"
                        ng-hide="flMode">
                    <form-label for="personType">
                        Тип лица
                    </form-label>
                    <form-control>
                        <select class="form-control  form-base__form-control"
                                id='personType'
                                name='personType'
                                ng-model='searchParameters.personType'
                                ng-options="personType as personType.personsTypeName for personType in personTypes | filter:personTypesByMode track by personType.guid">
                            <option value
                                    ng-hide="orgMode">Выберите тип лица
                            </option>
                        </select>
                    </form-control>
                </yohtml>


                <div class="form-group  form-base__form-group"
                     ng-if='!isLegalEntity(searchParameters.personType)'>
                    <label for="lastName"
                           class="col-xs-4 control-label  form-base__control-label">Фамилия</label>

                    <div class="col-xs-8">
                        <input id='lastName'
                               name='lastName'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.lastName'
                               placeholder='Введите фамилию'>
                    </div>
                </div>
                <div class="form-group  form-base__form-group"
                     ng-if='!isLegalEntity(searchParameters.personType)'>
                    <label for="firstName"
                           class="col-xs-4 control-label  form-base__control-label">Имя</label>

                    <div class="col-xs-8">
                        <input id='firstName'
                               name='firstName'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.firstName'
                               placeholder='Введите имя'>
                    </div>
                </div>
                <div class="form-group  form-base__form-group"
                     ng-if='!isLegalEntity(searchParameters.personType)'>
                    <label for="middleName"
                           class="col-xs-4 control-label  form-base__control-label">Отчество</label>

                    <div class="col-xs-8">
                        <input id='middleName'
                               name='middleName'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.middleName'
                               placeholder='Введите отчество'>
                    </div>
                </div>
                <div class="form-group  form-base__form-group"
                     ng-if='isLegalEntity(searchParameters.personType)'>
                    <label for="organizationName"
                           class="col-xs-4 control-label  form-base__control-label">Наименование</label>

                    <div class="col-xs-8">
                        <input id='organizationName'
                               name='organizationName'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.organizationName'
                               placeholder='Введите наименование'>
                    </div>
                </div>
                <div class="form-group  form-base__form-group"
                     ng-if='isLegalEntity(searchParameters.personType)'>
                    <label for="ogrn"
                           class="col-xs-4 control-label  form-base__control-label">ОГРН</label>

                    <div class="col-xs-8">
                        <input id='ogrn'
                               name='ogrn'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.ogrn'
                               integer
                               placeholder='Введите ОГРН'>
                    </div>
                </div>
            </div>
            <div ng-class="{'col-xs-6' : flMode || orgMode}">
                <div class="form-group  form-base__form-group"
                     ng-if='isNaturalPerson(searchParameters.personType)'>
                    <label class="col-xs-4 control-label  form-base__control-label">Дата рождения</label>

                    <div class="col-xs-4">
                        <hcs-datepicker ng-model="searchParameters.birthDateFrom"
                                        options="birthDateStartOptions"></hcs-datepicker>
                    </div>
                    <div class="col-md-1 period-hyphen">-</div>
                    <div class="col-xs-4">
                        <hcs-datepicker ng-model="searchParameters.birthDateTill"
                                        options="birthDateEndOptions"></hcs-datepicker>
                    </div>
                </div>
                <div class="form-group  form-base__form-group"
                     ng-if='isNaturalPerson(searchParameters.personType)'>
                    <label for="snils"
                           class="col-xs-4 control-label  form-base__control-label">СНИЛС</label>

                    <div class="col-xs-8">
                        <input id='snils'
                               name='snils'
                               placeholder="Введите СНИЛС"
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.snils'
                               ng-trim="false"
                               snils>
                    </div>
                </div>
                <div class="form-group  form-base__form-group"
                     ng-if='isSoleTrader(searchParameters.personType)'>
                    <label for="ogrnip"
                           class="col-xs-4 control-label  form-base__control-label">ОГРНИП</label>

                    <div class="col-xs-8">
                        <input id='ogrnip'
                               name='ogrnip'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.ogrn'
                               integer
                               placeholder='Введите ОГРНИП'>
                    </div>
                </div>
                <div class="form-group  form-base__form-group"
                     ng-if='!isNaturalPerson(searchParameters.personType)'>
                    <label for="inn"
                           class="col-xs-4 control-label  form-base__control-label">ИНН</label>

                    <div class="col-xs-8">
                        <input id='inn'
                               name='inn'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.inn'
                               integer
                               placeholder='Введите ИНН'>
                    </div>
                </div>
                <div class="form-group  form-base__form-group"
                     ng-if='isLegalEntity(searchParameters.personType)'>
                    <label for="kpp"
                           class="col-xs-4 control-label  form-base__control-label">КПП</label>

                    <div class="col-xs-8">
                        <input id='kpp'
                               name='kpp'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.kpp'
                               integer
                               placeholder='Введите КПП'>
                    </div>
                </div>

                <yohtml yo-block="app-form__group"
                        yo-block-match="app-form__group_grid-4-8">

                    <form-label for="control">
                        Label text
                    </form-label>

                    <form-control>
                        <input type="text" id="control"/>
                    </form-control>

                </yohtml>

                <div class="form-group  form-base__form-group"
                     ng-if='isLegalEntity(searchParameters.personType)'>
                    <label for="okopf"
                           class="col-xs-4 control-label  form-base__control-label">Код по ОКОПФ</label>

                    <div class="col-xs-5 _padding-0 _right">
                        <input id='okopf'
                               name='okopf'
                               class='form-control  form-base__form-control'
                               ng-model='searchParameters.okopf'
                               placeholder='Выберите код по ОКОПФ'
                               readonly
                               okopf-code>
                    </div>
                    <div class="col-xs-3">
                        <button type="button"
                                class="btn btn-prime pull-right"
                                ng-click="selectOkopfCode()">Выбрать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer></footer>
</yohtml>