<nav class="app-nav-main">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Пользователь</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href ui-sref="user-information-decision-state">Сведения о пользователе</a>
                        </li>
                        <li>
                            <a href ui-sref="notification-list">Оповещения <span class="badge pull-right"
                                                                                 ng-if="notificationAmount">
                {{notificationAmount}}
            </span></a>
                        </li>
                        <li>
                            <a href ui-sref="common-user-settings">Настройки</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" permit="[{globalRole: 'E', role: 'ADMIN'}]">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Администрирование</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href ui-sref="organization-information">Данные об организации</a>
                        </li>
                        <li permit="[
                        {globalRole: 'E', organizationRole: 'MANAGEMENT_ORGANIZATION'},
                        {globalRole: 'E', organizationRole: 'SERVICE_PROVIDER_ORGANIZATION'}
                        ]">
                            <a href ui-sref="billing-information-list">Платёжные реквизиты</a>
                        </li>
                        <li>
                            <a href ui-sref="organization-employees">Сотрудники</a>
                        </li>
                        <li>
                            <a href ui-sref="organization-ls-list">Подключенные лицевые счета</a>
                        </li>
                        <li>
                            <a href ui-sref="organization-roles">Полномочия</a>
                        </li>
                        <li permit="[
                            {globalRole: 'E', organizationRole: 'SERVICE_PROVIDER_ORGANIZATION'},
                            {globalRole: 'E', organizationRole: 'MANAGEMENT_ORGANIZATION'},
                            {globalRole: 'E', organizationRole: 'REGIONAL_GOV_AUTHORITY'}
                            ]">
                            <a href ui-sref="organization-setting">Настройки</a>
                        </li>
                        <li>
                            <a href ui-sref="organization-event-journal">Журнал событий</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" permit="[
                    {privilege: 'P_PPA_1'},
                    {privilege: 'P_PPA_2'},
                    {privilege: 'P_PPA_3'},
                    {privilege: 'P_PPA_4'},
                    {privilege: 'P_PPA_5'},
                    {privilege: 'P_PUBLIC_1'},
                    {privilege: 'P_PUBLIC_6'},
                    {privilege: 'P_PUBLIC_7'},
                    {privilege: 'P_NSI_1'},
                    {privilege: 'P_NSI_2'}
                    ]">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Администрирование ГИС ЖКХ</a>
                    <ul class="dropdown-menu" role="menu">
                        <li permit="[{privilege: 'P_PUBLIC_1'}]">
                            <a href ui-sref="managerNewsSearch">Новости</a>
                        </li>
                        <li permit="[{privilege: 'P_PUBLIC_6'}]">
                            <a href ui-sref="content-manager-useful-links">Полезные ссылки</a>
                        </li>
                        <li permit="[{privilege: 'P_PUBLIC_8'}]">
                            <a href ui-sref="content-manager-faqs">Часто задаваемые вопросы</a>
                        </li>
                        <li permit="[{privilege: 'P_PPA_3'}]">
                            <a href ui-sref="acquiring-information">Сведения о договоре эквайринга</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_NSI_1'},
                            {privilege: 'P_NSI_2'}
                            ]">
                            <a href ui-sref="nsi-main" permit="[{privilege: 'P_NSI_1'}]">Справочники</a>
                            <a href ui-sref="org-nsi-main" permit="[{privilege: 'P_NSI_2'}]">Справочники</a>
                        </li>
                        <li permit="[{privilege: 'P_NSI_1'}]">
                            <a href ui-sref="nsi-classifier-main">Общероссийские классификаторы</a>
                        </li>
                        <li permit="[{privilege: 'P_NSI_1'}]">
                            <a href ui-sref="nsi-reference-import-managment">Импорт общероссийских классификаторов</a>
                        </li>
                        <li permit="[{privilege: 'P_PPA_3'}]">
                            <a href ui-sref="organization-functioning-parameters">Настройки ГИС ЖКХ</a>
                        </li>
                        <li permit="[{privilege: 'P_PPA_5'}]">
                            <a href ui-sref="notification-settings">Настройки оповещений</a>
                        </li>
                        <li permit="[{privilege: 'P_PPA_4'}]">
                            <a href ui-sref="event-journal">Журнал событий ГИС ЖКХ</a>
                        </li>
                        <li permit="[{privilege: 'P_PPA_4'}]">
                            <a href ui-sref="monitoring-list">Интеграционный журнал</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_PPA_1'},
                            {privilege: 'P_PPA_2'}
                            ]">
                            <a href ui-sref="organization-users">Зарегистрированные пользователи</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_PPA_1'},
                            {privilege: 'P_PPA_2'}
                            ]">
                            <a href ui-sref="registered-organizations">Зарегистрированные организации</a>
                        </li>
                        <li permit="[{privilege: 'P_PPA_4'}]">
                            <a href ui-sref="eis-list">Реестр ИС</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" permit="[
                    {privilege: 'P_AGREEMENT_1'},
                    {privilege: 'P_AGREEMENT_2'},
                    {privilege: 'P_HOUSE_1'},
                    {privilege: 'P_HOUSE_2'},
                    {privilege: 'P_HOUSE_3'},
                    {privilege: 'P_HOUSE_4'},
                    {privilege: 'P_HOUSE_5'},
                    {privilege: 'P_ACCOUNT_1'},
                    {privilege: 'P_ACCOUNT_2'},
                    {privilege: 'P_ACCOUNT_3'},
                    {privilege: 'P_DEVICE_1'},
                    {privilege: 'P_DEVICE_2'},
                    {privilege: 'P_VOTING_1'},
                    {privilege: 'P_INFORM_1'},
                    {privilege: 'P_INFRASTRUCTURE_1'},
                    {privilege: 'P_INFRASTRUCTURE_2'},
                    {privilege: 'P_INFRASTRUCTURE_4'},
                    {privilege: 'P_INFRASTRUCTURE_7'},
                    {privilege: 'P_WORK_4'},
                    {privilege: 'P_WORK_5'},
                    {privilege: 'P_WORK_6'},
                    {privilege: 'P_WORK_3'},
                    {privilege: 'P_WORK_8'},
                    {privilege: 'P_WORK_9'},
                    {privilege: 'P_RENT_AGREEMENT_1'},
                    {privilege: 'P_MSCI_1'},
                    {privilege: 'P_MSCI_2'},
                    ]">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Объекты управления</a>
                    <ul class="dropdown-menu" role="menu">
                        <li permit="[
                            {privilege: 'P_HOUSE_1'},
                            {privilege: 'P_HOUSE_2'},
                            {privilege: 'P_HOUSE_3'},
                            {privilege: 'P_HOUSE_4'},
                            {privilege: 'P_HOUSE_5'},
                            ]">
                            <a href ui-sref="house-list">Объекты жилищного фонда</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_INFRASTRUCTURE_1'},
                            {privilege: 'P_INFRASTRUCTURE_2'},
                            {privilege: 'P_INFRASTRUCTURE_5'},
                            ]">
                            <a href ui-sref="rki-register({type: 'oki'})">Объекты коммунальной инфраструктуры</a>
                        </li>
                        <li permit="[{privilege: 'P_INFRASTRUCTURE_7'}]">
                            <a href ui-sref="rki-object-config">Настройка структуры сведений об объектах коммунальной
                                инфраструктуры</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_AGREEMENT_1'},
                            {privilege: 'P_AGREEMENT_2'},
                            ]">
                            <a href ui-sref="agreements-main">Договоры управления</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_RENT_AGREEMENT_1'},
                            ]">
                            <a href ui-sref="ef-dogpoi-rd">Договоры на пользование общим имуществом</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_ACCOUNT_1'},
                            {privilege: 'P_ACCOUNT_2'}
                            ]">
                            <a href ui-sref="account-list" permit="[{privilege: 'P_ACCOUNT_1'}]">Лицевые счета</a>
                            <a href ui-sref="account-municipality-list" permit="[{privilege: 'P_ACCOUNT_2'}]">Лицевые
                                счета</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_DEVICE_1'},
                            {privilege: 'P_DEVICE_2'},
                            ]">
                            <a permit="[{privilege: 'P_DEVICE_1'}]" href ui-sref="device-list">Приборы учета</a>
                            <a permit="[{privilege: 'P_DEVICE_2'}]" href ui-sref="device-municipality">Приборы учета</a>
                        </li>
                        <li permit="[{privilege: 'P_ACCOUNT_3'}]">
                            <a href ui-sref="bills">Начисления, платежи, задолженности</a>
                        </li>
                        <li permit="[{privilege: 'P_VOTING_1'}]">
                            <a href ui-sref="voting-search">Голосования</a>
                        </li>
                        <li permit="[{privilege: 'P_INFORM_1'}]">
                            <a href ui-sref="informing-settings">Настройка новостной ленты</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_MSCI_1'},
                            {privilege: 'P_MSCI_2'},
                            ]">
                            <a href>Реестр программ</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" permit="[
                    {privilege: 'P_ACCOUNT_PD'},
                    {privilege: 'P_ACCOUNT_A'},
                    {privilege: 'P_ACCOUNT_4'}
                    ]">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Оплата ЖКУ</a>
                    <ul class="dropdown-menu" role="menu">
                        <li permit="[{privilege: 'P_ACCOUNT_4'}]">
                            <a href ui-sref="payment-documents">Платёжные документы</a>
                        </li>
                        <li permit="[{privilege: 'P_ACCOUNT_A'}]">
                            <a href ui-sref="receipt">Квитирование</a>
                        </li>
                        <li permit="[{privilege: 'P_ACCOUNT_PD'}]">
                            <a href ui-sref="notification-information">Реестр извещений о принятии к исполнению
                                распоряжения</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" permit="[
                        {privilege: 'P_EP_1'},
                        {privilege: 'P_EP_2'},
                        {privilege: 'P_INDEX_1'},
                        {privilege: 'P_INDEX_2'},
                        {privilege: 'P_INDEX_3'},
                        {privilege: 'P_EP_3'},
                        {privilege: 'P_EP_4'},
                        {privilege: 'P_EP_5'},
                        {privilege: 'P_EP_6'},
                        {privilege: 'P_EP_7'},
                        {privilege: 'P_EP_8'},
                        {privilege: 'P_EP_9'},
                        {privilege: 'P_INSPECTION_1'},
                        {privilege: 'P_INSPECTION_2'},
                        {privilege: 'P_INSPECTION_3'},
                        {privilege: 'P_INSPECTION_PLAN_1'},
                        {privilege: 'P_INSPECTION_PLAN_2'},
                        {privilege: 'P_INSPECTION_PLAN_3'},
                        {privilege: 'P_RZ_1'},
                        {privilege: 'P_DISQUALIFIED_REGISTRY_1'},
                        {privilege: 'P_DISQUALIFIED_REGISTRY_2'},
                        {privilege: 'P_DISQUALIFIED_REGISTRY_3'},
                        {privilege: 'P_LICENSE_1'},
                        {privilege: 'P_LICENSE_2'}
                        ]">
                    <a href class="dropdown-toggle" data-toggle="dropdown">О деятельности</a>
                    <ul class="dropdown-menu" role="menu">
                        <li permit="[
                            {privilege: 'P_INDEX_1'},
                            {privilege: 'P_INDEX_2'},
                            {privilege: 'P_INDEX_3'}
                            ]">
                            <a href ui-sref="indices-main">Индексы</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_EP_4'},
                            {privilege: 'P_EP_6'},
                            {privilege: 'P_EP_7'},
                            {privilege: 'P_EP_8'},
                            {privilege: 'P_EP_9'}
                            ]">
                            <a href ui-sref="rki-docs-red">Электронные документы</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_EP_1'},
                            {privilege: 'P_EP_2'}
                            ]">
                            <a href ui-sref="e-passport-register">Электронные паспорта</a>
                        </li>
                        <li permit="[{privilege: 'P_EP_1'}]">
                            <a href ui-sref="e-passport-config-main">Настройка структуры электронных паспортов</a>
                        </li>
                        <li permit="[
                             {privilege: 'P_INSPECTION_1'},
                             {privilege: 'P_INSPECTION_2'},
                             {privilege: 'P_INSPECTION_3'},
                             {privilege: 'P_INSPECTION_PLAN_1'}
                             ]">
                            <a href ui-sref="rp-main">Реестр проверок</a>
                        </li>
                        <li permit="[
                             {privilege: 'P_INSPECTION_PLAN_1'},
                             {privilege: 'P_INSPECTION_PLAN_2'},
                             {privilege: 'P_INSPECTION_PLAN_3'}
                             ]">
                            <a href ui-sref="rpp-main">Реестр планов проверок</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_LICENSE_1'},
                            {privilege: 'P_LICENSE_2'}
                            ]">
                            <a href ui-sref="licenses-ef-rls">Реестр лицензий субъекта РФ</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_RZ_1'}
                            ]">
                            <a href ui-sref="licenses-ef-rz">Реестр заявок по лицензированию</a>
                        </li>
                        <li permit="[
                            {privilege: 'P_DISQUALIFIED_REGISTRY_1'},
                            {privilege: 'P_DISQUALIFIED_REGISTRY_2'},
                            {privilege: 'P_DISQUALIFIED_REGISTRY_3'}
                            ]">
                            <a href ui-sref="licenses-ef-rdl">Реестр дисквалифицированных лиц</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" permit="[
                    {privilege: 'P_PUBLIC_2'},
                    {privilege: 'P_PUBLIC_3'},
                    {privilege: 'P_PUBLIC_4'},
                    {privilege: 'P_PUBLIC_5'},
                    {organizationRole: 'REGIONAL_GOV_AUTHORITY', role: 'AUTHORIZED_SPECIALIST'}
                    ]">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Граждане</a>
                    <ul class="dropdown-menu" role="menu">
                        <li permit="[
                                {privilege: 'P_PUBLIC_2'},
                                {organizationRole: 'REGIONAL_GOV_AUTHORITY', role: 'AUTHORIZED_SPECIALIST'}
                            ]">
                            <a href ui-sref="manager-documents({tab: 'subsidy'})">Субсидии и льготы</a>
                        </li>
                        <li permit="[
                                {privilege: 'P_PUBLIC_3'},
                                {organizationRole: 'REGIONAL_GOV_AUTHORITY', role: 'AUTHORIZED_SPECIALIST'}
                            ]">
                            <a href ui-sref="manager-documents({tab: 'legislation'})">Законы и нормативные акты</a>
                        </li>
                        <li permit="[{privilege: 'P_PUBLIC_4'}]">
                            <a href ui-sref="manager-documents({tab: 'rate'})">Тарифы ЖКУ</a>
                        </li>
                        <li permit="[{privilege: 'P_PUBLIC_5'}]">
                            <a href ui-sref="managerMeetings">Встречи органа власти с гражданами</a>
                        </li>
                    </ul>
                </li>

                <li ng-if="isShowOrganizationAccounts">
                    <a href ui-sref="organization-accounts">Собственные лицевые счета</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
