<nav class="app-nav-main">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li permit="[{globalRole: 'P'}]">
                    <a href ui-sref="index" class="dropdown-toggle" data-toggle="dropdown">Главная</a>
                </li>
                <li permit="[{globalRole: 'P'}]">
                    <a href ui-sref="citizen-apartments" class="dropdown-toggle" data-toggle="dropdown">Оплачиваемые
                        мной квартиры (помещения)</a>
                </li>
                <li permit="[{globalRole: 'P'}]" ng-if="isShowDevice" ng-class="{'dropdown':apartmentsAccounts.length>1}">
                    <a href
                       ng-if="apartmentsAccounts.length==1"
                       ui-sref="device-ipu({houseGuid:apartmentsAccounts[0].houseGuid, apartmentGuid:apartmentsAccounts[0].apartmentGuid, roomGuid:apartmentsAccounts[0].roomGuid})">Приборы
                        учета</a>
                    <a href
                       ng-if="apartmentsAccounts.length>1"
                       class="dropdown-toggle" data-toggle="dropdown">Приборы учета</a>
                    <ul class="dropdown-menu" role="menu" ng-if="apartmentsAccounts.length>1">
                        <li ng-repeat="apartment in apartmentsAccounts">
                            <a href
                               ui-sref="device-ipu({houseGuid:apartment.houseGuid, apartmentGuid:apartment.apartmentGuid, roomGuid:apartment.roomGuid})">{{apartment.formattedAddress}}</a>
                        </li>
                    </ul>
                </li>
                <li permit="[{globalRole: 'P'}]">
                    <a href ui-sref="informing-list" class="dropdown-toggle" data-toggle="dropdown">Информирование
                        <span class="badge _margin-10 _left" ng-if="newsAmount">{{newsAmount}}</span></a>
                </li>
                <li permit="[{globalRole: 'P'}]" ng-if="isShowVoting">
                    <a href ui-sref="voting-search({activeTab : 0})" class="dropdown-toggle" data-toggle="dropdown">Голосование</a>
                </li>
                <li permit="[{globalRole: 'P'}]">
                    <a href ui-sref="citizen-list-lk" class="dropdown-toggle" data-toggle="dropdown">Подключенные ЛС к
                        Личному кабинету</a>
                </li>
                <li permit="[{globalRole: 'P'}]">
                    <a href ui-sref="citizen-roles({ownRoles:true})" class="dropdown-toggle" data-toggle="dropdown">Полномочия
                        администратора общего собрания</a>
                </li>
                <li permit="[{globalRole: 'P'}]">
                    <a href ui-sref="notification-list" class="dropdown-toggle" data-toggle="dropdown">Оповещения <span
                            class="badge _margin-10 _left" ng-if="notificationAmount">{{notificationAmount}}</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>