<div class="modal-header">
    <ng-close-button ng-click="cancel()"></ng-close-button>
    <h3 class="modal-title">Добавление сведений об организации</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="efDoborg">
        <div class="container-fluid">
            <div class="row headRow">
                <div class="col-md-6 form-inline">

                    <yohtml yo-block="radio">
                        <content class="control-label">
                            <input type="radio" name="organizationType" ng-model="registryOrganizationType" value="L"/>
                            <b><label class="control-label form-base__control-label">Юридическое лицо</label></b>
                        </content>
                    </yohtml>
                    <yohtml yo-block="radio">
                        <content class="control-label">
                            <input type="radio" name="organizationType" ng-model="registryOrganizationType" value="B"/>
                            <b><label class="control-label form-base__control-label">Индивидуальный предприниматель</label></b>
                        </content>
                    </yohtml>
                </div>
            </div>
            <div class="row contentRow">
                <ef-svul-form ng-if="isLegalEntity(registryOrganizationType)"
                              organization="organization"
                              show-errors="showErrors"></ef-svul-form>
                <ef-svip-form ng-if="isSoleTrader(registryOrganizationType)"
                              sole-trader="soleTrader"
                              show-errors="showErrors"></ef-svip-form>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-cancel" ng-click="cancel()">Отменить</button>
    <button class="btn btn-action" ng-click="save(efDoborg.$valid)">Сохранить</button>
</div>