<!--Модальное окно для выбора помещения (ЭФ_ВПОМ)-->
<div class="container-fluid" ng-controller="EfVpomCtrl">
    <button type="button" class="btn btn-default" ng-click="showCheckboxDialog()">Открыть диалог (с чекбоксами)</button>
    <button type="button" class="btn btn-default" ng-click="showRadioDialog()">Открыть диалог (с радиокнопками)</button>
    <hr/>
    <tabset ng-if="showDemo">
        <tab heading="ef-vpom-demo.js">
            <div hljs include="'src/app/ef-vpom/ef-vpom-demo.js'"></div>
        </tab>
        <tab heading="ef-vpom-demo.tpl.html">
            <div hljs include="'ef-vpom/ef-vpom-demo.tpl.html'"></div>
        </tab>
    </tabset>
</div>