<!-- Обязательно документировать каждый блок или параметр -->
<div class="form-base form-base_size_{{1}}"
     yo-block="app-form_multi"
     yo-block-match="app-form_multi_size-(sm|normal)_bg-(dark|light)">
    <!-- Стандартная форма -->

    <div class="form-base__header form-base__header_pad_{{2}}">
            <span class="form-base__header-title"
                  yo-param="header">
                <!-- Заголовок формы -->
            </span>
    </div>

    <div class="form-base__body form-base__body_multi">
        <div class="form-horizontal">
            <div class="form-base__container_multi">
                <div class="row form-base__row_multi">

                    <div class="col-xs-6 form-base_pad_light form-base__col form-base__col_multi"
                         yo-param="content__column-one">
                        <!-- Левая колонка -->
                    </div>

                    <div class="col-xs-6 form-base_pad_dark form-base__col form-base__col_multi"
                         yo-param="content__column-two">
                        <!-- Правая колонка -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-base__footer"
         yo-param="footer">
        <!-- Футер формы. Ожидаем HTML -->
    </div>

</div>

