<div class="form-group form-base__form-group"
     yo-block="app-form__group"
     yo-block-match="app-form__group_grid-(\d+)-(\d+)">
    <!-- Элемент формы. В сетке 4-8 -->

    <label class="col-xs-{{1}} control-label form-base__control-label"
           yo-param="form-label">
        <!-- Текст лейбла. -->
    </label>

    <div class="col-xs-{{2}}"
         yo-param="form-control">
        <!-- Ожидаем контрол. -->
    </div>

</div>