
.app-nav-main-wrapper {
  /*background: #0c64ab;
  background-image: url("@{imgPath}/ui/navbar-bg.png");
  background-repeat: repeat-x;*/
  //height: 58px;

  background: rgba(1,97,175,1);
  background: -moz-linear-gradient(top, rgba(1,97,175,1) 0%, rgba(1,108,190,1) 50%, rgba(10,101,171,1) 51%, rgba(10,102,172,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,97,175,1)), color-stop(50%, rgba(1,108,190,1)), color-stop(51%, rgba(10,101,171,1)), color-stop(100%, rgba(10,102,172,1)));
  background: -webkit-linear-gradient(top, rgba(1,97,175,1) 0%, rgba(1,108,190,1) 50%, rgba(10,101,171,1) 51%, rgba(10,102,172,1) 100%);
  background: -o-linear-gradient(top, rgba(1,97,175,1) 0%, rgba(1,108,190,1) 50%, rgba(10,101,171,1) 51%, rgba(10,102,172,1) 100%);
  background: -ms-linear-gradient(top, rgba(1,97,175,1) 0%, rgba(1,108,190,1) 50%, rgba(10,101,171,1) 51%, rgba(10,102,172,1) 100%);
  background: linear-gradient(to bottom, rgba(1,97,175,1) 0%, rgba(1,108,190,1) 50%, rgba(10,101,171,1) 51%, rgba(10,102,172,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0161af', endColorstr='#0a66ac', GradientType=0 );

  height: auto;

  border-top: solid 3px #0359a6;
  border-bottom: solid 3px #0359a6;
}

.app-nav-main {
  height: 100%;
  .navbar {

    /*background: #0c64ab;
    background-image: url("@{imgPath}/ui/navbar-bg.png");
    background-repeat: repeat-x;*/
    /* height: 52px;*/

    .navbar-nav {
      & > li {
        /*border-left: solid 1px #03528d;*/
        &:first-child,

        &:last-child {
          /*border-right: solid 1px #4487bb;*/
          & > a {
            /* border-right: solid 1px #03528d;*/
          }
        }
        & > a {

        }

      }
    }




  }
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar {
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    background: transparent;
    height: 100%;
    margin-bottom: 0;
    padding: 0;
    .navbar-nav {
      & > li {
        display: table-cell;
        width: 1%;
        float: none;
        text-align: center;

        vertical-align: middle;
        border-left: solid 1px #03528d;
        box-shadow: -1px 0 0 #007BD7;

        padding: 5px 0;

        height: 52px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
        }

        &:last-child {
          & > a {
            //box-shadow: none;
          }
        }

        & > a {
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 16px;
          /*border-left: solid 1px #4487bb;*/
          box-shadow: none;

          color: white;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          text-decoration: none;
          padding: 0 5px;
          /* height: 52px;*/
          line-height: 1;
          // box-shadow: inset 1px 0px 0px rgba(0,0,0,0.15), inset -1px 0px 0px rgba(255,255,255,0.15);
        }
      }
    }
  }

}


.navbar-default {
  .navbar-nav {
    & > .open {
      &  > a {
        &:hover {
          background-color: transparent;
          color: #fff;
        }
        &:focus {
          background-color: transparent;
          color: #fff;
        }
      }
    }
  }
}

.app-nav-main {
  .navbar {
    .navbar-nav {
      & > li {

        &.dropdown {
          &:hover {
            & > .dropdown-menu {
              display: block;
            }
          }
        }

        > a {
          &:hover {
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
            background-color: transparent;
          }
        }
        &.active {
          & > a {
            color: #fff;
            background-color: transparent;
          }
        }
        &.open {
          & > a {
            color: #fff;
            background-color: transparent;
          }
        }

        &:last-child {
          & > .dropdown-menu {
            border-radius: 0;
            background: #d3e1f5;
            border: 0;
            left: auto;
            right: 0px;
          }
        }
        & > .dropdown-menu {
          border-radius: 0;
          background: #d3e1f5;
          border: 0;
          min-width: 100%;

          & > li {
            & > a {
              text-align: left;
              font-size: 15px;
              color: #026bbc;
              text-shadow: none;
              padding-left: 15px;
              padding-right: 15px;
              &:hover {
                color: #fff;
                background-color: #026bbc;
              }
            }
          }

        }
      }



    }
    .dropdown-menu {
      li {
        border-bottom: 0;
        padding: 4px 0;
      }
      /* .divider {
         height: 1px;
         margin: 5px 0px;
         padding: 0px;
         overflow: hidden;
         border-bottom: 1px solid rgba(255,255,255,0.5);
         border-top: 1px solid rgba(0,0,0,0.15);
         background: none;
         background-color: inherit;
       }*/
    }
  }
}
/*

.app-nav-main .navbar .navbar-nav >li

.app-nav-main .navbar-inverse.temp-1 .navbar-nav>.active>a,
.app-nav-main .navbar-inverse.temp-1 .navbar-nav>.active>a:hover,
.app-nav-main .navbar-inverse.temp-1 .navbar-nav>.active>a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.app-nav-main .navbar-inverse.temp-1 .navbar-nav>.open>a, .app-nav-main .navbar-inverse.temp-1 .navbar-nav>.open>a:hover,
.app-nav-main .navbar-inverse.temp-1 .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}*/
