//LESS
.app-footer-wrapper {
/*  background: url("@{imgPath}/ui/footer-bg.jpg") top center repeat-x;
  background-color: @color-footer-bg;*/

  // sticky
/*  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;*/
}

.app-footer {
  position: relative;
  margin: 0 0 0 0;
  padding: 60px 0 30px 0;
  //border-top: 2px solid @color-footer-line;

  &:before {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;

    width: 100%;
    height: 2px;

    content: "";

    background-color: @color-footer-line;
  }
}

.app-footer-ministries {
  margin: 0 0 45px 0;
}

.app-footer-ministry {
  display: block;
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 0 0 55px;

  font-size: 12px;
  min-height: 40px;

  text-decoration: underline;

  &.offset-post {
    padding-left: 85px;
  }

  .text-row {
    display: block;
  }

  .app-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    content: "";

    &.icon-coat-1 {
      background: url("@{imgPath}/ui/coat1.png") top left no-repeat;
      //background-size: cover;
    }

    &.icon-coat-2 {
      background: url("@{imgPath}/ui/coat2.png") top left no-repeat;
      //background-size: cover;
    }

    &.icon-post-russia {
      width: 70px;

      background: url("@{imgPath}/ui/post-russia.png") top left no-repeat;
      //background-size: cover;
    }
  }
}

.app-footer-copyright {
  font-size: 12px;
}

.app-footer-copy {
  color: @color-core-light-grey;
}

.app-footer-contact {
  font-size: 12px;
  text-decoration: underline;
}