.app-header-nav {
  margin: 0 0 30px 0;
}

.app-header-nav-list {
  //...

  > li {
    float: left;
    width: 25%;
  }
}

.app-header-nav-item {
  position: relative;
  margin: 0 0 10px 0;
  min-width: 140px;
  height: 80px;

  background:
    url("@{imgPath}/ui/nav-right.png") right top no-repeat,
    url("@{imgPath}/ui/nav-line.png") right top repeat-x;

  border-radius: 4px;

  .nav-line {
    display: block;
  }

  .item-link {
    display: block;

    margin: 0;
    padding: 16px 80px 16px 14px; //130px

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 1.1;

    color: @color-header-nav;

    width: 100%;
    height: 100%;

    &:hover, &:focus {
      text-decoration: none;
      color: @color-header-nav-hover;
    }
  }

  .app-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 15px;

    width: 60px;
    height: 80px;

    content: "";

    &.icon-rates {
      //width: 47px;
      //height: 54px;

      background: url("@{imgPath}/ui/calc.png") right center no-repeat;
      //background-size: cover;
    }

    &.icon-facilities {
      //width: 51px;
      //height: 50px;

      background: url("@{imgPath}/ui/money.png") right center no-repeat;
      //background-size: cover;
    }

    &.icon-programs {
      //width: 52px;
      //height: 54px;

      background: url("@{imgPath}/ui/folders.png") right center no-repeat;
      //background-size: cover;
    }

    &.icon-meetings {
      //width: 59px;
      //height: 45px;

      background: url("@{imgPath}/ui/chat.png") right center no-repeat;
      //background-size: cover;
    }
  }
}