<form class="form-horizontal" role="form" name="efIzmflDemo">
    <div class="container-fluid" ng-controller="efIzmflDemoCtrl">
        <div class="form-group  form-base__form-group">
            <label for="fiasHouseCode" class="col-xs-2 control-label  form-base__control-label">fiasHouseCode:</label>
            <div class="col-xs-4">
                <input ng-model="fiasHouseCode"
                       name="fiasHouseCode"
                       id="fiasHouseCode"
                       class='form-control  form-base__form-control'
                       required-field="true">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-default" ng-click="addPerson(!efIzmflDemo.fiasHouseCode.$error.required)">Добавить ФЛ</button>
            </div>
        </div>
        <div class="container-fluid" ng-controller="efIzmflDemoCtrl">
            <div class="form-group  form-base__form-group">
                <label for="personGuid" class="col-xs-2 control-label  form-base__control-label">guid физ. лица:</label>
                <div class="col-xs-4">
                    <input ng-model="person.guid"
                           name="personGuid"
                           id="personGuid"
                           class='form-control  form-base__form-control'
                           required-field="true">
                </div>
                <button class="btn btn-default" ng-click="editPerson(!efIzmflDemo.personGuid.$error.required)">Редактировать ФЛ</button>
                <button class="btn btn-default" ng-click="viewPerson(!efIzmflDemo.personGuid.$error.required)">Просмотреть ФЛ</button>
            </div>
        </div>
    </div>
</form>