<div ng-if="attachments.length < max" ng-attr-half-size="{{halfSize ? true :  false}}">
    <ef-prf-form context="{{context}}" callback="uploadCallback" disabled="disabled" not-required="notRequired" context-path="{{contextPath}}" internal-max="{{maxFiles}}" max="max"></ef-prf-form>
</div>
<div ng-if="attachments.length > 0" ng-attr-half-size="{{halfSize ? true :  false}}">
    <ef-bpp-form files="attachments" remove-callback="removeCallback" context="{{context}}" disabled="disabled" context-path="{{contextPath}}"></ef-bpp-form>
</div>
<input ng-required="!notRequired"
       type="hidden"
       name="hiddenGuard"
       ng-model="uploadHiddenGuard"/>
<div class="form-upload">
    <div class="form-upload__row">
        <span class="text-danger" ng-if="showError && isEmpty()">Поле обязательно для заполнения</span>
    </div>
</div>
