<div class="modal-header">
    <ng-close-button ng-click="cancel()"></ng-close-button>
    <h3 class="modal-title">Добавление сведений о физическом лице</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="efDobfl">
        <ef-svfl-form person="person"></ef-svfl-form>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-cancel" ng-click="cancel()">Отменить</button>
    <button class="btn btn-action" ng-click="save(efDobfl.$valid)">Сохранить</button>
</div>