<span class="hcs-datepicker has-feedback" ng-class="{'non-standard' : nonStandard}">
    <input type="text" class="form-control  form-base__form-control"
           ng-show="!nonStandard"
           placeholder="{{placeholder}}"
           ng-model="dateAsString"
           ng-disabled="checkIsDisabled()"
           ng-blur="options.onDateBlur()"
           ng-change="options.onDateChange()"
           ui-mask="{{mask}}"
            />
    <input type="text"
           ng-class="{'hcs-datepicker-hidden' : !nonStandard, 'form-control  form-base__form-control' : nonStandard}"
           datepicker-popup="{{format}}"
           datepicker-options="dateOptions"
           datepicker-mode="options.datepickerMode"
           ng-model="date"
           is-open="opened"
           min-date="options.minDate"
           max-date="options.maxDate"
           date-disabled="disabledSelection(date, mode)"
           datepicker-append-to-body="appendToBody()"
           show-button-bar="showButtonBar()"
           close-on-date-selection="closeOnDateSelection()"
           close-text="Закрыть"
           current-text="Сегодня"
           clear-text="Очистить"
           ng-disabled="checkIsDisabled() || options.readOnly"
            />

  <span class="glyphicon glyphicon-calendar hcs-datepicker-icon  app-icon app-icon_cl_prime"
        ng-click="open($event)"
        ng-disabled="checkIsDisabled()"
        ng-if="!checkIsDisabled()"></span>

    <span ng-if="options.showUTC">&NonBreakingSpace;{{getUTC()}}</span>
</span>

<span class="{{classError}}" ng-if="showErrors() && isEmpty()">{{errorMessages.fieldRequiredMsg}}</span>
<span class="{{classError}}" ng-if="showErrors() && !isNotLateThanCurrent && dateIsAfterValid">{{errorMessages.notBeforeNowMsg}}</span>
<span class="{{classError}}"
      ng-if="(showErrors() || showFormatErrors()) && !isEmpty() && (!dateValid || invalidFormat)">{{errorMessages.invalidFormatMsg}}</span>
<span class="{{classError}}"
      ng-if="(showErrors() || validatePeriodImmediately()) && !isEmpty() && dateValid && !invalidFormat && !dateIsAfterValid && !hideRangeValidationError()">{{errorMessages.endDateNotBeforeStartDateMsg}}</span>