<form class="form-horizontal" role="form" name="efOrgDemo">
    <div class="container-fluid" ng-controller="efOrgDemoCtrl">
        <div class="form-group  form-base__form-group">
            <label class="col-xs-3 control-label  form-base__control-label">Добавление организации:</label>
            <div class="col-xs-4">
                <button class="btn btn-default" ng-click="addOrganization()">Добавить</button>
            </div>
        </div>
        <div class="container-fluid" ng-controller="efOrgDemoCtrl">
            <div class="form-group  form-base__form-group">
                <label for="organizationGuid" class="col-xs-3 control-label  form-base__control-label">guid организации:</label>
                <div class="col-xs-4">
                    <input ng-model="organization.guid"
                           name="organizationGuid"
                           id="organizationGuid"
                           class='form-control  form-base__form-control'
                           required-field="true">
                </div>

                <button class="btn btn-default" ng-click="editOrganization(!efOrgDemo.organizationGuid.$error.required)">Изменить организацию</button>
                <button class="btn btn-default" ng-click="viewOrganization(!efOrgDemo.organizationGuid.$error.required)">Просмотреть организацию</button>

            </div>
        </div>
    </div>
</form>