<!--Блок поиска адреса по ФИАС (ЭФ_ПА)-->
<div class="container-fluid" ng-controller="EfPaCtrl">
    <div class="row">
        <div class="col-md-6">
            <ef-pa-form filter="searchParameters"></ef-pa-form>
        </div>
    </div>
</div>