<div class="row">
    <div class="col-xs-8">
        <div ng-show="itemsPerPage < totalItems">
            <ul class="pagination-base" ng-hide="currentPage <= 1">
                <li><a ng-click="prevPage()" href="">&lsaquo;</a></li>
            </ul>
            <pagination
                    ng-model="currentPage"
                    total-items="totalItems"
                    ng-change="innerPageChanged()"
                    items-per-page="itemsPerPage"
                    direction-links="false"
                    max-size="5"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    >
            </pagination>
            <ul class="pagination-base">
                <li ng-hide="currentPage == totalPages()">
                    <a ng-click="nextPage()" href="">&rsaquo;</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="output-by" ng-show="!fixedItemsPerPage">
            <div class="form-horizontal">
                <div class="form-group  output-by__form-group">
                    <label for="count"
                           class="col-xs-8 control-label  output-by__control-label">Выводить по</label>
                    <div class="col-xs-4">
                        <select class="form-control  output-by__form-control"
                                ng-model="itemsPerPage"
                                ng-if="inModal"
                                ng-change="itemsPerPageChanged(itemsPerPage)">
                            <option value="20">20</option>
                            <option value="15">15</option>
                            <option value="10">10</option>
                            <option value="5">5</option>
                        </select>

                        <select class="form-control"
                                ng-model="itemsPerPage"
                                ng-if="!inModal"
                                ng-change="itemsPerPageChanged(itemsPerPage)"
                                id="count">
                            <option value="100">100</option>
                            <option value="50">50</option>
                            <option value="30">30</option>
                            <option value="20">20</option>
                            <option value="10">10</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
