<div class="section-base">
    <div class="section-base__header">
        <h1>{{title}}</h1>
    </div>
    <div class="section-base__content">
        <div ng-include="demoFile"></div>
    </div>
    <div class="section-base__footer">
        <div class="collapse-toggle"
             ng-if="showSource">
            <div class="collapse-toggle__pane"
                 ng-init="isDemoCollapsed = true">
                <a href
                   class="collapse-toggle__ctr _collapsed"
                   ng-click="isDemoCollapsed = !isDemoCollapsed"
                   ng-class="{'_collapsed' : isDemoCollapsed}">

                    <!-- Collapsed state -->
                            <span class="collapse-toggle__state _collapsed">
                                    <span class="collapse-toggle__state-icon  glyphicon glyphicon-collapse-down"></span>
                            </span>
                    <!-- Active (open) state -->
                            <span class="collapse-toggle__state _active">
                                    <span class="collapse-toggle__state-icon  glyphicon glyphicon-collapse-up"></span>
                            </span>
                    <span class="collapse-toggle__state-title">Пример исходного кода</span>
                </a>
            </div>
            <!-- /end .collapse-toggle__pane -->
            <div class="collapse-toggle__cnt collapse" collapse="isDemoCollapsed">
                <div class="tab-base">
                    <tabset>
                        <tab heading="{{demoFileJs}}">
                            <div hljs include="demoFileJs"></div>
                        </tab>
                        <tab heading="{{demoFile}}">
                            <div hljs include="demoFile"></div>
                        </tab>
                    </tabset>
                </div>
            </div>
            <!-- /end .collapse-toggle__cnt -->
        </div>
    </div>
</div>