<div class="container-fluid" ng-controller="efVborgDemoCtrl">
    <button class="btn btn-default" ng-click="selectOrganization(false)">Выбрать организацию</button>
    <button class="btn btn-default" ng-click="selectOrganization(true)">Выбрать организацию (детальная информация)</button>
</div>