<div class="modal-base">
    <div class="modal-header modal-base__header">
        <ng-close-button ng-click="modalOptions.close()"></ng-close-button>
        <h3 class="modal-title">{{referenceName}}</h3>
    </div>
    <div class="modal-body modal-base__body">

        <yohtml yo-block="section-base">
            <header></header>

            <content>
                <ef-bp-form search-service="search"
                            search-parameters="searchParameters"
                            default-search-parameters="defaultSearchParameters">

                    <div class="form-base">
                        <div class="form-base__body">

                            <div class="form-group form-base__form-group"
                                 ng-hide="codeIsHidden">
                                <label class=" col-xs-3 control-label  form-base__control-label" for="code">Код</label>

                                <div class="col-xs-9">
                                    <input class="form-control form-base__form-control"
                                           type="text"
                                           id="code"
                                           name="code"
                                           ng-model="searchParameters.code"
                                           placeholder="Введите код или часть кода"/>
                                </div>
                            </div>
                            <div class="form-group form-base__form-group">

                                <label class=" col-xs-3 control-label  form-base__control-label" for="name">Наименование</label>

                                <div class="col-xs-9">
                                    <input class="form-control form-base__form-control"
                                           type="text"
                                           id="name"
                                           name="name"
                                           ng-model="searchParameters.name"
                                           placeholder="Введите наименование или часть наименования"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </ef-bp-form>
            </content>

            <footer></footer>
        </yohtml>
        <yohtml yo-block="section-base">
            <header>
                <h3>Результаты поиска</h3>
            </header>

            <content>
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th ng-if="hierarchy"></th>
                        <th width="15px"></th>
                        <th ng-hide="codeIsHidden">Код</th>
                        <th>Наименование</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="item in data"
                        ng-if="hierarchy"
                        ng-show="showRow(item)">
                        <td  >
                            <div class="tree-icon">
                                <span ng-style="{'padding-left': 15 * (item.level-1)}"  ng-show="!parseBoolean(item.hasChildren)"></span>
                                <label class="glyphicon"
                                       ng-style="{'padding-left': 15 * (item.level-1)}"
                                       ng-class="{'glyphicon-minus-sign': item.showChildren, 'glyphicon-plus-sign': !item.showChildren}"
                                       ng-show="parseBoolean(item.hasChildren)">
                                    <!--input type="checkbox" ng-click="loadChildren(item, $index)" ng-hide="true" ng-model="item.showChildren" id="{{item.fieldValue1}}expanded"/-->
                                    <input type="checkbox"
                                           ng-click="loadChildren(item, $index)"
                                           ng-hide="true"
                                           ng-model="item.showChildren"
                                           id="{{item.guid}}expanded"/>
                                </label>
                            </div>

                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-checked="checkedItems[item.guid]"
                                   ng-disabled="selectionLevel && item.level + 1 != selectionLevel"
                                   ng-if="hasCheckbox&&(item.fieldValue1!=null)&&((onlyLeafs&&!item.hasChildren)||(!onlyLeafs))"
                                   ng-click="tryItem(item)"/>
                            <input type="radio"
                                   name="singleSelect"
                                   ng-model="radioItem"
                                   value="{{item.guid}}"
                                   ng-disabled="selectionLevel && item.level + 1 != selectionLevel"
                                   ng-if="hasRadio&&(item.fieldValue1!=null)&&((onlyLeafs&&!item.hasChildren)||(!onlyLeafs))"
                                   ng-click="tryItem(item)"/>
                        </td>
                        <td ng-hide="codeIsHidden">{{item.fieldValue1}}</td>
                        <td>{{name(item)}}</td>
                    </tr>

                    <tr ng-repeat="item in data"
                        ng-if="plane"
                        ng-click="tryItem(item)">
                        <td>
                            <input type="checkbox"
                                   ng-checked="checkedItems[item.guid]"
                                   ng-if="hasCheckbox"/>
                            <input type="radio"
                                   name="singleSelect"
                                   ng-model="radioItem"
                                   value="{{item.guid}}"
                                   ng-if="hasRadio"/>
                        </td>
                        <td ng-hide="codeIsHidden">{{item.fieldValue1}}</td>
                        <td>{{item.fieldValue2}}</td>
                    </tr>

                    <tr ng-if="data.length === 0 || isEmpty">
                        <td colspan="4">Отсутствуют результаты поиска.</td>
                    </tr>
                    </tbody>
                </table>
            </content>

            <footer></footer>
        </yohtml>
        <yohtml yo-block="section-base"
                ng-if="agreementsInUse">
            <header></header>

            <content>
                <div class="form-horizontal form-base">
                    <div class="form-base__body form-base__body_multi form-base_pad_light">
                        <div class="form-base__container_multi">


                            <div class="row form-base__row_multi">
                                <div class="col-xs-6 form-base__col form-base__col_multi">
                                    <div class="form-group form-base__form-group">
                                        <label class="col-xs-4 control-label form-base__control-label required">
                                            Дата начала предоставления услуги:
                                        </label>

                                        <div class="col-xs-8 _margin-20 _top">
                                            <hcs-datepicker ng-model="service.providingDateStart"
                                                            options="dateOptions"
                                                            ng-required="true"
                                                            disabled="items.length == 0"></hcs-datepicker>
                                        </div>

                                    </div>

                                    <div class="form-group form-base__form-group">
                                        <label class="col-xs-4 control-label form-base__control-label required">
                                            Основание:
                                        </label>

                                        <div class="col-xs-8">
                                            <reason-form-control ng-model="service.baseDocumentGuid"
                                                                 document-guid="document.guid"
                                                                 document-type="document.agreementType"
                                                                 document-version-guid="document.versionInfoDTO.guid"
                                                                 view-mode="items.length == 0" chapter-protocol="document.protocol"></reason-form-control>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-xs-6 form-base__col form-base__col_multi form-base_pad_dark">
                                    <div class="form-group form-base__form-group">
                                        <label class="col-xs-4 control-label form-base__control-label required">
                                            Дата окончания предоставления услуги:
                                        </label>

                                        <div class="col-xs-8 _margin-20 _top">
                                            <hcs-datepicker ng-model="service.providingDateEnd"
                                                            options="dateOptions"
                                                            ng-required="true"
                                                            disabled="items.length == 0"></hcs-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </content>

            <footer></footer>
        </yohtml>
    </div>

    <div href
         class="modal-footer modal-base__footer">
        <a class="btn btn-cancel"
           ng-click="modalOptions.close()">
            Отменить
        </a>
        <a href
           class="btn btn-action"
           ng-click="modalOptions.ok()"
           ng-disabled="disabled()">
            Выбрать
        </a>
    </div>
</div>