<div class="col-lg-12 col-sm-12">
  <ol class="breadcrumb">
    <li><a href="#">Личный кабинет</a></li>
    <li class="active">Реестр адресных объектов</li>
  </ol>
  <h1 ng-bind="pageTitle"></h1>
</div>

<div class="col-lg-3 col-sm-3">
  <div class="left-side" ng-include="'blocks/left-menu.tpl.html'">
  </div>
</div>

<div class="col-lg-9 col-md-9 col-sm-9" ui-view="main"></div>