<div class="col-lg-12 col-sm-12">
  <h1>Ваш личный кабинет</h1>
    <div class="block">
        <div class="block_header">
            <a class="address" href="#">г. Москва, Мурманский пр., д. 16, кв. 7</a>
        </div>
        <div class="block_content">
            <div class="col-lg-6 col-sm-6">
                <div class="item">
                    <span>Управляющая организация</span>
                    <ul>
                        <li>ООО «Пересвет»</li>
                        <li>г. Москва, ул. Шереметьевская, д.4</li>
                        <li>8 (499) 257-76-87</li>
                    </ul>
                </div>

                <div class="item">
                    <span>
                        Лицевой счет:
                        <a href="#">345678901</a>
                    </span>
                </div>
                <div class="item">

                    <span>
                        Лицевой счет:
                        <a href="#">2422565232426</a>
                    </span>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="item nohr">
                    <span>
                        <a href="#">Приборы учета</a>
                    </span>
                    <button class="btn">Внести показания</button>

                    <table class="table">
                        <caption>Водоснабжение</caption>
                        <tbody>
                        <tr>
                            <td>Холодная вода</td>
                            <td>243 м3</td>
                        </tr>
                        <tr>
                            <td>Горячая вода</td>
                            <td>45 м3</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <caption>Электроэнергия</caption>
                        <tbody>
                        <tr>
                            <td>Т1</td>
                            <td>345 кВТ</td>
                        </tr>
                        <tr>
                            <td>Т2</td>
                            <td>89 кВТ</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

  <div class="block">
    <div class="block_header">
      <a class="address" href="#">г. Москва, Мурманский пр., д. 16, кв. 7</a>
    </div>
    <div class="block_content">
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <span>Управляющая организация</span>
          <ul>
            <li>ООО «Пересвет»</li>
            <li>г. Москва, ул. Шереметьевская, д.4</li>
            <li>8 (499) 257-76-87</li>
          </ul>
        </div>

        <div class="item">
                    <span>
                        Лицевой счет:
                        <a href="#">345678901</a>
                    </span>
        </div>
        <div class="item">

                    <span>
                        Лицевой счет:
                        <a href="#">2422565232426</a>
                    </span>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="item nohr">
                    <span>
                        <a href="#">Приборы учета</a>
                    </span>
          <button class="btn">Внести показания</button>

          <table class="table">
            <caption>Водоснабжение</caption>
            <tbody>
            <tr>
              <td>Холодная вода</td>
              <td>243 м3</td>
            </tr>
            <tr>
              <td>Горячая вода</td>
              <td>45 м3</td>
            </tr>
            </tbody>
          </table>

          <table class="table">
            <caption>Электроэнергия</caption>
            <tbody>
            <tr>
              <td>Т1</td>
              <td>345 кВТ</td>
            </tr>
            <tr>
              <td>Т2</td>
              <td>89 кВТ</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block_header">
      <a class="address" href="#">г. Москва, Мурманский пр., д. 16, кв. 7</a>
    </div>
    <div class="block_content">
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <span>Управляющая организация</span>
          <ul>
            <li>ООО «Пересвет»</li>
            <li>г. Москва, ул. Шереметьевская, д.4</li>
            <li>8 (499) 257-76-87</li>
          </ul>
        </div>

        <div class="item">
                    <span>
                        Лицевой счет:
                        <a href="#">345678901</a>
                    </span>
        </div>
        <div class="item">

                    <span>
                        Лицевой счет:
                        <a href="#">2422565232426</a>
                    </span>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="item nohr">
                    <span>
                        <a href="#">Приборы учета</a>
                    </span>
          <button class="btn">Внести показания</button>

          <table class="table">
            <caption>Водоснабжение</caption>
            <tbody>
            <tr>
              <td>Холодная вода</td>
              <td>243 м3</td>
            </tr>
            <tr>
              <td>Горячая вода</td>
              <td>45 м3</td>
            </tr>
            </tbody>
          </table>

          <table class="table">
            <caption>Электроэнергия</caption>
            <tbody>
            <tr>
              <td>Т1</td>
              <td>345 кВТ</td>
            </tr>
            <tr>
              <td>Т2</td>
              <td>89 кВТ</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




</div>

