<footer class="portal-footer portal-footer_pad">
  <div class="container">
    <div class="portal-footer__content portal-footer__graphics">
      <!-- PORTAL FOOTER MINISTRIES -->
      <div class="portal-footer__ministries">
        <div class="row">
          <div class="col-xs-4">

            <a href="http://www.minstroyrf.ru" class="portal-footer__ministries-i" target="_blank">
              <span class="portal-footer__ministries-i-icon  portal-footer__icon-ministry-1">
              </span>
              <span class="portal-footer__ministries-i-title cnt-lk">
                <span class="cnt-lk__label">
                    Министерство строительства и <br>жилищно-коммунального хозяйства
                </span>
              </span>
            </a>

          </div><!-- /end .col-.. -->
          <div class="col-xs-4">

            <a href="http://www.minsvyaz.ru" class="portal-footer__ministries-i" target="_blank">
                            <span class="portal-footer__ministries-i-icon portal-footer__icon-ministry-2">
                            </span><span class="portal-footer__ministries-i-title cnt-lk">
                                        <span class="cnt-lk__label">Министерство связи и массовых <br>коммуникаций</span>
                            </span>
            </a>

          </div><!-- /end .col-.. -->
          <div class="col-xs-4">

            <a href="http://www.russianpost.ru" class="portal-footer__ministries-i" target="_blank">
                            <span class="portal-footer__ministries-i-icon portal-footer__icon-ministry-rpost">
                            </span><span class="portal-footer__ministries-i-title cnt-lk">
                                        <span class="cnt-lk__label">ФГУП "Почта России"</span>
                            </span>
            </a>

          </div><!-- /end .col-.. -->
        </div><!-- /end .row -->
      </div><!-- /end .portal-footer__ministries -->
      <!-- /END PORTAL FOOTER MINISTRIES -->

      <div class="portal-footer__copyright">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
            <!--<span class="app-footer-copy">© 2014 Государственная информационная система жилищно-коммунального хозяйства</span>-->
            <!--<div class="app-build-info roboto ng-binding">Версия системы: 2.0.0-SNAPSHOT#rev12936</div>-->
          </div>
        </div>
      </div><!-- /end .portal-footer__copyright -->
    </div><!-- /end .portal-footer__content -->

  </div><!-- /end .container -->

</footer>