<div class="form-search">
<form class="form-horizontal" role="form">
<div class="item-toggle">

  <div class="item-toggle_header col-lg-12">
    <span class="item-toggle_header_icon"></span>
    <span class="item-toggle_header_title">О приборе</span>
  </div>
  <div class="item-toggle_body">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="inputDeviceId" class="col-lg-4 col-sm-4 control-label">№ прибора учета</label>

        <div class="col-lg-8 col-sm-8">
          <input type="text" class="form-control" id="inputDeviceId" placeholder="Введите номер ПУ">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDeviceType" class="col-lg-4 col-sm-4 control-label">Тип прибора учета</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputDeviceType">
            <option value="0">Выберите тип ПУ</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Коллективный прибор учета
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="inputPlaceType" class="col-lg-4 col-sm-4 control-label">Категория помещения</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputPlaceType">
            <option value="0">Выберите категорию помещения</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPlaceType" class="col-lg-4 col-sm-4 control-label">Коммунальн. ресурс</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputPlaceType">
            <option value="0">Выберите коммунальные ресурсы</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputBankNumber" class="col-lg-4 col-sm-4 control-label">№ лицевого счета</label>

        <div class="col-lg-8 col-sm-8">
          <input type="text" class="form-control" id="inputBankNumber" placeholder="Введите номер ЛС">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox"> ЛС был связан с прибором учета в прошлом
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="item-toggle collapsed">
  <div class="item-toggle_header col-lg-12">
    <span class="item-toggle_header_icon"></span>
    <span class="item-toggle_header_title">Адрес и местоположение</span>
  </div>
  <div class="item-toggle_body">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="inputDeviceId" class="col-lg-4 col-sm-4 control-label">№ прибора учета</label>

        <div class="col-lg-8 col-sm-8">
          <input type="text" class="form-control" id="inputDeviceId" placeholder="Введите номер ПУ">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDeviceType" class="col-lg-4 col-sm-4 control-label">Тип прибора учета</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputDeviceType">
            <option value="0">Выберите тип ПУ</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Коллективный прибор учета
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="inputPlaceType" class="col-lg-4 col-sm-4 control-label">Категория помещения</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputPlaceType">
            <option value="0">Выберите категорию помещения</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPlaceType" class="col-lg-4 col-sm-4 control-label">Коммунальн. ресурс</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputPlaceType">
            <option value="0">Выберите коммунальные ресурсы</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputBankNumber" class="col-lg-4 col-sm-4 control-label">№ лицевого счета</label>

        <div class="col-lg-8 col-sm-8">
            <select class="form-control" name="" id="inputBankNumber">
                <option value="0">Введите номер ЛС</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox"> ЛС был связан с прибором учета в прошлом
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="item-toggle collapsed">
  <div class="item-toggle_header col-lg-12">
    <span class="item-toggle_header_icon"></span>
    <span class="item-toggle_header_title">Ввод в эксплуатацию и проверки</span>
  </div>
  <div class="item-toggle_body">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="inputDeviceId" class="col-lg-4 col-sm-4 control-label">№ прибора учета</label>

        <div class="col-lg-8 col-sm-8">
          <input type="text" class="form-control" id="inputDeviceId" placeholder="Введите номер ПУ">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDeviceType" class="col-lg-4 col-sm-4 control-label">Тип прибора учета</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputDeviceType">
            <option value="0">Выберите тип ПУ</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Коллективный прибор учета
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="inputPlaceType" class="col-lg-4 col-sm-4 control-label">Категория помещения</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputPlaceType">
            <option value="0">Выберите категорию помещения</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPlaceType" class="col-lg-4 col-sm-4 control-label">Коммунальн. ресурс</label>

        <div class="col-lg-8 col-sm-8">
          <select class="form-control" name="" id="inputPlaceType">
            <option value="0">Выберите коммунальные ресурсы</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputBankNumber" class="col-lg-4 col-sm-4 control-label">№ лицевого счета</label>

        <div class="col-lg-8 col-sm-8">
          <input type="text" class="form-control" id="inputBankNumber" placeholder="Введите номер ЛС">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox"> ЛС был связан с прибором учета в прошлом
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-footer">
  <div class="col-lg-6">
    <div class="collapse-all">
      <span class="collapse-all_icon"></span>
      <span class="collapse-all_title">Свернуть поиск</span>

    </div>
  </div>

  <div class="col-lg-6">
    <div class="pull-right">
      <button class="btn button-clean">Очистить</button>
      <button class="btn search">
        <span class="icon glyphicon-adjust"></span>
        Найти</button>
    </div>
  </div>
</div>
</form>
</div>