<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <!-- app header logo -->
        <div class="app-header-logo">
            <a href="/#main" class="header-logo" title="ГИС ЖКХ">
                <span class="app-icon"></span>
                <span class="logo-title">ГИС ЖКХ</span>
            </a>
            <a href="/#main" class="logo-subtitle">Государственная информационная система жилищно-коммунального
                хозяйства</a>

        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!-- app header support -->
        <div class="app-header-support">
            <span class="support-desc">Служба оператора ГИС ЖКХ</span>
            <a href="mailto:support@hcs.ru" class="support-email">Обратная связь</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <user-info></user-info>
    </div>
</div>
