<nav>
  <ul class="left-menu">
    <li><a href="#">Сведения об организации</a></li>
    <li ui-route="/organization/house/list" ng-class={active:$uiRoute}><a href ui-sref="house-list">Реестр адресных объектов</a></li>
    <li ui-route="/organization/account/list" ng-class={active:$uiRoute}><a href ui-sref="account-list">Реестр лицевых счетов</a></li>
    <li>
        <a ui-route="/e-passport/register" ng-class={active:$uiRoute} href ui-sref="e-passport-register">Реестр электронных паспортов</a>
        <ul class="sub">
            <li ng-class={active:$uiRoute}><a ui-route="/e-passport/config-main" href ui-sref="e-passport-config-main">Настройка структуры электронных паспортов</a></li>
        </ul>
    </li>
    <li ui-route="/organization/device/list" ng-class={active:$uiRoute}><a href ui-sref="device-list">Реестр приборов учета обслуживаемых домов</a>
      <ul class="sub">
        <li><a href ui-sref="device-odpu">Текущие показания по ОДПУ</a></li>
      </ul>
    </li>
    <li><a href ui-sref="device-ipu">Гражданина приборы учета</a></li>
  </ul>
</nav>