<div id="loading-dialog" class="modal in">
    <div class="modal-backdrop in" style="z-index: 99999">

    </div>
    <span class="preloader" style="z-index: 100000">
        <img src="assets/img/spinner.gif" />
        <p>Обработка запроса...</p>
        <button class="btn btn-prime" onclick="$('#loading-dialog').hide()">Отменить</button>
    </span>
</div>