<!-- Обязательно документировать каждый блок или параметр -->
<div class="section-base"
     yo-block="section-base">
    <!-- Стандартная секция -->
    <div class="section-base__header"
         yo-param="header">

        <!-- Заголовок секции -->
    </div>

    <div class="section-base__content"
         yo-param="content">
        <!-- Контент секции -->
    </div>
    <div class="section-base__footer"
         yo-param="footer">
        <!-- Футер секции. Ожидаем HTML -->
    </div>
</div>
