<div class="modal-header">
    <ng-close-button ng-click="cancel()"></ng-close-button>
    <h3 class="modal-title">Выбор физического лица</h3>
</div>
<div class="modal-body">
    <div class="section-base">

        <ef-bp-form search-service="searchService" search-parameters="searchParameters" default-search-parameters="defaultSearchParameters">

            <ef-bplc-form search-parameters="searchParameters" fl-mode="true"></ef-bplc-form>

        </ef-bp-form>

    </div>
    <div class="section-base">
        <div class="row">
            <div class="col-lg-12"><b>Результаты поиска</b></div>
        </div>
        <ng-simple-grid ng-config="searchResultTable.config"
                        state="searchResultTable.state"
                        row-click="$parentScope.selectRow(rowData)">
            <column title="ФИО">
                <input ng-show="!$parentScope.multipleChoice"
                       type="radio"
                       id="fio"
                       name="fio"
                       ng-model="$parentScope.selectedPersonGuid"
                       value="{{rowData.guid}}"/>
                <input ng-show="$parentScope.multipleChoice"
                       type="checkbox"
                       name="fio"
                       ng-checked="$parentScope.checkedItemsGuids[rowData.guid]"/>
                {{rowData.lastName}} {{rowData.firstName}} {{rowData.middleName}}
            </column>
            <column title="Дата рождения">{{rowData.birthDate}}</column>
            <column title="СНИЛС">{{rowData.snils | snils}}</column>
        </ng-simple-grid>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-prime pull-left" ng-click="add()" ng-disabled="!fiasHouseCode">Добавить новое физическое лицо</button>
    <button class="btn btn-cancel" ng-click="cancel()">Отменить</button>
    <button class="btn btn-action" ng-click="select()" ng-disabled="selectBtnIsDisabled()">Выбрать</button>
</div>