<select class="form-control form-base__form-control"
        ng-model="time"
        ng-blur="options.onTimeBlur()"
        ng-options="time.id as time.name for time in times"
        ng-hide="options.manualTime">
</select>
<input class="form-control form-base__form-control"
       ng-show="options.manualTime"
       ng-model="time"
       ng-blur="options.onTimeBlur()"
       ui-mask="{{defaultTimeMask}}">
<span class="text-danger" ng-if="options.manualTime && invalidTimeFormat">Неверный формат поля</span>
<span class="text-danger" ng-if="showErrors() && isEmpty()">Поле обязательно для заполнения</span>