<!-- FIX https://jira.lanit.ru/browse/HCS-10358-->
<!--div class="col-lg-12"><b>Результаты поиска</b></div-->
<div class="row">
    <div class="col-lg-12 _padding-30 _left oktmo-children-wrapper" ng-if="showChildrenView">
        <div class="oktmo-children" ng-repeat="parent in parents track by $index" ng-style="{'padding-left': 10 * $index}">
            <span ng-if="$index !== 0">- </span>
            <a ng-if="!$last" href="javascript:void(0)" deferred-action-click="upToParent($index)">{{parent.code}} - {{parent.name}}</a>
            <span ng-if="$last">{{parent.code}} - {{parent.name}}</span>
        </div>
    </div>
</div>

<ng-simple-grid ng-config="searchResultTable.config"
                state="searchResultTable.state"
                row-click="$parentScope.selectionFunction(rowData)">

    <column title="Код">
        <input ng-show="$parentScope.hasCheckbox"
               ng-if="!$parentScope.noCheckBoxes"
               type="checkbox"
               ng-disabled="$parentScope.selectionLevel && rowData.level != $parentScope.selectionLevel"
               ng-checked="$parentScope.checkedItems[rowData.guid]"/>

        <input ng-show="!$parentScope.hasCheckbox"
               ng-if="!$parentScope.noCheckBoxes"
               type="radio"
               ng-disabled="$parentScope.selectionLevel && rowData.level != $parentScope.selectionLevel"
               ng-model="$parentScope.radioItem" value="{{rowData.guid}}"/>

        <a href="javascript:void(0)" ng-if="rowData.hasChildren" deferred-action-click="$parentScope.goToChildren(rowData, $event)">{{rowData.code}}</a>
        <span ng-if="!rowData.hasChildren">{{rowData.code}}</span>
    </column>

    <column title="Наименование">
        <div>
            <a href="javascript:void(0)" ng-if="rowData.hasChildren" deferred-action-click="$parentScope.goToChildren(rowData, $event)">{{rowData.name}}</a>
            <span ng-if="!rowData.hasChildren">{{rowData.name}}</span>
        </div>
        <div style="font-size: smaller;">{{$parentScope.getParentNames(rowData)}}</div>
    </column>
</ng-simple-grid>
