<div class="app-header-account">

    <span class="app-icon"></span>

    <a href=""
       class="account-company"
       ng-click="efPpaPrsmObschInfOrgDialogShow()"
       ng-if="!isCitizen">
        {{organizationName}}, {{organizationRolesDescription}}
    </a>

    <a href=""
       class="account-user"
       ui-sref="user-information-decision-state"
       ng-if="isCitizen">
        {{citizenInformation}}
    </a>

  <span class="account-title"
        ng-if="additionalInformation">
    {{additionalInformation}}
  </span>

  <span ng-if="notificationAmount">
      <a href ui-sref="notification-list">
          <span class="glyphicon glyphicon-envelope"></span>
          <span class="badge">{{notificationAmount}}</span>
      </a>
  </span>

    <a href=""
       class="btn btn-warning account-logout account-logout_half"
       ng-click="logout()">
        Выйти
    </a>

</div>