<!--Модальное окно для выбора комнаты (ЭФ_ВКОМ)-->
<div class="container-fluid" ng-controller="EfVkomCtrl">
    <button type="button" class="btn btn-default" ng-click="showCheckboxDialog()">Открыть диалог (с чекбоксами)</button>
    <button type="button" class="btn btn-default" ng-click="showRadioDialog()">Открыть диалог (с радиокнопками)</button>
</div>