<span ng-if="files.length > 0" class="dropdown dropdown-base open">

    <a data-toggle="dropdown" class="dropdown-toggle  dropdown-base__toggle" href="javascript:void(0);"
       aria-haspopup="true" aria-expanded="true">
        <span class="selectpicker"> {{files.length}}
            <span ng-if="files.length == 1">файл</span>
            <span ng-if="files.length > 1 && files.length < 5">файла</span>
            <span ng-if="files.length > 4">файлов</span>
        </span>
        <span class="caret caret_lg dropdown-base__icon dropdown-base__icon_normal"></span>
        <span class="caret-up caret-up_lg dropdown-base__icon dropdown-base__icon_open"></span>
    </a>
    <ul role="menu" class="dropdown-menu">
        <li ng-repeat="file in files">
            <span class="_nowrap _font-size-12">
                  <span class="form-upload__icon icon-file icon-file_{{getExtensionByFilename(file.fileName)}}"
                        popover="{{getLabelByContentType(file.contentType)}}"
                        popover-trigger="mouseenter"
                        popover-append-to-body='true'>
                  </span>
                 <a popover="{{file.fileName +' ('+ getHumanReadableFilesize(file.fileSize)+')'}}"
                    popover-trigger="mouseenter"
                    popover-append-to-body='true'
                    href="/{{ctxPath}}/{{servletUrl}}?context={{context}}&uid={{file.contentGuid}}">
                    {{file.description}}
                 </a>
            </span>
        </li>
        <li>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="_nowrap _font-size-12">
                 <a popover="Скачать все файлы одним архивом"
                    popover-trigger="mouseenter"
                     popover-append-to-body='true'
                    href="/{{ctxPath}}/{{servletArchiveUrl}}?context={{context}}&uids={{uids}}&zipFileName=someName.zip">
                    Скачать одним архивом
                 </a>
            </span>
        </li>
    </ul>
</span>