<!--Группа полей для выбора отчетного периода (ЭФ_ВОП)-->
<div class="container-fluid" ng-controller="EfVopCtrl">
    <ef-vop-form provider="provider"></ef-vop-form>
    <div class="container-fluid">
        <button type="button" ng-click="getOptions()" class="btn btn-default">Вывести параметры в js-консоль
        </button>
    </div>
</div>