<div class="container" ng-controller="HcsSpinnerDemoCtrl">
    <div>
        <input type="text"
                ng-model="value1"
                hcs-spinner> {{value1}}
    </div>
    <div>
        <input type="text"
                ng-model="value2"
                hcs-spinner
                ng-disabled="true"> Disabled
    </div>
    <div>
        <input type="text"
                ng-model="value3"
                hcs-spinner="spinnerOptions"> {{value3}} Min: -2, Max: 5
    </div>
</div>