/* Helpers */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

.flat-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    float: left;
    padding: 10px;
  }
}




.block-wide{
  float:left;
  width: 100%;
  margin-left: (@grid-gutter-width / 2);
  margin-right: (@grid-gutter-width / 2);
}


.drop-paddings-lr {
  padding-left: 0;
  padding-right: 0;
}

.set-margins-tb {
  margin-top: @grid-gutter-width;
  margin-bottom: @grid-gutter-width;
}

.set-margins-half-tb {
  margin-top: (@grid-gutter-width / 2);
  margin-bottom: (@grid-gutter-width / 2);
}


.houseUid {
  width: 70px;
}

.archivation-date {
  padding-left: 10px !important;
}
.device-status {
  padding-left: 10px !important;
}


@media (max-width: 768px) {
  .form-horizontal .control-label {
    padding-left: 10px;
  }
}


.valign-middle {
  vertical-align: middle;
}

.valign-top {
  vertical-align: top !important;
}


.bold {
  font-weight: bold;
}


.block_header .btn {
  margin: -4px 0 0 0;
}


.justify {
  padding: 0;
  margin: 0;
  text-align: justify;
  line-height: 0;
  zoom: 1;
  text-align-last: justify;
  width: 100%;
  /* text-justify: newspaper; */
  li {
    display: inline-block;
    text-align: left;
    line-height: normal;
    vertical-align: top;
    padding: 0;
    float: none;
  }
  &:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }
}




/* FROM layout/main.less */


.tree-icon {
  color: #45b43e;
  label{
    cursor: pointer;
    font-size: 0.8em;
  }
  .glyphicon-minus-sign{
    color: #adb5bc;
  }
}

.hor-form-footer {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
  .actions {
    float:right;
    .btn {
      margin:0 5px 0 0;
      &:last-child {
        margin:0;
      }
    }
  }
  &._global {
    margin: 10px 0 20px 0;
    .actions {
      float:left;
    }
  }
}

.icon-background {

  //#gradient > .vertical(#ffffff; #e1f0f7);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: solid 1px #fff;
  box-shadow: 0 1px 2px #bababa;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 0 4px;
  margin: 0 10px 0 0;

  i{
    font-size: 10px;
    padding: 0;
    color: #224d72;
    &.glyphicon-chevron-up{
      top: 0;
    }
  }
}

.icon-background-2 {
  .icon-background;
  border-radius: 4px;
  i {
    font-size: 14px;
  }
}


.pages-count {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  float: right;
  width: 100%;
  label {
    font-size: 0.7em;
    .drop-paddings-lr();
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  select {
    width: auto;
    display: inline-block;
  }
}


.tooltip-wrapper {
  display: inline-block;
  padding: 1px;
}

.panel-wrapper {
  margin-bottom: 20px;
}


.label-required {
  color: #F00;
  font-size: 12px;
}

.required:after {
  color: #f00;
  font-size: 12px;
  content: " *";
}

h3.required:after {
  color: #f00;
  font-size: 25px;
  content: " *";
}

._has-big-table {
  .table-base {
    td {
      padding: 7px;
      font-size: 12px;
    }
    th {
      padding: 7px;
      font-size: 12px;
    }
  }

}


/* FROM layout/main.less END*/