.block {
  background: #b4d9ed;
  float: left;
  width: 100%;
  border-radius: 4px;
  margin: 0 0 2em 0;
  .block_header {
    padding: 14px 5px;
    .actions {
      float:right;
      margin: -4px 0 0 0;
    }
    a {
      color: #224d72;
      font-size: 20px;
      &.address {
        background: url("img/icon_address.png") no-repeat;
        padding: 10px 0 10px 55px;
      }
      &.history {
        font-size: 14px;
        margin: 3px 0 0 0;
      }
    }
    span {
      font-weight: bold;
      font-size: 20px;
      margin: 0 0 10px 0;
      float: left;
    }
  }
  .block_content {
    background: #f2f4f6;
    width: 100%;
    float: left;
    margin: 0 0 0 5px;
    padding: 0 0 5px 0;
    border-radius: 4px;
    //.box-shadow(0 1px 1px #a3a3a3);
      &.nohr {
        border-bottom: solid 1px transparent;
        //.box-shadow(0 0 0 transparent);
      }

    .block_unit {
      border-radius: 4px;
      padding: 10px;
      background: #E0E0E0;
      margin: 0 5px;

    }

      span {
        color: @color-headers;
        font: bold 1.1em "Arial";
        a{}
      }
      ul {
        list-style-type: none;
        margin: 0.5em 0 0 0;
        padding: 0 20px;
        background-color: #e6eaed;
        li {
          font-size: 0.9em;
          color: @color-headers;
          padding: 8px 0;
          //.double-bottom-border(#d7dadd);
        }
      }
      button {
        color: #fff;
        text-shadow: -1px -1px 0 #618ca2;
        float: right;
        margin: -5px 0 0 0;
        border: none;
        background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #86BDD9),
          color-stop(0.5, #77AECA),
          color-stop(0.5, #6C9CB8),
          color-stop(1, #477C9D)
        );
        background-image: -o-linear-gradient(bottom, #86BDD9 0%, #77AECA 50%, #6C9CB8 50%, #477C9D 100%);
        background-image: -moz-linear-gradient(bottom, #86BDD9 0%, #77AECA 50%, #6C9CB8 50%, #477C9D 100%);
        background-image: -webkit-linear-gradient(bottom, #86BDD9 0%, #77AECA 50%, #6C9CB8 50%, #477C9D 100%);
        background-image: -ms-linear-gradient(bottom, #86BDD9 0%, #77AECA 50%, #6C9CB8 50%, #477C9D 100%);
        background-image: linear-gradient(to bottom, #86BDD9 0%, #77AECA 50%, #6C9CB8 50%, #477C9D 100%);

      }
    a{
      font-weight: bold;
    }



      .icon-building{
        font-size: 50px;
        margin: 85% auto 0 auto;
        width: 100%;
        height: 50px;
        text-align: center;
      }


    .icon-building.good{
      color: #60944c;
    }

    .icon-building.normal{
      color: #d2aa48;
    }

    .icon-building.bad{
      color: #ac5145;
    }

    .col-md-4, .col-lg-4, .col-md-3, .col-lg-3  {
      padding: 0;
    }

    .glyphicon-fire {
      &.gas {
        color: #3e84ae;
      }
    }
    .glyphicon-tint {
      &.cold-water {
          color: #3e84ae;
        }
      &.hot-water {
        color: #ec5e26;
      }
    }
    table {
        &.table {
          margin-bottom: 0;
          margin-top: 0;
          border-collapse: inherit;
          background-color: #E6EAED;
          padding: 0 12px;
          &.odd {
            background-color: transparent;
          }
        }

        caption{
          color: @color-headers;
          font: bold 0.9em "Arial";
          text-align: left;
          padding: 0 0 6px 0;
        }
        tbody {
          tr {

            td {
              font-size: 0.9em;

              border-bottom: solid 1px #d7dadd;
              border-top: solid 1px #fff;

              padding: 5px 0;

              &.iconic {
                max-width:35px;
              }

              &:last-child {
                width: 25%;
                font-weight: bold;
              }
            }

            &:first-child {
              td {
                border-top: solid 1px transparent;
              }
            }
            &:last-child {
              td {
                border-bottom: solid 1px transparent;
              }
            }
          }
        }
    }
  }
  .block_footer {
    width: 100%;
    float: left;
    padding: 7px 10px;
    vertical-align: middle;
    .actions {
      float:right;
      .btn {
        margin:0 5px 0 0;
        &:last-child {
          margin:0;
        }
      }
      &.left {
        float:left;
        a {
          margin: 7px 0 0 0;
          float: left;
          font-size: 14px;
        }
      }
    }
  }
  .block_search {
    width: 100%;
    float: left;
    padding: 10px;
    vertical-align: middle;
    margin: 10px 0;
    background-color: #3e83ad;
    input {
      width: 100%;
    }
  }
}

.block-tabs {
  background: #B4D9ED;
  float: left;
  width: 100%;
  border-radius: 4px;
  margin: 0 0 0 0;
  padding: 5px;
  .nav-tabs {
    li {
      a {
        font-size: 1em;
        padding: 10px;
        font-weight: normal;
      }
      &.active {
        a {
          font-weight: bold;
        }
      }
    }
  }
  .tab-content {
    background: #B4D9ED;
    float: left;
    width: 100%;
    border-radius: 4px;
    margin: 0 0 0 0;
    .tab-pane {
      background: #F2F4F6;
      width: 100%;
      float: left;
      margin: 0;
      padding: 10px 0;
      border-radius: 0 4px 4px 4px;
      -webkit-box-shadow: 0 1px 1px #A3A3A3;
      box-shadow: 0 1px 1px #A3A3A3;

      .tab-pane-unit {
        border-radius: 4px;
        padding: 10px;
        background: #E0E0E0;
        margin: 0 5px;

        &.active {
          background: #848082;
        }

        .alert-ls {
          bottom: auto;
          margin: 10px 0 0 0;
          position: relative;
          left: auto;
        }

        .table {
          tr {
            td {
              padding: 5px 0;
              &:first-child {
                width:auto;
              }
            }
          }
        }

      }

      .tab-pane-search {
        width: 100%;
        float: left;
        padding: 10px;
        vertical-align: middle;
        margin: 0 0 10px 0;
        background-color: #3e83ad;

        input {
          width: 97%;
          &.form-control {
            height: 31px;
          }
        }

        .button-search {
          padding: 5px 10px;
          min-width: 0;
        }
      }

    }
  }
}