.collapse-all {
  margin: 0.5em 0 0 0;
  float: left;
  .collapse-all_title {
    font-size: 0.8em;
    color: @link-color;
    border-bottom: dashed 1px @link-color;
    cursor: pointer;
    &:hover {
      border-bottom: none;
    }
  }
}