/*.form-search {
  background: #f2f4f6;
  float: left;
  width: 100%;
  padding: 0.5em;
  border-radius: 3px;
  box-shadow: 0 1px 1px #B6B6B6;
  position: relative;
}*/

/*
.form-footer {
  border-radius: 0 0 4px 4px;
  background: #b4d9ed;
  padding: 0.5em 0;
  width: 99%;
  overflow: auto;
  margin: 0 auto;

  .trigger {
    float:left;
  }
}*/
