

.tab-pane .table .expandRow td {
  background-color: #fbfbfb;
  font-size: 14px;
  padding: 10px 0px 0px 0px;
}

.tab-pane .table .expandRow > td {
  padding: 15px 20px;
}

.tab-pane .table .expandRow .panel {
  background-color: transparent;
}

.tab-pane .table .expandRow .panel .panel-heading {
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

.tab-pane .table .expandRow:hover td {
  background-color: #f5f5f5;
}

.tab-pane .table .expandRow .panel .panel-body {
  box-shadow: none;
}

.tab-pane .table .expandRow .colBtn {
  padding-left: 10px;
  text-align: right;
  vertical-align: top;
  width: 14%;
}

.tab-pane .table .expandRow p {
  display: block;
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

.tab-pane .table .expandRow h5 {
  font-weight: bold;
}

.fieldTypeSearch {
  width: 100% !important;
}

.fieldTypeSearch .form-control {
  border-radius: 4px 0px 0px 4px;
  border-right: none 0px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.075) inset;
}

.hcs-search-btn {
  width: 22px;
}

.hcs-search-btn > button{
  height: 34px;
}

.fieldTypeSearch .form-control[disabled], .fieldTypeSearch .form-control[readonly], .fieldTypeSearch fieldset[disabled] .form-control {
  background-color: #ffffff;
}

.nav-tabs li a {
  cursor: pointer;
}

.headRow {
  background-color: #e6f3f9;
  border-radius: 4px;
  margin: 0 0 10px;
  padding: 11px 10px 12px;
}

.headRow .form-group, .headRow .row, .contentRow .row, .contentRow .row .form-group {
  margin: 0px;
}

.contentRow {
  background-color: #f2f4f6;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.145);
  margin: 0;
  padding: 6px 0px 10px 10px ;
}



.headRow .row .col-md-12, .headRow .col-md-6, .contentRow .row .col-md-12, .contentRow .col-md-6, .boxPopUp .row .col-md-12 {
  padding: 0px;
}

.contentRow .row .form-group, .boxPopUp .form-group {
  margin: 4px 0px 0px 0px;
}

.boxPopUp {
  background-color: #f2f4f6;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.145) !important;
  font-size: 14px;
}

.boxPopUp .row .col-md-9 {
  padding-right: 0px;
}

.boxPopUp .form-control {
  font-size: 14px;
}

.contentRow .row .form-group label {
  line-height: 15px;
  padding-left: 5px;
  padding-right: 5px;
}


.hcs-datepicker-btn > button {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
}



.boxPopUp .btn-file {
  float: right;
  width: 82%;
}



.required:after {
  margin-left: -3px;
}

.alignBnt .hcs-input-datepicker {
  float: none !important;
}

.last-update {
  display: block;
  font-style: italic;
  padding: 0px 0px 10px 0px;
}

.delim {
  border-bottom: 1px solid #cccccc;
  clear: both;
  margin-bottom: 8px;
  padding: 0 0 8px;
}

.customPad {
  padding-right: 0;
}

.customPad .alert-info {
  margin-bottom: 14px;
}

.font14 {
  font-size: 14px;
}

.countPages {
  float: right;
}

.countPages .pages-count {
  width: 180px;
}

.form-horizontal textarea.form-control {
  height: 54px;
}

textarea.form-control.single-row {
  height: 20px;
}

.taSelectBtn {
  vertical-align: top !important;
}

.bigBtnIcon span {
  margin: 0 4px 0 0;
  top: 2px;
}


.hcs-input-datepicker .dropdown-menu table {
  margin: 0 5px;
  width: 300px;
}

.hcs-input-datepicker .btn-group .btn-info {
  margin-right: 8px;
}
