.pom_tablet {
    margin: 0;
    position: relative;
    .scroll_content {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.content_pom_tablet {
  max-height: 157px;
  min-height: 90px;
  overflow-y: auto;
}