@media (min-width: 768px) {
  .expanded-width-modal .modal-lg {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .expanded-width-modal .modal-lg {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .expanded-width-modal .modal-lg {
    width: 1170px;
  }
}