.tabbed-panes {
  .nav {
    &.nav-tabs {
      li {
        a {
          font-size: 16px;
          padding: 10px 20px;
          font-weight: normal;
          color: #224d72;
        }
        &.active {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      .panel {
        padding: 0.5em 0;
        -webkit-box-shadow: 0 1px 1px #a3a3a3;
        box-shadow: 0 1px 1px #a3a3a3;
        .form-group {
          margin: 0;

        }
      }
      .form-footer {
        &.empty {
          padding: 0.2em 0;
          margin-top: 1px;
        }
      }
    }
    .table {
      .service-type {
        width: 200px;
      }
      .capacity {
        width: 100px;
      }
      .tariff {
        width: 130px;
      }
      .all-payments{
        width: 120px;
      }
      .payed{
        width: 130px;
      }
      .debt{
        width: 150px;
      }
      .negative {
        color: #991f14;
        font-weight: bold;
      }
      .positive {
        color: #525355;
        font-weight: bold;
      }
      tfoot {
        background: #3e83ad;
        tr {
          td{
            text-align: center;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 5px;
          }
        }
      }
    }
  }
}