<!--// TODO написать директивы для шапки, тела и футера, чтобы можно было спокойно менять оформление-->
<div class="modal-base">
    <div class="modal-header  modal-base__header">
        <ng-close-button ng-click="no('close')"></ng-close-button>
        <h4 class="modal-base__header-title">{{data.title}}</h4>
    </div>
    <div class="modal-body  modal-base__body _padding-0 _bottom _top ">
        <alert type="{{type}}" ng-repeat="messages in data.messages track by $index">
            <div class="row">
                <div class="col-xs-1 _paddin-0 _right text-right">
                    <i class="modal-base__alert-icon glyphicon glyphicon-exclamation-sign"></i>
                </div>
                <div class="col-xs-11">
                    <span ng-repeat="message in messages[0] track by $index">{{message}}<br ng-if="!$last"></span>
                    <ul ng-if="messages[1].length">
                        <li ng-repeat="line in messages[1] track by $index">{{line}}</li>
                    </ul>
                </div>
            </div>
        </alert>
    </div>
    <div class="modal-footer  modal-base__footer _margin-0 _full  text-center">
        <div class="text-center">
            <a class="btn  btn-prime _btn-min-width-125" ng-click="yes('ok')">{{data.okText}}</a>
        </div>

    </div>
</div>