<!--// TODO написать директивы для шапки, тела и футера, чтобы можно было спокойно менять оформление-->

<div class="modal-base">
  <div class="modal-header  modal-base__header">
    <ng-close-button ng-click="yes('ok')"></ng-close-button>
    <h4 class="modal-base__header-title"> {{data.title}} </h4>
    <div class="modal-base__header-subtitle text-center">Сообщение автоматически закроется через {{data.timeOut}} {{data.secondsTxt[data.timeOut]}}</div>

  </div>
  <div class="modal-body _padding-0 _bottom _top  modal-base__body">
    <alert type="info">
      <div class="row">
        <div class="col-xs-1 _padding-0 _right text-right">
          <i class="modal-base__alert-icon glyphicon glyphicon-exclamation-sign"></i>
        </div>
        <div class="col-xs-11">
          {{data.message}}
        </div>
      </div>

    </alert>
  </div>
  <div class="modal-footer  modal-base__footer _margin-0 _full text-center">
    <div class="text-center">
      <a class="btn  btn-prime _btn-min-width-125" ng-click="yes('ok')">{{data.okText}}</a>
    </div>

    </div>
</div>

