<yohtml yo-block="modal">
    <header>{{data.title}}</header>
    <content>
        <alert type="success"
               class="scrollable"
               ng-repeat="messages in data.messages track by $index">
            <div class="row">
                <div class="col-xs-1 _paddin-0 _right text-right">
                    <i class="modal-base__alert-icon glyphicon glyphicon-ok-circle"></i>
                </div>
                <div class="col-xs-11">
                    <span ng-repeat="message in messages[0] track by $index">{{message}}<br ng-if="!$last"></span>
                    <ul ng-if="messages[1].length">
                        <li ng-repeat="line in messages[1] track by $index">{{line}}</li>
                    </ul>
                    <span ng-if="data.footerMessage">{{data.footerMessage}}</span>
                </div>
            </div>
        </alert>
    </content>
    <footer>
        <div class="text-center">

            <yohtml yo-block="button"
                    yo-block-match="button_type-cancel"
                    ng-click="no('no')">
                <icon></icon>
                <text>{{data.noText}}</text>
                <dropdown></dropdown>
            </yohtml>

            <yohtml yo-block="button"
                    yo-block-match="button_type-action"
                    ng-click="yes('yes')">
                <icon></icon>
                <text>{{data.yesText}}</text>
                <dropdown></dropdown>
            </yohtml>

        </div>
    </footer>
</yohtml>
