<!--// TODO написать директивы для шапки, тела и футера, чтобы можно было спокойно менять оформление-->
<div class="modal-base">
  <div class="modal-header  modal-base__header">
    <ng-close-button ng-click="dismiss('cancel')"></ng-close-button>
    <h4 class="modal-base__header-title"> {{data.title}} </h4>
  </div>
  <div class="modal-body  modal-base__body  _padding-0 _bottom _top ">
    <alert type="success">
      <div class="row">
        <div class="col-xs-1 _padding-0 _right text-right">
          <i class="modal-base__alert-icon glyphicon glyphicon-ok-circle"></i>
        </div>
        <div class="col-xs-11">
          {{data.message}}
        </div>
      </div>

    </alert>
  </div>
  <div class="modal-footer  modal-base__footer  _margin-0 _full  text-center">
    <div class="text-center">

      <a class="btn btn-cancel _btn-min-width-125" ng-click="dismiss('cancel')">{{data.cancelBtnText}}</a>
      <a class="btn  btn-cancel _btn-min-width-125" ng-click="close('no')">{{data.noBtnText}}</a>
      <a class="btn btn-action _btn-min-width-125" ng-click="close('yes')">{{data.yesBtnText}}</a>
    </div>
  </div>
</div>