<div class="modal-header">
    <ng-close-button ng-click="modalOptions.close()"></ng-close-button>
    <h3 class="modal-title">Восстановление записи</h3>
</div>
<div class="modal-body">
    <alert type="success" class="scrollable">
        <i class="glyphicon glyphicon-ok-circle"></i>
        <span>У выбранной записи есть дочерние записи. Какое действие необходимо выполнить?</span>
        <form name="restateOptionForm">
            <br/>
            <input type="radio" ng-model="modalOptions.restateOption" value="false">&nbsp;Восстановить только выбранную запись<br/>
            <input type="radio" ng-model="modalOptions.restateOption" value="true">&nbsp;Восстановить выбранную запись и все ее дочерние записи<br/>
            <br/>
        </form>

    </alert>
</div>

<div class="modal-footer">
    <div>
        <button class="btn btn-default" ng-click="modalOptions.close()"  >Отменить</button>
        <button class="btn btn-primary"  ng-click="modalOptions.restate()" ng-disabled="unchanged()">Восстановить</button>
    </div>
</div>



