<div ng-controller="EfPrchOrgSearchController">
    <div>
        <ef-bp-form search-service="searchService" search-parameters="searchParameters" default-search-parameters="defaultSearchParameters">

            <div class="row form-base__body">
                <div class="{{leftColumnStyleClass}}">
                    <div class="form-group form-base__form-group">
                        <label for="org-name-input" class="col-xs-4 control-label  form-base__control-label">Наименование</label>
                        <div class="col-md-6">
                            <input type="text"
                                   id="org-name-input"
                                   class="form-control form-base__form-control"
                                   name="orgName"
                                   ng-model="searchParameters.orgName"/>
                        </div>
                    </div>
                    <div class="form-group form-base__form-group">
                        <label for="inn-input" class="col-xs-4 control-label  form-base__control-label">ИНН</label>
                        <div class="col-md-6">
                            <input integer
                                   ng-trim="false"
                                   type="text"
                                   id="inn-input"
                                   class="form-control  form-base__form-control"
                                   name="inn"
                                   ng-model="searchParameters.inn"
                                   maxlength="24"/>
                        </div>
                    </div>
                    <div class="form-group form-base__form-group">
                        <label for="ogrn-input" class="col-xs-4 control-label  form-base__control-label">ОГРН/ОГРНИП</label>
                        <div class="col-md-6">
                            <input integer
                                   ng-trim="false"
                                   type="text"
                                   id="ogrn-input"
                                   class="form-control  form-base__form-control"
                                   name="ogrn"
                                   ng-model="searchParameters.ogrn"
                                   maxlength="30"/>
                        </div>
                    </div>
                    <div class="form-group form-base__form-group">
                        <label for="okopf-input" class="col-xs-4 control-label  form-base__control-label">Наименование организационно-правовой формы</label>
                        <div class="col-md-6">
                            <input type="text"
                                   id="okopf-input"
                                   class="form-control  form-base__form-control"
                                   name="okopf"
                                   readonly
                                   ng-model="searchParameters.okopf.name" />
                        </div>
                        <div class="col-md-1">
                            <button type='button' class="btn btn-action" ng-click="chooseOkopf()">Выбрать</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-base__form-group" ng-if="showOrgRoleChooser()">
                        <label for="org-role-input" class="col-xs-4 control-label  form-base__control-label">Полномочие</label>
                        <div class="col-md-7">
                            <select id="org-role-input"
                                    class="form-control  form-base__form-control"
                                    name="orgRoleGuid"
                                    ng-model="searchParameters.orgRoleGuid">
                                <option value="null">&nbsp;</option>
                                <option value="-none-">Без полномочий</option>
                                <option ng-repeat="orgRole in organizationRoles" value="{{orgRole.guid}}">
                                    {{orgRole.organizationRoleName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-base__form-group" ng-if="isVisibleOrgTerritorySelect() && showOrgTerritoryRegionsChooser()">
                        <label for="org-territory-select" class="col-xs-4 control-label  form-base__control-label">Административная территория</label>
                        <div class="col-md-7">
                            <select class="form-control  form-base__form-control"
                                    name="orgTerritories"
                                    ng-change=""
                                    ng-model="searchParameters.orgTerritoryRegions"
                                    ui-select2
                                    multiple>
                                <option ng-repeat="territory in fiasRegionsList" value="{{territory.guid}}">
                                    {{territory.formalName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-base__form-group" ng-if="isVisibleOrgTerritoryHousesSelect() && showOrgTerritoryOktmosChooser()">
                        <label for="org-territory-input" class="col-xs-4 control-label  form-base__control-label">
                            Административная территория
                        </label>
                        <div class="col-md-4" ng-if="ifChosenRoleOMS()">
                            <input type="text"
                                   id="org-territory-input"
                                   class="form-control  form-base__form-control"
                                   name="orgTerritory"
                                   ng-model="searchParameters.orgTerritoryOktmos" />
                        </div>
                        <div class="col-md-4" ng-if="ifChosenRoleAOS()">
                            <input type="text"
                                   id="org-territory-input"
                                   class="form-control  form-base__form-control"
                                   name="orgTerritory"
                                   value="{{searchParameters.orgTerritoryHousesAddresses.join(';')}}" />
                        </div>
                        <div class="col-md-3">
                            <button type='button' class="btn btn-action" ng-click="chooseOrgTerritory()">Выбрать</button>
                        </div>
                    </div>
                    <div class="form-group form-base__form-group" ng-if="showOrgStatusesChooser()">
                        <label for="org-status-select" class="col-xs-4 control-label  form-base__control-label">Статус</label>
                        <div class="col-md-7">
                            <select class="form-control  form-base__form-control"
                                    ng-change=""
                                    ng-model="searchParameters.orgStatuses"
                                    ui-select2
                                    multiple>
                                <option ng-repeat="status in organizationStatuses" value="{{status.code}}">
                                    {{status.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </ef-bp-form>
    </div>

    <yohtml yo-block="search-result" ng-controller="EfPrchOrgTableController">
        <header>
            Результаты поиска
        </header>
        <content class="register-search-result_separated _big-table-fix_1">
            <ng-simple-grid ng-config="organizationsTable.config"
                            state="organizationsTable.state"
                            row-click="$parentScope.handleRowClick(rowData)"
                            class="_has-big-table">
                <column title="<input type='checkbox' ng-if='$parentScope.isMultipleSelectionMode()' ng-model='$parentScope.allSelected' ng-change='$parentScope.selectOrDeselectAll()'/>">
                    <input type="radio"
                           ng-model="$parentScope.checkedItem"
                           value="{{rowData.guid}}"
                           ng-if="$parentScope.isSingleSelectionMode()"
                            />
                    <input type="checkbox"
                           ng-checked="$parentScope.checkedItems[rowData.guid]"
                           ng-if="$parentScope.isMultipleSelectionMode()" />
                </column>
                <column title="Полное наименование" cell="fullName"></column>
                <column title="Сокращенное наименование" cell="shortName"></column>
                <column title="ИНН" cell="inn"></column>
                <column title="ОГРН/ОГРНИП">
                    <span ng-if="rowData.ogrn">{{rowData.ogrn}}</span>
                    <span ng-if="!rowData.ogrn">{{rowData.ogrnip}}</span>
                </column>
                <column title="Наименование организационно-правовой формы">
                    {{rowData.okopf.name}}
                </column>
                <column title="Полномочие">
                    <org-roles organization="rowData"></org-roles>
                </column>
                <column title="Административная территория">
                    <org-adm-territories organization="rowData"></org-adm-territories>
                </column>
                <column title="Статус" cell="status">
                    <org-status organization="rowData"></org-status>
                </column>
            </ng-simple-grid>
        </content>
    </yohtml>




</div>