<!--Компонент выбора даты-->
<div class="container-fluid" ng-controller="HcsDatepickerCtrl">
    <div class="row">
        <form name="test" class="form-horizontal" novalidate="novalidate"
              ng-submit="submitForm(test.$valid)">
            <input type="button" class="btn btn-default" ng-click="close()" value="Закрыть"/>
            <div class="form-group col-md-4">
                <div class="col-md-6">
                    <hcs-datepicker ng-model="myDate" options="dateOptions"></hcs-datepicker>
                </div>
                <div class="col-md-1 period-hyphen">-</div>
                <div class="col-md-5">
                    <hcs-datepicker ng-model="anotherDate" options="anotherDateOptions"></hcs-datepicker>
                </div>
            </div>

            <button type="button" ng-click="getDate()" class="btn btn-default">
                Вывести первую дату в js-консоль
            </button>
            <input type="submit" class="btn btn-default" value="Отправить"/>
        </form>
    </div>
</div>