<div class="app-header">
    <div class="row">
        <div class="col-lg-8 col-sm-8">
            <div class="logo-slug">
                <div class="logo"></div>
                <span class="slug">Государственная информационная система жилищно-коммунального хозяйства</span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <user-info></user-info>
        </div>
    </div>
</div>