<a href=""
   class="btn btn-{{1}}"
   yo-block="button"
   yo-block-match="button_type-(cancel|action|prime)">
    <!-- Кнопка -->
        <span yo-param="icon">
            <!-- Иконка в кнопке -->
        </span>
        <span yo-param="text">
            <!-- Текст в кнопке -->
        </span>
        <span yo-param="dropdown">
            <!-- Дропдаун в кнопке -->
        </span>
</a>
