<!-- Обязательно документировать каждый блок или параметр -->
<div class="checkbox"
     yo-block="checkbox">
    <!-- Флаговая кнопка -->
    <label yo-param="content">
        <!-- Содержимое флаговой кнопки -->
    </label>
</div>