<!-- Обязательно документировать каждый блок или параметр -->
<div class="collapse-toggle"
     yo-block="collapse-toggle">
    <!-- Стандартная выпадаюшая панель -->
    <div class="collapse-toggle__pane collapse-toggle__pane_lead">
        <a class="collapse-toggle__ctr"
           yo-param="control">
            <!-- Контрол выпадающей панели -->
        </a>
    </div>

    <div class="collapse-toggle__cnt collapse in"
         yo-param="content">
        <!-- Контент выпадающей панели -->
    </div>
</div>

