<!-- Обязательно документировать каждый блок или параметр -->
<div class="info-message"
     yo-block="message">
    <!-- Сообщение -->
    <label yo-param="content">
        <!-- Содержимое сообщения -->
    </label>
</div>