<!-- Обязательно документировать каждый блок или параметр -->
<div class="dropdown"
     yo-block="multiselect">
    <!-- Список с множественным выбором -->
    <button type="button" class="form-control" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': showErrorOnEvent && !valid()}" popover="{{popOver}}" popover-trigger="{{popOverTrigger}}">
        <div class="text-left overflowHide">{{header}}</div>
        <!-- FIXME: move to less -->
        <div style="position:absolute;right:10px;top:8px"><span ng-class="{'caret-up': popupOpen, 'caret': !popupOpen}"></span></div>
    </button>
    <span class="error-base" ng-if="showErrorOnEvent && !valid()">Поле обязательно для заполнения</span>
    <ul class="dropdown-menu"
        yo-param="items">
        <!-- Элементы выпадающего списка -->
    </ul>
</div>