<!-- Обязательно документировать каждый блок или параметр -->
<div class="radio"
     yo-block="radio">
    <!-- Переключатель -->
    <label yo-param="content">
        <!-- Содержимое переключателя -->
    </label>
</div>