<!-- Обязательно документировать каждый блок или параметр -->
<div class="register-search-result"
     yo-block="search-result">
    <!-- Результаты поиска -->
    <div class="register-search-result__header">
        <h4 class="register-search-result__header-title"
            yo-param="header">
            <!-- Заголовок результатов поиска -->
        </h4>
    </div>

    <div class="register-search-result__body"
         yo-param="content">
        <!-- Список результатов поиска -->
    </div>
</div>