<!-- Обязательно документировать каждый блок или параметр -->
<table class="table table-entity"
     yo-block="table-entity">
    <!-- Таблица -->
    <colgroup yo-param="colwidth">
    <!-- Размеры колонок -->
    </colgroup>
    <thead yo-param="header">
        <!-- Заголовок таблицы -->
    </thead>
    <tbody yo-param="content">
    <!-- Тело таблицы -->
    </tbody>
</table>