<!-- Обязательно документировать каждый блок или параметр -->
<div class="title-group"
     yo-block="title-group">
    <!-- Стандартный title group -->
    <div class="title-group__icon"
         yo-param="icon">

        <!-- Иконка группы -->
    </div>

    <div class="title-group__title"
         yo-param="title">
        <!-- Заголовок группы -->
    </div>
    <div class="title-group__dropdown"
         yo-param="dropdown">
        <!-- Выпадающее меню. Ожидаем HTML -->
    </div>
</div>